{% extends 'core/base.html' %}
{% load static %}
{% block meta_description %}
    <meta name="Description" content="Cabrera de Mar - Error 500: Error intern del servidor">
{% endblock meta_description %}

{% block meta_keywords %}
    <meta name="Keywords" content="Cabrera de Mar, gaudeix, 500, error intern del servidor">
{% endblock meta_keywords %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Error 500: Error Intern del Servidor</h1>
            <p class="lead">Ho sentim, però ha succeït un problema en el nostre servidor.</p>
            <p>Si us plau, intenta-ho de nou més tard o contacta amb el suport tècnic si el problema persisteix.</p>
            <p>Torna a la <a href="/" class="btn btn-primary">pàgina d'inici</a>.</p>

        </div>
    </div>
{% endblock %}
