{% load static %}
{% load i18n %}
{% if coleccion_destacados %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <h4 class="related-activities-title text-center h2">{% blocktrans %}Allotjaments Relacionats{% endblocktrans %}</h4>
        <p class="lead related-activities-subtitle text-center">{% blocktrans %}Descobreix altres allotjaments interessants per gaudir al màxim de la teva estada{% endblocktrans %}.</p>        
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for alojamiento in coleccion_destacados %}
            <div class="swiper-slide">
                <a href="{% url 'agenda:allotjament' slug=alojamiento.slug %}" class="related-activity-link">
                    <div class="card related-activity-card mb-3 {% if alojamiento.tipo == 'hotel' %}tipo-hotel{% elif alojamiento.tipo == 'alberg' %}tipo-alberg{% elif alojamiento.tipo == 'turístic' %}tipo-turistic{% elif alojamiento.tipo == 'autocaravanes' %}tipo-autocaravanes{% endif %}">
                        {% with imagen=alojamiento.postgaleriaimagen_set.first.imagen|default:alojamiento.postimagen.imagen %}
                            {% if imagen.archivo.url %}
                                <div class="image-container">
                                    <img src="{{ imagen.archivo.url }}" alt="{{ imagen.titulo }}" title="{{ imagen.titulo }}" class="img-fluid">
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ alojamiento.titulo }}</h5>
                            <div class="alojamiento-iconos mb-2">
                                <!-- Iconos de características del alojamiento -->
                                {% if alojamiento.adaptado_movilidad_reducida %}
                                    <i class="fas fa-wheelchair" title="{% blocktrans %}Adaptado para personas con movilidad reducida{% endblocktrans %}"></i>
                                {% endif %}
                                {% if alojamiento.parking_gratis %}
                                    <i class="fas fa-parking" title="{% blocktrans %}Parking gratuito{% endblocktrans %}"></i>
                                {% endif %}
                                {% if alojamiento.wifi %}
                                    <i class="fas fa-wifi" title="{% blocktrans %}WiFi disponible{% endblocktrans %}"></i>
                                {% endif %}
                                {% if alojamiento.pet_friendly %}
                                    <i class="fas fa-paw" title="{% blocktrans %}Admite mascotas{% endblocktrans %}"></i>
                                {% endif %}
                            </div>
                            <p class="card-text">
                                {{ alojamiento.descripcion|truncatewords:15|safe }}
                                {% if alojamiento.descripcion|wordcount > 15 %}...{% endif %}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
            
        </div>

        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
    </div>
</section>

{% endif %}

{% block extra_script %}
<script>
    function initSwiper() {
        let swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 3, // Número de tarjetas por slide
            spaceBetween: 10, // Espacio entre tarjetas
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                359:{
                    slidesPerView: 2
                },
                374:{
                    slidesPerView: 2,
                },

                767: {
                    slidesPerView: 3,
                },

                // Configuración para tablets
                991: {
                    slidesPerView: 3,
                },
            },
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        initSwiper();
    });
</script>
{% endblock extra_script %}
