{% load static %}
{% load i18n %}
<aside class="container-fluid">
    <div class="wrapper container">
        <div class="py-3">
            <h3 class="related-activities-title h3 text-center">{% blocktrans %}Agenda{% endblocktrans %}</h3>
            <p class="lead text-center">{% blocktrans %}No et perdis cap activitat, gaudeix Cabrera!{% endblocktrans %}</p>
        </div>
        <div class="row row-inline-cards justify-content-center">
            {% for objeto in ultimos_eventos %}
            <div class="col-12 col-md-6 col-lg-3 p-2">
                <a href="{{ objeto.agenda.get_absolute_url }}" class="related-activity-link my-1">
                    <article class="card related-activity-card mb-3 h-100">
                        {% with imagen=objeto.agenda.postgaleriaimagen_set.first %}
                            {% if imagen and imagen.imagen.archivo.url %}
                            <div class="image-container">
                                <picture>
                                    <source srcset="{{ imagen.imagen.small_thumbnail.url }}" media="(max-width: 575px)">
                                    <img src="{{ imagen.imagen.small_thumbnail.url }}" title="imagen.imagen.titulo" alt="{{ imagen.imagen.titulo }}" class="img-fluid lazy-load-img" width="{{ imagen.imagen.large_thumbnail.width }}" height="{{ imagen.imagen.large_thumbnail.height }}" loading="lazy">
                                </picture>
                            </div>
                            {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h5 class="card-title related-activity-title">{{ objeto.agenda.titulo }}</h5>
                            <p class="card-text related-activity-description">
                                {% if objeto.agenda.descripcion_corta|wordcount > 10 %}{{ objeto.agenda.descripcion_corta|truncatewords:10 }}...{% else %}{{ objeto.agenda.descripcion_corta }}{% endif %}
                            </p>
                            <div class="related-activity-details">
                                <p class="related-activity-date-time">
                                    <i class="fas fa-calendar-alt" style="color: #3ebfab;"></i>
                                    <span class="event-date">{{ objeto.fecha }}</span>
                                    <i class="fas fa-clock" style="color: #3ebfab;"></i>
                                    <span class="event-time">{{ objeto.hora }}</span>
                                </p>
                            </div>
                            {% if objeto.agenda.idiomas %}
                                <div class="container-fluid text-center p-0 m-0" style="">
                                    {% for idioma in objeto.agenda.idiomas.all %}
                                        {% if idioma.nombre == 'es' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/es.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'cat' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/cat.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'en' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/en.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'fr' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/fr.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'it' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/it.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'de' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/de.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'pt' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/pt.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'ar' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/ar.svg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'fem' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/fem.jpg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'au' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/au.jpg' %}" height="25px" width="25px" />
                                        {% elif idioma.nombre == 'inc' %}
                                            <img class="img-fluid" src="{% static 'core/img/banderitas/inc.png' %}" height="25px" width="25px" />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if agenda %}
    <div class="container">
        <div class="col-12 py-3 text-center">
            {% if local_agenda.categoria %}
              <a href="{% url 'blog:categoria' slug=local_agenda.categoria.slug %}" class="btn btn-light btn-custom py-3 px-4" title="Obre tota l'agenda de Cabrera de Mar">{% blocktrans %}Tota l'agenda{% endblocktrans %}</a>
            {% else %}
              <a href="{% url 'blog:categoria' slug=agenda.slug %}" class="btn btn-light btn-custom py-3 px-4" title="Obre tota l'agenda de Cabrera de Mar">{% blocktrans %}Tota l'agenda{% endblocktrans %}</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
  </aside>
  