<section class="container-fluid">
    <div class="wrapper container">



        <div class="py-3">
            <h3 class="related-activities-title h3 text-center">Agenda</h3>
            <p class="lead text-center">No et perdis cap activitat, gaudeix Cabrera!</p>
        </div>
        <div class="row row-inline-cards justify-content-center">
            {% for objeto in agendas %}
            <div class="col-12 col-md-6 col-lg-3 ">
                <a href="{{ objeto.get_absolute_url }}" class="related-activity-link my-1">
                    <article class="card related-activity-card mb-3 h-100">
                        {% with imagen=objeto.postgaleriaimagen_set.first %}
                        {% if imagen %}
                        <div class="image-container">
                            <img src="{{ imagen.imagen.archivo.url }}" alt="{{ objeto.titulo }}" class="img-fluid">
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h5 class="card-title related-activity-title">{{ objeto.titulo }}</h5>
                            <p class="card-text related-activity-description">
                                {% if objeto.descripcion_corta|wordcount > 10 %}{{ objeto.descripcion_corta|truncatewords:10 }}...{% else %}{{ objeto.descripcion_corta }}{% endif %}
                            </p>
                            <div class="related-activity-details">
                                <p class="related-activity-date-time">
                                    <i class="fas fa-calendar-alt" style="color: #3ebfab;"></i>
                                    <span class="event-date">{{ objeto.fecha }}</span>
                                    <i class="fas fa-clock" style="color: #3ebfab;"></i>
                                    <span class="event-time">{{ objeto.hora }}</span>
                                </p>
                            </div>
                        </div>
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if agenda %}
    <div class="container">
        <div class="col-12 py-3 text-center">
            <a href="{% url 'blog:categoria' slug=agenda.slug %}" class="btn btn-light btn-custom py-3 px-4">Tota l'agenda</a>
        </div>
    </div>


    {% endif %}
</section>
