{% load static %}
{% load i18n %}
<div id="calendar" class="row"></div>

<form id="filtro-agenda-form">
  {% csrf_token %}
  <div class="form-group">
    <label class="p-2" for="tipo-evento">{% blocktrans %}Tipus d'esdeveniment{% endblocktrans %}:</label>
    <div id="tipo-evento" class="tipo-evento-buttons">
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="">{% blocktrans %}Tots{% endblocktrans %}</button>
      {% if joves %}
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="joves">{% blocktrans %}Juliol jove{% endblocktrans %}</button>
      {% endif %}
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="musica">{% blocktrans %}Música{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="teatre">{% blocktrans %}Teatre{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="exposicio">{% blocktrans %}Exposició{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="festes">{% blocktrans %}Festes{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="cinema">{% blocktrans %}Cinema{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="dansa">{% blocktrans %}Dansa{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="visites_guiades">{% blocktrans %}Visites guiades{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="activitats_turistiques">{% blocktrans %}Activitats turístiques{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="xarrades">{% blocktrans %}Conferències{% endblocktrans %}</button>
      <button type="button" class="btn btn-light m-lg-0 m-md-0 m-sm-0 m-2" value="altres">{% blocktrans %}Altres{% endblocktrans %}</button>
    </div>
    <input type="hidden" id="tipo_evento" name="tipo_evento" value="">
  </div>
</form>

<aside class="container-fluid">
  <div class="container-fluid mt-5 p-3">
    <div class="row row-inline-cards justify-content-center" id="agenda-section">
      <div id="spinner-container">
        <div class="spinner"></div>
      </div>
      <div class="container-fluid" id="agenda-resultados">
        <!-- Aquí se mostrarán los resultados del filtro -->
        <!-- spinner.html -->


      </div>
    </div>
  </div>
</aside>



{% block extra_script %}
<script>
  // Obtén los elementos HTML necesarios
  const tipoEventoButtons = document.querySelectorAll('.tipo-evento-buttons button');
  const tipoEventoInput = document.getElementById('tipo_evento');
  const filtroForm = document.getElementById('filtro-agenda-form');
  const resultadosContainer = document.getElementById('agenda-resultados');
  const calendarElement = document.getElementById('calendar');
  const spinnerContainer = document.getElementById('spinner-container');


  // Agrega event listeners a los botones de tipo de evento
  document.querySelector('.tipo-evento-buttons').addEventListener('click', (event) => {
    if (event.target.tagName === 'BUTTON') {
      const button = event.target;
      tipoEventoInput.value = button.value;
      actualizarBotonesActivos(button);
      filtrarAgenda();
    }
  });


  // Función para actualizar el estado activo de los botones
  function actualizarBotonesActivos(activeButton) {
    tipoEventoButtons.forEach((btn) => {
      btn.classList.remove('active');
    });
    activeButton.classList.add('active');
  }
  // Agrega event listener al formulario de filtro
  filtroForm.addEventListener('submit', (event) => {
    event.preventDefault();
    filtrarAgenda();
  });

  function filtrarAgenda() {
    const formData = new FormData(filtroForm);
    const csrfToken = formData.get('csrfmiddlewaretoken');

    const currentYear = calendarElement.dataset.year;
    const currentMonth = calendarElement.dataset.month;
    formData.set('year', currentYear);
    formData.set('month', currentMonth);

    mostrarSpinner();
    fetch('/api/filtrar-agenda/', {
      method: 'POST',
      headers: { 'X-CSRFToken': csrfToken },
      body: formData,
    })
    .then(handleResponse)
    .then(data => {
      ocultarSpinner();
      mostrarResultados(data);
    })
    .catch(handleFetchError);
  }

  function handleResponse(response) {
    if (!response.ok) throw new Error('Error en la llamada a la API');
    return response.json();
  }

  function handleFetchError(error) {
    console.error('Error en fetch:', error);
    ocultarSpinner();
  }

  function mostrarSpinner() { spinnerContainer.style.display = 'block'; }
  function ocultarSpinner() { spinnerContainer.style.display = 'none'; }


  function obtenerEventosPorDia(agendas) {
    const eventosPorDia = {};
  
    for (const dia in agendas) {
      const eventos = agendas[dia];
      eventosPorDia[dia] = eventos.map(function (evento) {
        const agenda = evento.agenda;
        const post = evento.post;
        const eventoFusionado = Object.assign({}, agenda, post); // Fusionar campos de agenda y post
        return eventoFusionado;
      });
    }
  
    return eventosPorDia;
  }
  
  function mostrarResultados(resultados) {
    if (resultadosContainer) {
      resultadosContainer.innerHTML = '';
      
      const agendas = JSON.parse(resultados.agendas);
  
      const eventosPorDia = obtenerEventosPorDia(agendas);
  
      const currentYear = calendarElement.dataset.year;
      const currentMonth = calendarElement.dataset.month;
      const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();
      
      const eventosEnElMes = Object.keys(eventosPorDia).filter(function (dia) {
        return parseInt(dia) <= daysInMonth && eventosPorDia.hasOwnProperty(dia);
      });
      
  
      generarCalendario(currentYear, currentMonth, eventosEnElMes);
  
      const eventosPasados = [];
      const eventosFuturos = [];
  
      eventosEnElMes.forEach(function (dia) {
        const dayElement = document.querySelector(`.calendar-day:nth-child(${dia})`);
        dayElement.classList.add('event-day');
  
        const agendasDia = eventosPorDia[dia];
        agendasDia.forEach(function (agenda) {
          const colElement = document.createElement('div');
          colElement.classList.add('col-12', 'h-100');
  
          const cardElement = document.createElement('article');
          cardElement.classList.add('card', 'card-inline', 'related-activity-card', 'h-100');
  
          const imageContainer = document.createElement('div');
          imageContainer.classList.add('image-container');
  
          const imagen = agenda.imagen;
          if (imagen) {
            const image = document.createElement('img');
            image.src = agenda.imagen;
            image.alt = agenda.titulo;
            image.classList.add('img-fluid');
            imageContainer.appendChild(image);
          }
  
          const cardBody = document.createElement('div');
          cardBody.classList.add('card-body');
  
          const cardTitle = document.createElement('h5');
          cardTitle.classList.add('card-title', 'text-center');
          cardTitle.textContent = agenda.titulo;
          cardBody.appendChild(cardTitle);
  
          const cardText = document.createElement('p');
          cardText.classList.add('card-text', 'related-activity-description', 'text-center');
          const descripcionCorta = agenda.descripcion_corta || 'Descripció no disponible';
          cardText.textContent = descripcionCorta;
          cardBody.appendChild(cardText);
          

          const eventDetails = document.createElement('div');
          eventDetails.classList.add('related-activity-details');
  
          const eventDateTime = document.createElement('p');
          eventDateTime.classList.add('related-activity-date-time', 'text-center');
  
          const calendarIcon = document.createElement('i');
          calendarIcon.classList.add('fas', 'fa-calendar-alt');
          calendarIcon.style.color = '#3ebfab';
          eventDateTime.appendChild(calendarIcon);
  
          const eventDate = document.createElement('span');
          eventDate.classList.add('event-date', 'px-1');
          eventDate.textContent = agenda.fecha || 'Fecha no disponible';
          eventDateTime.appendChild(eventDate);
  
          const clockIcon = document.createElement('i');
          clockIcon.classList.add('fas', 'fa-clock');
          clockIcon.style.color = '#3ebfab';
          eventDateTime.appendChild(clockIcon);
  
          const eventTime = document.createElement('span');
          eventTime.classList.add('event-time', 'px-1');
          eventTime.textContent = agenda.hora || 'Hora no disponible';
          eventDateTime.appendChild(eventTime);
          
          const lloc = document.createElement('i');
          lloc.classList.add('fas', 'fa-map-marker-alt','px-1');
          lloc.style.color = '#3ebfab';

          const llocSpan = document.createElement('span');
          llocSpan.textContent = agenda.ubicacion || 'Ubicació no disponible';
          const br = document.createElement('br');

          eventDateTime.appendChild(br);
          eventDateTime.appendChild(lloc);
          eventDateTime.appendChild(llocSpan);

          eventDetails.appendChild(eventDateTime);
          cardBody.appendChild(eventDetails);

          if(agenda.idiomas){
            const divIdiomas = document.createElement('div');
            divIdiomas.classList.add('d-flex', 'justify-content-center', 'p-0', 'm-0');
        
            agenda.idiomas.forEach(idioma => {
                const img = document.createElement('img');
                img.classList.add('img-fluid');
                img.src = "{% static 'core/img/banderitas/' %}" + idioma + ".svg"; // Ajusta la ruta
                img.setAttribute('height', '25px');
                img.setAttribute('width', '25px');
                img.style.marginRight = '10px';

                divIdiomas.appendChild(img);
            });
            cardBody.appendChild(divIdiomas);
            // Agrega divIdiomas al elemento del DOM donde quieras que aparezcan las banderas
        }
        

  
          const detallesLink = document.createElement('a');
          detallesLink.href = '/agenda/' + agenda.slug + '/';
          detallesLink.classList.add('related-activity-link');
          detallesLink.classList.add('col-md-6', 'col-lg-3', 'col-12','p-3');

          cardElement.appendChild(imageContainer);
          cardElement.appendChild(cardBody);
          colElement.appendChild(cardElement);
  
          if (isEventPast(agenda.fecha, agenda.hora)) {

            cardElement.classList.add('past-event');
            const finalizadoDiv = document.createElement('div');
            finalizadoDiv.classList.add('finalizado');
            finalizadoDiv.textContent = 'Finalitzat';
            cardElement.appendChild(finalizadoDiv);
            detallesLink.appendChild(colElement);
            eventosPasados.push(detallesLink);

          } else {

            detallesLink.appendChild(colElement);
            eventosFuturos.push(detallesLink);
            
          }
        });
      });
  
      const rowElement = document.createElement('div');
      rowElement.classList.add('row');
  
      eventosFuturos.forEach(function (colElement) {
        rowElement.appendChild(colElement);
      });
  
      eventosPasados.forEach(function (colElement) {
        rowElement.appendChild(colElement);
      });
  
      resultadosContainer.appendChild(rowElement);
    } else {
      console.log('El contenedor de resultados no se encuentra en el HTML');
    }
  }
  
  
  function isEventPast(fechaString, horaString) {
    const [year, month, day] = fechaString.split('-');
    const [hour, minute] = horaString.split(':');
    const fecha = new Date(year, month - 1, day, hour, minute);
    const currentDate = new Date();
    return fecha < currentDate;
  }
  
  

  // Código para inicializar el calendario
  function generarCalendario(year, month, eventos) {
    // Convierte los valores de año y mes a enteros
    year = parseInt(year);
    month = parseInt(month);
  
    // Calcula el año y mes para el mes anterior
    let prevYear = month === 0 ? year - 1 : year;
    let prevMonth = month === 0 ? 11 : month - 1;

    // Calcula el año y mes para el mes siguiente
    let nextYear = month === 11 ? year + 1 : year;
    let nextMonth = month === 11 ? 0 : month + 1;

    // Crea una nueva instancia de Date para el primer día del mes
    const firstDay = new Date(year, month, 1);

    // Obtén el número de días en el mes
    const daysInMonth = new Date(year, month + 1, 0).getDate();
    let calendar = document.getElementById('calendar');


    // Crea los días del calendario utilizando las clases de Bootstrap
    let calendarDays = '';
    for (let i = 1; i <= daysInMonth; i++) {
      let dayClass = 'calendar-day';
      let dateOfLoop = new Date(year, month, i);

      // Verificar si el día actual está en la lista de eventos
      if (eventos.some(evento => evento.year === year && evento.month === month && evento.day === i)) {
        dayClass += ' event-day';
      }

      // Marcar eventos pasados
      let currentDate = new Date();
      if (dateOfLoop < currentDate) {
        dayClass += ' past-day';
      }

      calendarDays += `<div class="${dayClass}">${i}</div>`;
    }
  
  // Combina los días del calendario
  const calendarHTML = `
  <div class="col-12">
    <div class="calendar">
      <div class="calendar-header">
        <button class="btn btn-link" onclick="mostrarCalendario(${prevYear}, ${prevMonth})"><i class="fas fa-chevron-left"></i></button>
        <h4>${firstDay.toLocaleString('ca-ES', { month: 'long', year: 'numeric' })}</h4>
        <button class="btn btn-link" onclick="mostrarCalendario(${nextYear}, ${nextMonth})"><i class="fas fa-chevron-right"></i></button>
      </div>
      <div class="w-100 d-block"></div>
      <div class="row" id="calendar-agenda-gaudeix">
        ${calendarDays}
      </div>
    </div>
  </div>
  `;
  
  
    // Asigna el HTML generado al elemento del calendario
    calendarElement.innerHTML = calendarHTML;
  
    // Establece los atributos "data-year" y "data-month" en el elemento del calendario
    calendarElement.dataset.year = year;
    calendarElement.dataset.month = month;
  }
  // Función para inicializar y mostrar el calendario
  function mostrarCalendario(year, month) {
    generarCalendario(year, month, []);
    filtrarAgenda();
  }

  const currentDate = new Date();
  mostrarCalendario(currentDate.getFullYear(), currentDate.getMonth());
  filtrarAgenda();

</script>
{% endblock extra_script %}