{% load static %}
<section class="parallax-container">
    {% if parallax %}
        <div class="parallax lazy-bg bg-lazy" data-src="{{ parallax.imagen.url }}">
    {% else %}
        <div class="parallax lazy-bg bg-lazy" data-src="{% static 'core/img/sample/portada-video-bg.jpg' %}">
    {% endif %}

    </div>
    <div class="parallax-content">
        {% if parallax.descripcion_corta %}
            <h2>{{ parallax.descripcion_corta | safe }}</h2>
        {% endif %}
        
    </div>
    <div class="parallax-flecha">
        <a href="javascript:void(0)" title="Anar a la secció principal" aria-label="Anar a la secció principal" id="banner-parallax">
            <img src="{% static "core/img/parallax/down-arrow.svg"%}"/>
        </a>
    </div>
    {% include 'redes_sociales/redes_sociales.html' %}
</section>
