{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}



{% block meta_description %}
  {% if local_agenda.metadescripcion %}
    <meta name="Description" content="{{ local_agenda.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ local_agenda.metadescripcion | safe | striptags }}">
  {% else %}
    {% if local_agenda.descripcion %}
      <meta name="Description" content="{{ local_agenda.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ local_agenda.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
    
{% endblock meta_description%}

{% block meta_keywords %}
  {% if local_agenda.tags.all %}
    <meta name="Keywords" content="{% for tag in local_agenda.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}


{% block title %}
    {% autoescape off %}
        {{ local_agenda.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}

  <style>
      .oculto {
        display:none;
      }
      .loader {
        border: 5px solid #f3f3f3;
        border-top: 5px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
  </style>
{% endblock %}


{% block media %}

      {% include 'agenda/parallax-banner/banner.html' %}

{% endblock media %}

{% block content %}
<section class="px-0 container-fluid">
    <div class="p-5">
        <h1 class="text-center p-3 h1">{{ local_agenda.titulo }}</h1>
        <p class="text-center italic lead">{{ local_agenda.descripcion_corta }}</p>
    </div>

  <div class="container-fuild p-xl-5 p-lg-5 p-sm-2 p-md-3 p-3 content-agenda-detail-container">
    <div class="container p-2">
    <div class="row">
        
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-6">
            
                {% autoescape on %}
                    {{ local_agenda.descripcion | safe }}
                {% endautoescape %}

                <div class="table-responsive">
                  <table class="table table-bordered table-custom">
                    <thead>
                      <tr>
                        <th colspan="2" class="table-header bg-dark text-white">Dades adicionals</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="font-weight-bold"><i class="fas fa-map-marker-alt"></i> Ubicació:</td>
                        <td>
                          <p>
                            <a href="{% url 'map:mapa' slug=local_agenda.ubicacion.slug %}" class="font-weight-bold" title="{{ local_agenda.ubicacion.titulo }}">{{ local_agenda.ubicacion.titulo }}</a>{% if local_agenda.ubicacion.calle %} - <span>{{ local_agenda.ubicacion.calle }}</span>{% endif %},
                            <span>{{ local_agenda.ubicacion.codigo_postal }}</span> <span>{{ local_agenda.ubicacion.comunidad_autonoma }}</span>
                          </p>
                        </td>
                      </tr>
                      {% if local_agenda.idiomas.all %}
                        {% for idioma in local_agenda.idiomas.all %}
                          <tr>
                            <td>
                              {% if idioma.nombre == 'es' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/es.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'cat' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/cat.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'en' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/en.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'fr' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/fr.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'it' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/it.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'de' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/de.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'pt' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/pt.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'ar' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/ar.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'fem' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/fem.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'au' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/au.svg' %}" height="35px" width="35px" />
                              {% elif idioma.nombre == 'inc' %}
                                <img class="img-fluid" src="{% static 'core/img/banderitas/inc.svg' %}" height="35px" width="35px" />
                              {% endif %}
                            </td>
                            <td>
                              {% autoescape on %}
                                {{ idioma.descripcion | safe }}
                              {% endautoescape %}
                            </td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                      <tr>
                        <td class="font-weight-bold"><label for="agenda-select-form"><i class="fas fa-calendar-alt"></i> Data:</label></td>
                        <td>
                          <p class="small"><small>Fes click al selector per veure altres dades.</small></p>
                          <select name="event_date" class="form-control" id="agenda-select-form">
                            <option value="" selected disabled>Selecciona una data de l'esdeveniment</option>
                            {% for event in local_agenda.variationagenda_set.all %}
                              {% with event_counter=forloop.counter0 %}
                                <option value="{{ event_counter }}" data-slug="{{ local_agenda.slug }}" data-variation-pk="{{ event.id }}">
                                  {{ event.fecha|date:'F j, Y' }} - {{ event.hora|time:'h:i A' }}
                                </option>
                              {% endwith %}
                            {% endfor %}
                          </select>

                        </td>
                      </tr>
                      {% if local_agenda.postfichero and local_agenda.postfichero.fichero.archivo.url %}
                      <tr>
                        <td colspan="1" style="border-left:0px;">
                          <i class="fas fa-file-pdf"></i>
                          <strong>PDF:</strong>
                          <a href="{{ local_agenda.postfichero.fichero.archivo.url }}" class="text-black" title="{{ local_agenda.postfichero.fichero.titulo }}" download>
                            descarregar
                          </a>
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>
                </div>
            
            <div class="social-share-buttons">
              <div class="">
                <p class="badge">Comparteix l'acte:</p>
              </div>
              <div>
                <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fab fa-facebook-f fa-2x px-2"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ local_agenda.titulo }}" target="_blank">
                  <i class="fab fa-twitter fa-2x px-2"></i>
                </a>
                {% if redes_sociales %}
                  {% for social in redes_sociales %}
                    {% if social.titulo|lower == "instagram" %}
                      <a href="{{ social.link }}" target="_blank">
                        <i class="fab fa-instagram fa-2x px-2"></i>
                      </a>
                    {% endif %}
                  {% endfor %}
                {% endif %}


              </div>

            </div>
          </div>

          <div class="col-md-6 agenda-img-container">
            {% if local_agenda.postgaleriaimagen_set.count > 1 %}
              <div class="container-fluid px-0 py-0">
                  <div id="post-carrusel-{{ local_agenda.slug }}" class="carousel slide post-carrusel" data-ride="carousel">
                      <ol class="carousel-indicators">
                          {% for imagen in local_agenda.postgaleriaimagen_set.all %}
                          <li data-target="#post-carrusel-{{ local_agenda.slug }}" data-slide-to="{{ forloop.counter0 }}"
                              {% if forloop.first %}class="active"{% endif %}></li>
                          {% endfor %}
                      </ol>
                      <div class="carousel-inner text-center">
                          {% for imagen in local_agenda.postgaleriaimagen_set.all %}
                            {% if imagen and imagen.imagen.archivo.url %}
                              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                  <a href="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" class="fancybox" data-fancybox="post-{{ local_agenda.slug }}">
                                      <picture>
                                          <source srcset="{{ imagen.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                          <source srcset="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                          <source srcset="{{ imagen.imagen.large_thumbnail.url |urlencode }}" media="(min-width: 992px)">
                                          <img src="{{ imagen.image.large_thumbanil.url }}"
                                              data-src="{{ imagen.image.large_thumbanil.url }}"
                                              alt="{{ imagen.imagen.titulo }}"
                                              title="{{ imagen.imagen.titulo }}"
                                              class="img-fluid align-middle lazy-load-img">
                                      </picture>
                                      <img src="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" alt="{{ imagen.imagen.titulo }}" class="img-fluid img-cat-banner">
                                  </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                      </div>
                      <a class="carousel-control-prev" href="#post-carrusel-{{ local_agenda.slug }}" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#post-carrusel-{{ local_agenda.slug }}" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
                  </div>
                  <div class="col-12">
                      <small class="text-center">Fes clic a les imatges per veure la galeria completa</small>
                  </div>
              </div>
            
            {% else %}
              {% with imagen=local_agenda.postgaleriaimagen_set.first %}
                {% if imagen and imagen.imagen.archivo.url %}
                  <div class="fancybox-carousel">
                    <a href="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" class="fancybox" data-fancybox="carousel" data-caption="{{ imagen.imagen.titulo }}">
                      <img src="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" alt="{{ imagen.imagen.titulo }}" class="img-fluid">
                    </a>
                  </div>
                  <div class="col-12">
                    <small class="text-center">Fes clic a les imatges per veure la galeria completa</small>
                  </div>
                {% endif %}
              {% endwith %}
            </div>
            {% endif %}
          </div>
        </div>
    </div>
      </div>
      
  </div>
</section>


{% if google_calendar_link %}
  <!-- Dentro de tu archivo de plantilla HTML -->
  <div class="text-center p-5" style="background-color: {% if header.color_fondo_header %}{{ header.color_fondo_header }}{% else %}#4CAA66{% endif %};">
    <p class="text-center lead">Vols afegir l'activitat més propera a la teva agenda fes click al icone del teu dispositiu.</p>
    <a href="{{ google_calendar_link }}" class="btn btn-outline-light p-3 m-2" target="_blank">
      <i class="fab fa-google"></i><span> Afegir a Google calendar</span>
    </a>
    <!-- Enlace de descarga del archivo .ics -->
    {% if ics_file_url %}
      <a href="{{ ics_file_url  }}" class="btn btn-outline-light p-3 m-2" target="_blank" download>
        <i class="fab fa-apple"></i><span> Descarregar per altres dispositius</span>
      </a>
    {% endif %}
  </div>
{% endif %}

{% if entrades %}
            <div class="jumbotron jumbotron-fluid bg-light text-center mb-0">
              <div class="container">
                <h4 class="display-4">Compra les teves entrades</h4>
                <p class="lead">Tens la oportunitat de comprar les teves entrades per a aquest esdeveniment.</p>
                <a href="https://entradas.codetickets.com/entradas/aj-cabrera-de-mar" class="btn btn-outline-dark btn-lg" target="_blank">Comprar entrades</a>
              </div>
            </div>
{% endif %}


<aside class="container-fuild agenda-pdf-link py-0 my-0">
    <div class="col-md-12 col-lg-12 agenda-special-categories p-5">
        <div class="text-center  m-0 p-2 bg-light agenda-pdf-link">
            <a href="{% url 'agenda:calendario_pdf' %}" class="btn btn-outline-dark btn-lg">
                <i class="fas fa-file-download"></i>
                Descarrega tota l'agenda en PDF
            </a>
        </div>
    </div>
</aside>





{% endblock %}

{% block asides %}
    {% if coleccion_destacados %}
        {% include 'agenda/selecciones/agenda_relacionada.html' %}
    {% endif %}
    

    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}

{% endblock asides %}

{% block extra_script %}

<!-- Agrega este script al final de tu página HTML o en un archivo JavaScript separado -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const agendaSelectForm = document.getElementById("agenda-select-form");
    let spinnerTimeout;
    function createSpinner() {
      const spinnerDiv = document.createElement("div");
      spinnerDiv.id = "spinner";
      spinnerDiv.style.display = "none"; // Inicialmente oculto
      spinnerDiv.classList.add('p-2');
      spinnerDiv.classList.add('text-center');
      spinnerDiv.innerHTML = '<div class="loader"></div>';
  
      // Agregar el spinner como hermano del elemento agenda-select-form
      agendaSelectForm.parentNode.insertBefore(spinnerDiv, agendaSelectForm.nextSibling);
  
      return spinnerDiv;
    }

    const spinner = createSpinner(); // Crear y obtener la referencia al spinner


    function removeEventLinks() {
      const existingEventLinksDiv = document.getElementById("event-links");
      if (existingEventLinksDiv) {
        existingEventLinksDiv.remove();
      }
    }

    function createOrUpdateEventLinks(googleCalendarLink, icsUrl) {
      // Crear un nuevo div para los enlaces si no existe
      
      removeEventLinks();

      let eventLinksDiv = document.createElement("div");
      
      eventLinksDiv.id = "event-links";
      eventLinksDiv.classList.add('p-3');
      eventLinksDiv.classList.add('text-center');

      // Establecer el contenido del div con los enlaces
      eventLinksDiv.innerHTML = `
        <p>
          <a href="${googleCalendarLink}" class="btn btn-outline-dark p-3" target="_blank">
            <i class="fab fa-google"></i><span class="text-muted"> Afegir l'esdeveniment a Google calendar</span>
          </a>
        </p>
        
        <p>
          <a href="${icsUrl}" class="btn btn-outline-dark p-3" target="_blank">
            <i class="fab fa-apple"></i><span class="text-muted"> Afegir l'esdeveniment a altres dispositius</span>
          </a>
        </p>
      `;
  
      // Agregar el div de enlaces como hermano del select
      agendaSelectForm.parentNode.insertBefore(eventLinksDiv, agendaSelectForm.nextSibling);
    }



    // Función para mostrar el spinner
    function showSpinner() {
      clearTimeout(spinnerTimeout); // Limpiar timeout anterior si existe
      spinner.style.display = "block"; // Mostrar el spinner
    }

    // Función para ocultar el spinner con delay
    function hideSpinner(callback) {
      removeEventLinks();
      // Asegurarse de que el spinner se muestre durante al menos 2 segundos
      spinnerTimeout = setTimeout(() => {
        spinner.style.display = "none";
        if(callback){
          callback()
        }
      }, 1000); // 2000 milisegundos = 2 segundos
    }


    // Función para realizar la petición GET al servidor
    async function fetchICSData(eventCounter) {
      const selectedOption = agendaSelectForm.options[eventCounter];
      const slug = selectedOption.dataset.slug;
      const variationPk = selectedOption.dataset.variationPk;

      showSpinner();
      
      try {

        const response = await fetch(`/agenda/ics/?slug=${slug}&variation_pk=${variationPk}`);
        const data = await response.json();

        hideSpinner(() => createOrUpdateEventLinks(data.google_calendar_link, data.url_ics));

      } catch (error) {

        hideSpinner(); // Ocultar el spinner en caso de error
        console.error("Error al obtener el archivo .ics:", error);

      }

    }

    // Agregar el evento de cambio en el formulario
    agendaSelectForm.addEventListener("change", function () {
      const eventCounter = agendaSelectForm.selectedIndex;
      fetchICSData(eventCounter);
    });

    // Realizar la primera llamada al cargar la página (puedes omitir esto si no es necesario)
    // fetchICSData(0);
  });
</script>


{% endblock extra_script %}