{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% autoescape off %}
        {{ local_agenda.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}
{% block media %}

      {% include 'agenda/parallax-banner/banner.html' %}

{% endblock media %}

{% block content %}
<section class="px-0 container-fluid">
    <div class="p-5">
        <h1 class="text-center p-3 h1">{{ local_agenda.titulo }}</h1>
        <p class="text-center italic lead">{{ local_agenda.descripcion_corta }}</p>
    </div>

  <div class="container-fuild p-5 content-agenda-detail-container">
    <div class="container p-2">
    <div class="row">
        
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-6">
            
                {% autoescape on %}
                    {{ local_agenda.descripcion | safe }}
                {% endautoescape %}

                <table class="table table-bordered table-custom">
                  <thead>
                    <tr>
                      <th colspan="2" class="table-header bg-dark text-white">Dades adicionals</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="font-weight-bold"><i class="fas fa-map-marker-alt"></i> Ubicació:</td>
                      <td>
                        <p>
                          <a href="{% url 'map:mapa' slug=local_agenda.ubicacion.slug %}" class="font-weight-bold">{{ local_agenda.ubicacion.titulo }}</a>{% if local_agenda.ubicacion.calle %} - <span>{{ local_agenda.ubicacion.calle }}</span>{% endif %},
                          <span>{{ local_agenda.ubicacion.codigo_postal }}</span> <span>{{ local_agenda.ubicacion.comunidad_autonoma }}</span>
                        </p>
                      </td>
                    </tr>
                    {% for variation in local_agenda.variationagenda_set.all %}
                    <tr>
                      <td colspan="2" class="{% cycle 'odd' 'even' %} combined-cell">
                        <i class="fas fa-calendar-alt"></i> Data: {{ variation.fecha }} | Hora: {{ variation.hora }}
                      </td>
                    </tr>
                    {% endfor %}
                    {% if local_agenda.postfichero %}
                    <tr>
                      <td colspan="2">
                      <i class="fas fa-file-pdf"></i>
                      <strong>PDF:</strong> 
                      <a href="{{ local_agenda.postfichero.fichero.archivo.url }}" class="text-black" download>
                        descarregar
                      </a>
                      <td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
                
                
                
                                   
            
            <div class="social-share-buttons">
                <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fab fa-facebook-f fa-2x px-2"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ agenda.titulo }}" target="_blank">
                  <i class="fab fa-twitter fa-2x px-2"></i>
                </a>
                <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fab fa-instagram fa-2x px-2"></i>
                </a>
            </div>
          </div>
          <div class="col-md-6 agenda-img-container">
            
            {% with imagen=local_agenda.postgaleriaimagen_set.first %}
            {% if imagen %}
              <div class="fancybox-carousel">
                <a href="{{ imagen.imagen.archivo.url }}" class="fancybox" data-fancybox="carousel" data-caption="{{ local_agenda.titulo }}">
                  <img src="{{ imagen.imagen.archivo.url }}" alt="{{ local_agenda.titulo }}" class="img-fluid">
                </a>
                {% for imagen in local_agenda.postgaleriaimagen_set.all %}
                  <a href="{{ imagen.imagen.archivo.url }}" data-fancybox="carousel" data-caption="{{ local_agenda.titulo }}"></a>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <div class="col-12">
            <small class="text-center">Fes clic a la imatge per veure-la completa</small>
          </div>
          </div>
        </div>
    </div>
      </div>
      
  </div>
</section>


{% if entrades %}

            <div class="jumbotron jumbotron-fluid bg-light text-center mb-0">
              <div class="container">
                <h4 class="display-4">Compra les teves entrades</h4>
                <p class="lead">Tens la oportunitat de comprar les teves entrades per a aquest esdeveniment.</p>
                <a href="https://entradas.codetickets.com/entradas/aj-cabrera-de-mar" class="btn btn-outline-dark btn-lg" target="_blank">Comprar entrades</a>
              </div>
            </div>
{% endif %}


<aside class="container-fuild agenda-pdf-link py-0 my-0">
    <div class="col-md-12 col-lg-12 agenda-special-categories p-5">
        <div class="text-center  m-0 p-2 bg-light agenda-pdf-link">
            <a href="{% url 'agenda:calendario_pdf' %}" class="btn btn-outline-dark btn-lg">
                <i class="fas fa-file-download"></i>
                Descarrega l'agenda en PDF
            </a>
        </div>
    </div>
</aside>





{% endblock %}

{% block asides %}
    {% if coleccion_destacados %}
        {% include 'agenda/selecciones/agenda_relacionada.html' %}
    {% endif %}
    

    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}

{% endblock asides %}