{% extends 'core/base.html' %}

{% block meta_description %}
  {% if ruta.metadescripcion %}
    <meta name="Description" content="{{ ruta.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ ruta.metadescripcion | safe | striptags }}">
  {% else %}
    {% if ruta.descripcion %}
      <meta name="Description" content="{{ ruta.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ ruta.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}


{% block meta_keywords %}
  {% if ruta.tags.all %}
    <meta name="Keywords" content="{% for tag in ruta.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ ruta.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}


{% block extra_css %}

<style>
div#map {
    height: 500px;
}
.carousel-inner {
    max-height: 490px;
    width: 100%;
}

.carousel-inner .ruta-carousel-image{
    object-fit: contain;
}

.card-overlay {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.card-overlay::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 5px;
    width: 101%;
    height: 100%;
    background-color: {{ ruta.categoria.color }};
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card-overlay:hover::before {
    opacity: 0.3;
}
div.hover::before{
    opacity: 0.3;
}

.card-overlay .url-link {
    font-size: 1.3rem;
    color: #31C6F8 !important;
}

.card-overlay:hover .url-link,
div.hover .url-link {
    font-weight: bold;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-overlay:hover .image-overlay,
div.hover .image-overlay {
    opacity: 1;
}

.card-img-top {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
}

.card-overlay:hover .card-img-top,
div.hover .card-img-top {
    filter: brightness(70%);
}
.itinerari-image-container{
    height: 100px;
    width: 100%;
}

.image-container img{
    height: 300px;
}

</style>
{% endblock extra_css %}

{% load static %}

{% block media %}
    {% if ruta.postgaleriaimagen_set.all %}
        {% include "agenda/carrusel/ruta/ruta_carrusel.html" %}
    {% endif %}
{% endblock media %}

{% block content %}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <h1 class="py-3">{{ ruta.titulo }}</h1>
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="rutaTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="descripcion-tab" data-toggle="tab" href="#descripcion" role="tab" aria-controls="descripcion" aria-selected="true">Descripció</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="detalles-tab" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="false">Detalls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="itinerario-tab" data-toggle="tab" href="#itinerario" role="tab" aria-controls="itinerario" aria-selected="false">Itinerari</a>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content mt-4" id="rutaTabContent">
                <div class="tab-pane fade show active" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab">
                    <p class="lead">{{ ruta.descripcion | safe }}</p>
                </div>
                <div class="tab-pane fade" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="fas fa-clock" style="color: #3ebfab;"></i></td>
                                <td><strong>Durada:</strong></td>
                                <td>{{ ruta.duracion }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-hiking" style="color: #3ebfab;"></i></td>
                                <td><strong>Pendent:</strong></td>
                                <td>{{ ruta.pendiente }} metres</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-road" style="color: #3ebfab;"></i></td>
                                <td><strong>Distància:</strong></td>
                                <td>{{ ruta.distancia }} quilòmetres</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-palette" style="color: #3ebfab;"></i></td>
                                <td><strong>Tema:</strong></td>
                                <td>{{ ruta.tema }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-biking" style="color: #3ebfab;"></i></td>
                                <td><strong>Activitat:</strong></td>
                                <td>{{ ruta.actividad }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-star" style="color: #3ebfab;"></i></td>
                                <td><strong>Valoració:</strong></td>
                                <td>{{ ruta.valoracion }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-map-signs" style="color: #3ebfab;"></i></td>
                                <td><strong>Tipologia:</strong></td>
                                <td>{{ ruta.get_tipologia_display }}</td>
                            </tr>
                            <tr>
                                <td><i class="fas fa-chart-line" style="color: #3ebfab;"></i></td>
                                <td><strong>Dificultat:</strong></td>
                                <td>{{ ruta.get_dificultad_display }}</td>
                            </tr>
                        </tbody>
                    </table>
    
                </div>
                <div class="tab-pane fade" id="itinerario" role="tabpanel" aria-labelledby="itinerario-tab">
                    <div class="row">
                        {% for mapa in puntos_itinerario %}
                        <div class="col-md-6 p-3">
                            <div class="card mb-3 h-100 card-overlay" id="{{ mapa.slug|stringformat:'s' }}">
                                <div class="image-container itinerari-image-container">
                                    {% if mapa.postimagen.imagen %}
                                        <img src="{{ mapa.postimagen.imagen.archivo.url }}" class="card-img-top" alt="{{ mapa.titulo }}" style="width: 100%; height: 100px; object-fit: cover;">
                                    {% endif %}
                                    <div class="image-overlay"></div>
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">{{ mapa.titulo }}</h5>
                                    <p class="card-text flex-grow-1">
                                        {% autoescape on %}
                                            {{ mapa.descripcion|striptags|truncatewords:30|safe }}
                                        {% endautoescape %}
                                    </p>
                                    <p class="card-text">
                                        <a href="{% url 'map:mapa' slug=mapa.slug %}" class="text-primary pr-2 url-link">Veure més</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col">
                            <div class="card card-overlay">
                                <div class="card-body">
                                    <p class="card-text">No hay mapas disponibles en el itinerario.</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <aside class="container">
                <div id="map"></div>
                <div id="map-loading"></div>
            </aside>
            <aside class="container pt-3">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <p class="text-black-50 bold">Et recomanem l'App de Natura Local per fer aquesta ruta guiada i interpretada. Descarrega-te-la gratis aquí: </p>
                    </div>
                    <div class="col-md-6 pr-md-1">
                        <a href="https://apps.apple.com/es/app/naturalocal/id664903131" target="_blank" title="Descarrega't l'App de Natura Local a l'App Store">
                            <img src="{% static 'core/img/natura_local/naturalocal-apple.png' %}">
                        </a>
                    </div>
                    <div class="col-md-6 pl-md-1">
                        <a href="https://play.google.com/store/apps/details?id=rceinnovation.android.naturalocal&hl=es" target="_blank" title="Descarrega't l'App de Natura Local a Google Play">
                            <img src="{% static 'core/img/natura_local/naturalocal-google.png' %}">
                        </a>
                    </div>
                </div>
            </aside>
            
        </div>
    </div>
</div>
<aside class="container-fluid py-0 pt-5 my-0 d-flex justify-content-center align-items-center">
    <div class="ruta-banner">
        {% if ruta.postimagen %}
            <a href="{{ ruta.enlace_natura_local }}" target="_blank" title="Fes clic aquí per veure la ruta a Natura Local">
                <img src="{{ ruta.postimagen.imagen.archivo.url }}" alt="{{ post.titulo }}" class="img-fluid ruta-banner-image" style="max-height: 650px;width: 100%; object-fit: cover;">
            </a>
        {% endif %}
    </div>
</aside>

{% if rutes %}



<aside class="container-fluid py-5 my-0 d-flex justify-content-center align-items-center">
    <div class="container pt-3">

        <h3 class="pt-3 pb-4">Altres Rutes:</h3>
        <div class="row">
            {% for post in rutes %}
            <a href="{% url 'agenda:ruta' slug=post.slug %}" class="col-md-6 p-3">
                <div class="">
                    <div class="card mb-3 h-100 card-overlay">
                        <div class="image-container">
                            {% if post.postimagen.imagen %}
                                <img src="{{ post.postimagen.imagen.archivo.url }}" class="card-img-top" alt="{{ post.titulo }}">
                            {% endif %}
                            <div class="image-overlay"></div> <!-- Nuevo div para el efecto de oscurecimiento -->
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ post.titulo }}</h5>
                            <p class="card-text flex-grow-1">
                                {% autoescape on %}
                                {{ post.descripcion|striptags|truncatewords:30|safe }}
                                {% endautoescape %}
                            </p>
                            <p>
                                <span class="text-primary text-left mt-auto url-link">Saber més</span>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% empty %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">No hi ha rutes disponibles.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

</aside>

{% endif %}

{% endblock %}



{% block asides %}
    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}
{% endblock asides %}



{% block extra_script %}
<script>
    function loadGoogleMapsAPI(callback) {
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA7t0HCgOTtsO3whwMzARtjbO-cvkPIyyQ&callback=' + callback;
        script.defer = true;
        script.async = true;
        document.head.appendChild(script);
    }

    function openTabAndScroll(tabIndex) {
        const tabContent = document.getElementById('rutaTabContent');
        const tabLinks = document.getElementById('rutaTabs').getElementsByTagName('a');
        const navbar = document.getElementById('navbar');
      
        // Desplazarse al contenido de la pestaña
        const targetTab = document.getElementById(tabIndex);
        if (targetTab) {
          const headerHeight = navbar.classList.contains('fixed-top') ? 130 : 150; // Ajusta el valor según la altura de tu header fijo
      
          // Mostrar el contenido del tab de itinerario
          tabContent.style.display = 'block';
      
          // Esperar un breve período para asegurarse de que el contenido esté visible antes de realizar el desplazamiento
          setTimeout(() => {
            targetTab.style.scrollMarginTop = '90px';
            targetTab.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
      
            // Aplicar un efecto visual para resaltar la tarjeta seleccionada
            targetTab.classList.add('hover');
            //console.log(targetTab)
            // Eliminar el efecto de resaltado después de 2 segundos
            setTimeout(() => {
                targetTab.classList.remove('hover');
            }, 2000);
          }, 100);
        } else {
          console.log("RIP");
        }
      }
      
      function openItinerarioTab(tabIndex) {
        const itinerarioTab = document.getElementById('itinerario-tab');
        if (!itinerarioTab.classList.contains('active')) {
          itinerarioTab.click();
          setTimeout(() => {
            openTabAndScroll(tabIndex);
          }, 500);
        } else {
          openTabAndScroll(tabIndex);
        }
      }
      
    function initMap() {
        const mapContainer = document.getElementById('map');
        const latitudInicio = parseFloat('{{ ruta.punto_inicio.latitud|stringformat:".6f" }}'.replace(',', '.'));
        const longitudInicio = parseFloat('{{ ruta.punto_inicio.longitud|stringformat:".6f" }}'.replace(',', '.'));

        const map = new google.maps.Map(mapContainer, {
            center: { lat: latitudInicio, lng: longitudInicio },
            zoom: 14
        });

        const puntosItinerario = [
            { latitud: {{ ruta.punto_inicio.latitud|stringformat:".6f" }}, longitud: {{ ruta.punto_inicio.longitud|stringformat:".6f" }} },
            {% for mapa in puntos_itinerario %}
            { 
                latitud: {{ mapa.latitud|stringformat:".6f" }},
                longitud: {{ mapa.longitud|stringformat:".6f" }},
                titulo: '{{ mapa.titulo|stringformat:"s" }}',
                imagen: '{{ mapa.postimagen.imagen.archivo.url|stringformat:"s"}}',
                descripcion: "{{ mapa.descripcion|stringformat:"s"|safe|truncatewords_html:10| linebreaksbr  }}",
                url_interno: '{% url 'map:mapa' slug=mapa.slug %}',
                url_externo: '{{ ruta.enlace_natura_local|stringformat:"s" }}',
                pk: '{{ mapa.slug|stringformat:"s" }}',
            },
            {% endfor %}
        ];

        puntosItinerario.forEach((point, index) => {
            const marker = new google.maps.Marker({
                position: { lat: parseFloat(point.latitud), lng: parseFloat(point.longitud) },
                map: map,
                title: `Marcador ${index + 1}`
            });

            const infoWindowContent = `<div class="info-window">
                                          <h4 class="info-window-title">${point.titulo}</h4>
                                          <p class="info-window-image"><img src="${point.imagen}" alt="${point.titulo}" style="width: 100%; height: 100px; object-fit: cover;"></p>
                                          <p class="info-window-description">${point.descripcion}</p>
                                          <p class="info-window-link">
                                            <a href="#" class="text-danger pr-2" onclick="openItinerarioTab('${point.pk}')">Veure més</a>
                                            <a href="${point.url_externo}" target="_blank" class="text-danger">Anar a la ruta</a>
                                          </p>
                                      </div>`;

            const infoWindow = new google.maps.InfoWindow({ content: infoWindowContent });

            marker.addListener('click', function() {
                infoWindow.setContent(infoWindowContent); // Actualizar el contenido del infoWindow en cada clic
                infoWindow.open(map, marker);
            });
        });

        // Activar el carrusel
        $('.ruta-carousel').carousel();
    }

    // Cargar el recurso del API de Google Maps y llamar a la función de inicialización
    loadGoogleMapsAPI('initMap');
</script>
{% endblock extra_script %}
