{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block meta_description %}
  {% if visites.metadescripcion %}
    <meta name="Description" content="{{ visites.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ visites.metadescripcion | safe | striptags }}">
  {% else %}
    {% if visites.descripcion %}
      <meta name="Description" content="{{ visites.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ visites.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}
  {% if visites.tags.all %}
    <meta name="Keywords" content="{% for tag in visites.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
  {{ visites.titulo |striptags | safe  }}
{% endblock title %}

{% block extra_css %}
<style>
  #carouselVisites .carousel-inner img {
      height: 500px;
      object-fit: cover;
      width: 100%;
  }
  .calendar {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      border: 1px solid #ccc;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
    }
    
    .calendar-header {
      padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
    }
    
    .calendar-title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }
    
    .calendar-body {
      padding: 10px;
    }
    
    .calendar-weekdays {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
    .calendar-weekday {
      flex: 1;
      text-align: center;
      font-weight: bold;
    }
    
    .calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 5px;
    }
    
    .calendar-day {
      padding: 10px;
      text-align: center;
    }
    
    .calendar-day.marked-date{
      background-color: #3EBFAB;
    }

    .calendar-day.current-day {
      background-color: #f0f0f0;
    }
    
    .calendar-day.event-day {
      background-color: #ffcccc;
    }
    
    .calendar-day.range-day {
      background-color: #f5f5f5;
    }

    .related-activity-card {
      transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    
    .related-activity-card:hover , .certificado:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
    }
    .certificado-imagen, .certificado{
      height: 100px;
      width: 75px;
    }
    
    /* Estilos para dispositivos móviles */
    @media (max-width: 767px) {
      .calendar {
          max-width: 100%;
          width: 100%;
          justify-content: center;
          align-content: center;
          justify-items: center;
        }
        .calendar-days {
          grid-gap: 0px;
        }
        .calendar-day {
          padding: 0px;
          width: 2.5rem;
          height: 2.5rem;
        }
        .calendar-weekdays{
          padding: 0px;
        }
    }
    
    /* Estilos para tablets */
    @media (min-width: 768px) and (max-width: 1023px) {
      .calendar {
          width: 100%;
          max-width: 100%;

        }
        .calendar-days {
          grid-gap: 0px;
        }
        .calendar-day {
          padding: 0px;
          width: 2.5rem;
          height: 2.5rem;
        }
        .calendar-weekdays{
          padding: 0px;
        }
    }
    
    
    
  </style>
{% endblock %}

{% block media %}
  {% if visites.postgaleriaimagen_set.all.count > 2%}
    {% include 'agenda/carrusel/visita_guiada/visita_guiada_carrusel.html' %}
  {% endif %}

{% endblock media %}

{% block content %}

<section class="mx-0 px-0 pb-5 pt-0 container-fluid">
    <div class="p-3">
        <h1 class="text-center">{{ visites.titulo }}</h1>
    </div>
    <div class="container-fuild p-lg-5 p-sm-5 p-md-5 p-lg-5 p-2 content-agenda-detail-container justify-content-center">
        <div class="container p-2">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-12">
                            <p>{{ visites.descripcion | safe }}</p>                        
                            <div class="col-12 ">
                                <div class="bg-light p-4 rounded">
                                    <h4 class="py-3">{% blocktrans %}Informació addicional{% endblocktrans %}</h4>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-3">
                                            <i class="fas fa-euro-sign"></i>
                                            <strong>Preu:</strong>
                                            {% if visites.precio == 0 %}
                                              <span class="event-price">{% blocktrans %}Gratis{% endblocktrans %}</span>
                                              {% elif visites.precio %}
                                                <span class="event-price">{{ visites.precio }} €</span>
                                            {% endif %}
                                        </li>
                                        <li class="mb-3">
                                            <i class="fas fa-clock"></i>
                                            <strong>{% blocktrans %}Duració{% endblocktrans %}:</strong> {{ visites.duracion|format_duration }}
                                        </li>
                                        <li class="mb-3">
                                            <i class="fas fa-calendar-alt"></i>
                                            <strong>{% blocktrans %}Data d'inici{% endblocktrans %}:</strong> {{ visites.fecha_inicio|date:"j F Y" }}
                                        </li>
                                        <li class="mb-3">
                                            <i class="fas fa-calendar-alt"></i>
                                            <strong>{% blocktrans %}Data de finalització{% endblocktrans %}:</strong> {{ visites.fecha_fin|date:"j F Y" }}
                                        </li>
                                        <li class="mb-3">
                                            <i class="fas fa-users"></i>
                                            <strong>{% blocktrans %}Públic recomanat{% endblocktrans %}:</strong> {{ visites.get_publico_recomendado_display }}
                                        </li>
                                        {% if visites.postfichero and visites.postfichero.fichero.archivo.url %}
                                        <li class="mb-3">
                                          <i class="fas fa-file-pdf"></i>
                                          <strong>PDF:</strong> 
                                          <a href="{{ visites.postfichero.fichero.archivo.url }}" title="{{ visites.postfichero.fichero.titulo }}" class="text-black" download>
                                          {% blocktrans %}descarregar{% endblocktrans %}
                                          </a>
                                        </li>
                                        {% endif %}

                                        <li>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <strong>{% blocktrans %}Ubicació{% endblocktrans %}:</strong>
                                            {% if visites.mapa %}

                                              {% if visites.mapa.enlace_google_maps %}
                                              
                                                <a href="{{ visites.mapa.enlace_google_maps }}" target="_blank">{% blocktrans %}Veure al mapa{% endblocktrans %}</a>
                                              
                                              {% else %}

                                                <a href="https://maps.google.com/maps?q={{ visites.mapa.latitud }},{{ visites.mapa.longitud }}" target="_blank">{% blocktrans %}Veure al mapa{% endblocktrans %}</a>
                                              
                                              {% endif %}

                                            {% else %}
                                              {% blocktrans %}No s'ha proporcionat la ubicació{% endblocktrans %}.
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        <div class="social-share-buttons pt-3 text-center">
                            <!-- Botones para compartir en redes sociales -->
                            <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                <i class="fab fa-facebook-f fa-2x px-2"></i>
                            </a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ visites.titulo }}" target="_blank">
                                <i class="fab fa-twitter fa-2x px-2"></i>
                            </a>
                            <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                                <i class="fab fa-instagram fa-2x px-2"></i>
                            </a>
                    </div>
                    </div>
                        
                    <div class="col-md-6 col-lg-6 col-12 pt-5 pt-lg-0 pt-sm-0 pt-xl-0 pt-md-5">
                      {% if visites.postimagen %}
                          <a href="{{ visites.postimagen.imagen.archivo.url }}" data-fancybox="single-image">
                              <img src="{{ visites.postimagen.imagen.archivo.url }}" title="{{ visites.postimagen.imagen.titulo }}" alt="{{ visites.postimagen.imagen.titulo }}" class="img-fluid fancybox">
                          </a>
                          <div class="col-12">
                            <small class="text-center">{% blocktrans %}Fes clic a l'imatge per veure-la en resolució completa{% endblocktrans %}</small>
                        </div>
                      {% else %}
                          {% with imagenes=visites.postgaleriaimagen_set.all %}
                              {% if imagenes %}
                                  {% if imagenes.first and imagenes.first.imagen.archivo.url %}
                                    <a href="{{ imagenes.first.imagen.archivo.url }}" data-fancybox="single-image">
                                      <img src="{{ imagenes.first.imagen.archivo.url }}" alt="{{ imagenes.first.imagen.titulo }}" class="img-fluid fancybox">
                                    </a>
                                  <div class="col-12">
                                    <small class="text-center">{% blocktrans %}Fes clic a l'imatge per veure-la en resolució completa{% endblocktrans %}</small>
                                  </div>
                                  {% endif %}

                              {% endif %}
                          {% endwith %}
                      {% endif %}
                  </div>
                  
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>


<aside class="pb-5 pt-3">
    <div class="container p-1">
        <h3 class="text-center py-3">{% blocktrans %}Calendari d'Esdeveniments{% endblocktrans %}</h3>
        <div class="row mx-0">
            <div class="col-12 col-lg-8 col-md-6 col-sm-12">
                <div class="calendar">
                  <div class="calendar-header">
                    <button id="prev-month-button" class="btn btn-link">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <h2 class="calendar-title" id="current-month-title"></h2>
                    <button id="next-month-button" class="btn btn-link">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                
                    <div class="calendar-body">
                        <div class="calendar-weekdays">
                            <div class="calendar-weekday">{% blocktrans %}Dl{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Dt{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Dc{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Dj{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Dv{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Ds{% endblocktrans %}</div>
                            <div class="calendar-weekday">{% blocktrans %}Dg{% endblocktrans %}</div>
                        </div>
                        <div class="calendar-days" id="calendar-days"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12 mt-3 mt-lg-0 mt-md-0 mt-sm-0">
                <div class="card mb-1">
                    <div class="card-body">
                        <h4 class="card-title">
                            {% load custom_filters %}
                            {% with fecha_inicio=visites.fecha_inicio fecha_fin=visites.fecha_fin %}
                            {% if fecha_inicio == fecha_fin %}
                            {{ fecha_inicio|date:"j F" }}
                            {% else %}
                            {{ fecha_inicio|date:"j F" }} - {{ fecha_fin|date:"j F" }}
                            {% endif %}
                            {% endwith %}
                        </h4>
                        <h5 class="card-title" id="event-title">{% blocktrans %}Duració diària{% endblocktrans %}:</h5>
                        <p class="card-text"><i class="fas fa-clock"></i>{{ visites.duracion|format_duration }}</p>
                    </div>
                </div>

                {% if visites.certificados.exists %}
                <div class="container-fluid mx-0 py-2">
                    <div class="row">
                        <div class="col-12 py-3">
                            <h4 class="titulo-certificados text-center">{% blocktrans %}Certificats de Turisme Sostenible{% endblocktrans %}</h4>
                        </div>
                        {% for certificado in visites.certificados.all %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                {% if certificado.enlace_externo and certificado.logo %}
                                    <a href="{{ certificado.enlace_externo }}" class="link" title="{{ certificado.nombre }}">
                                        <div class="certificado">
                                            <img src="{{ certificado.logo.url }}" alt="{{ certificado.nombre }}" class="certificado-imagen img-thumbnail">
                                        </div>
                                    </a>
                                {% elif certificado.logo %}
                                    <div class="certificado">
                                        <img src="{{ certificado.logo.url }}" alt="{{ certificado.nombre }}" class="certificado-imagen img-thumbnail">
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            
            </div>
        </div>
    </div>
    {% if agendas_relacionadas %}
    <aside class="container p-3">
      <div class="py-3">
          <h4 class="related-activities-title">{% blocktrans %}Esdeveniments de la visita guiada{% endblocktrans %}:</h4>
      </div>
      <div class="row row-inline-cards justify-content-center px-0">
          {% for objeto in agendas_relacionadas %}
          <div class="col-12 col-md-6 col-lg-4 py-3">
              <a href="
                {% spaceless %}
                  {{ objeto.get_absolute_url }}
                {% endspaceless %}" class="related-activity-link my-1">

                  <article class="card related-activity-card mb-3 h-100">
                    {% with imagen=objeto.postgaleriaimagen_set.first %}
                    {% if not imagen %}
                      {% with imagenPost=objeto.postimagen %}
                        {% if imagenPost and imagenPost.imagen.archivo.url %}
                          <div class="image-container">
                            <img src="{{ imagenPost.imagen.archivo.url }}" alt="{{ imagenPost.imagen.titulo }}" title="{{ imagenPost.imagen.titulo }}" class="img-fluid">
                          </div>
                        {% endif %}
                      {% endwith %}
                    {% else %}
                        {% if imagen and imagen.imagen.archivo.url %}
                          <div class="image-container">
                            <img src="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" alt="{{ imagen.imagen.titulo }}" class="img-fluid">
                          </div>
                        {% endif %}

                    {% endif %}
                  {% endwith %}
                  
                      <div class="card-body text-center">
                          <h5 class="card-title related-activity-title">{{ objeto.titulo }}</h5>
                          <p class="card-text related-activity-description">
                            {% autoescape on %}
                              {% if objeto.descripcion_corta|wordcount > 10 %}{{ objeto.descripcion_corta|truncatewords:10 }}...{% else %}{{ objeto.descripcion_corta }}{% endif %}
                            {% endautoescape %}
                            </p>
                      </div>
                  </article>
              </a>
          </div>
          {% endfor %}
      </div>
  </aside>
    {% endif %}

</aside>


{% endblock %}

{% block asides %}

    {% if coleccion_destacados %}
        {% include 'agenda/selecciones/agenda_relacionada.html' %}
    {% endif %}

    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}
    
{% endblock asides %}

{% block extra_script %}
  <script>

// Obtener las fechas de inicio y fin del modelo de Django
const fechaInicioString = '{{ visites.fecha_inicio }}';
const fechaFinString = '{{ visites.fecha_fin }}';

// Mapear los meses en catalán a sus equivalentes en inglés
const monthMap = {
  'gener': 'gener',
  'febrer': 'febrer',
  'març': 'març',
  'abril': 'abril',
  'maig': 'maig',
  'juny': 'juny',
  'juliol': 'juliol',
  'agost': 'agost',
  'setembre': 'setembre',
  'octubre': 'octubre',
  'novembre': 'novembre',
  'desembre': 'desembre'
};

// Obtener el día, mes y año de la fecha de inicio
const fechaInicioParts = fechaInicioString.split(' ');
const diaInicio = parseInt(fechaInicioParts[0]);
const mesInicio = monthMap[fechaInicioParts[1]];
const anyInicio = parseInt(fechaInicioParts[3]);

// Obtener el día, mes y año de la fecha de finalización
const fechaFinParts = fechaFinString.split(' ');
const diaFin = parseInt(fechaFinParts[0]);
const mesFin = monthMap[fechaFinParts[1]];
const anyFin = parseInt(fechaFinParts[3]);

// Crear los objetos Date con las fechas formateadas
const fechaInicioFormatted = '{{ visites.fecha_inicio|date:"m/d/Y" }}';
const fechaFinFormatted = '{{ visites.fecha_fin|date:"m/d/Y" }}';
let fechaInicio = new Date(fechaInicioFormatted);
let fechaFin = new Date(fechaFinFormatted);

// Copiar las fechas originales
let fechaInicioOriginal = new Date(fechaInicio);
let fechaFinOriginal = new Date(fechaFin);

// Verificar si ambas fechas son válidas y si la fecha de inicio es menor o igual a la fecha de finalización
if (!isNaN(fechaInicio.getTime()) && !isNaN(fechaFin.getTime()) && fechaInicio <= fechaFin) {
  document.addEventListener('DOMContentLoaded', function() {
    // Obtener el calendario marcado
    const calendarDays = document.getElementById('calendar-days');

    // Obtener los elementos de los botones
    const prevMonthButton = document.getElementById('prev-month-button');
    const nextMonthButton = document.getElementById('next-month-button');

    // Agregar manejadores de eventos a los botones
    prevMonthButton.addEventListener('click', function() {
      fechaInicioOriginal.setMonth(fechaInicioOriginal.getMonth() - 1);
      fechaFinOriginal.setMonth(fechaFinOriginal.getMonth() - 1);
      actualizarCalendario();
    });

    nextMonthButton.addEventListener('click', function() {
      fechaInicioOriginal.setMonth(fechaInicioOriginal.getMonth() + 1);
      fechaFinOriginal.setMonth(fechaFinOriginal.getMonth() + 1);
      actualizarCalendario();
    });

    // Función para actualizar el calendario
    function actualizarCalendario() {
      const currentYear = fechaInicioOriginal.getFullYear();
      const currentMonth = fechaInicioOriginal.getMonth();

      // Actualizar el título del mes
      currentMonthTitle.textContent = fechaInicioOriginal.toLocaleString('ca', { month: 'long', year: 'numeric' });

      // Generar los días del calendario
      const daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();

      let calendarHTML = '';

      for (let i = 1; i <= daysInMonth; i++) {

        const date = new Date(currentYear, currentMonth, i);
        if (date.getMonth() === fechaInicio.getMonth() && date.getFullYear() === fechaInicio.getFullYear()) {

          const dayClass = (date >= fechaInicio && date <= fechaFin) ? 'calendar-day marked-date' : 'calendar-day';
          calendarHTML += `<div class="${dayClass}">${i}</div>`;

        }else if(date.getMonth() === fechaFin.getMonth() && date.getFullYear() === fechaFin.getFullYear()){

          const dayClass = (date <= fechaFin) ? 'calendar-day marked-date' : 'calendar-day';
          calendarHTML += `<div class="${dayClass}">${i}</div>`;

        }else{

          const dayClass = 'calendar-day';
          calendarHTML += `<div class="${dayClass}">${i}</div>`;
          
        }
      }

      calendarDays.innerHTML = calendarHTML;
    }

    // Obtener el elemento del título del mes
    const currentMonthTitle = document.getElementById('current-month-title');

    // Inicializar el calendario al cargar la página
    actualizarCalendario();
  });
}




    
    document.addEventListener('DOMContentLoaded', function() {
      // Inicializar FancyBox para todos los elementos con la clase "fancybox"
      Fancybox.bind('.fancybox', {
        // Opciones de configuración de FancyBox
        groupAll: true,
      });
    });
  </script>
{% endblock extra_script %}
