{% if evento_especial.agendas %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <h4 class="related-activities-title text-center h2 custom-title">Destacats</h4>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for post in evento_especial.agendas.all %}
                <div class="swiper-slide">
                    <a href="
                        {% if post.agenda %} 
                            {% url 'agenda:detalle_agenda' slug=post.slug %}
                        {% elif post.visitaguiada %}
                            {% url 'agenda:visites-guiades' slug=post.slug %}
                        {% elif post.mappoint %}
                            {% url 'map:mapa' slug=post.slug %}
                        {% else %}
                            {{ post.get_absolute_url }}
                        {% endif %}" 
                    class="related-activity-link">
                        
                        <div class="card related-activity-card mb-3 h-100">
                            {% with imagen=post.postgaleriaimagen_set.first %}
                            {% if imagen %}
                            <div class="image-container">
                                <picture>
                                    <source srcset="{{ imagen.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                    <source srcset="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                    <img src="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" alt="{{ agenda.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagen.imagen.large_thumbnail.height }}" loading="lazy">
                                </picture>
                            </div>                        
                            {% else %}
                            {% with imagenbanner=post.postimagen %}
                                {% if imagenbanner %}
                                <div class="image-container">
                                    <picture>
                                        <source srcset="{{ imagenbanner.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                        <source srcset="{{ imagenbanner.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                        <img src="{{ imagenbanner.imagen.medium_thumbnail.url |urlencode }}" alt="{{ agenda.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagenbanner.imagen.large_thumbnail.height }}" loading="lazy">
                                    </picture>
                                </div>                        
                                {% endif %}
                                {% endwith %}
                            {% endif %}
                            {% endwith %}
                            <div class="card-body text-center">
                                <h5 class="card-title related-activity-title">{{ post.titulo }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
    </div>
</section>

{% endif %}
