{% extends "core/base.html" %}
{% load static %}

{% block meta_description %}

    {% if evento_especial.metadescripcion %}
        <meta name="Description" content="{{ evento_especial.metadescripcion | safe | striptags }}">
        <meta property="og:description" content="{{ evento_especial.metadescripcion }}">
    {% else %}
        <meta name="Description" content="{{ evento_especial.contenido | safe | striptags }}">
        <meta property="og:description" content="{{ evento_especial.contenido | striptags | truncatewords_html:150 | safe  }}">
    {% endif %}

{% endblock meta_description%}

{% block meta_keywords %}

    {% if evento_especial.tags.all %}
        <meta name="Keywords" content="{% for tag in evento_especial.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    {% endif %}

{% endblock meta_keywords %}

{% block meta_image %}
    {% if evento_especial %}
        {% if evento_especial.logo_especial %}
            <meta property="og:image" content="{{ evento_especial.get_logo_absolute_url }}">
        {% else %}
            {% if header.logo %}
                <meta property="og:image" content="{{ header.get_logo_absolute_url }}">
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock meta_image %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ evento_especial.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
<style>
    .titulo-principal {
        font-size: 6.5rem;
        font-weight: bold;
        color: {{ evento_especial.color | safe }}; /* Color primario */
        margin-bottom: 20px;
        text-align: end;
    }
    .titulo-principal-pdf{
        font-size: 3.5rem;
        font-weight: bold;
        color: {{ evento_especial.color | safe }}; /* Color primario */
        margin-bottom: 20px;
        text-align: end;
    }
    .border-left-evento{
        border-left: 5px solid {{ evento_especial.color | safe }} !important;
        font-size: 1.5rem;
        line-height: 1.5;
        align-self: center;
    }
    p.int-value{
        color: {{ evento_especial.color | safe }}; /* Color primario */
        font-weight: bold;
        font-size: 6.5rem;
    }
    p.string-value{
        font-weight: bold;
        font-size: 3.5rem;
    }
    
    .event-container .container-fluid {
        background-color: #f9f9f9;
        padding-top: 30px;
        margin: 0;
    }
    
    .event-container .row.justify-content-center {
        margin-top: 50px;
    }
    
    .event-container .col-12.d-flex.flex-wrap {
        justify-content: center;
    }
    .bg-event {
        background: linear-gradient(135deg, rgba(238, 238, 238, 0.95) 0%, rgba(238, 238, 238, 0.95) 33%, rgba(238, 238, 238, 0.95) 66%, rgba(238, 238, 238, 1) 100%);
      }
      
    

    .event-container .collage-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1) inset;

    }

    .btn-download {
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: {{ evento_especial.color | safe }}; /* Color primario */
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    

    .btn-download:hover {
        background-color: darken({{ evento_especial.color | safe }}, 10%); /* Color primario oscurecido al 10% */
        transform: translateY(-3px) scale(1.05);
    }
    
    .btn-download:active {
        transform: translateY(1px) scale(0.98);
    }
    

    .btn-icon {
        margin-right: 5px;
    }
    
    .btn-text {
        vertical-align: middle;
    }
    .link-div {
        text-align: center;
        margin-top: 20px;
      }
      
      .link {
        display: inline-block;
        padding: 30px 50px;
        font-weight: bold;
        color: {{ evento_especial.color | safe }};
        background-color: #f9f9f9;
        border: 2px solid {{ evento_especial.color | safe }};
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .link:hover {
        background-color: {{ evento_especial.color | safe }};
        color: white !important;
      }
      .title-countdown{
        font-size: 6.5rem;
      }

      @media screen and (max-width: 768px) {
        .titulo-principal {
            font-size: 4rem;
            margin-bottom: 35px;
            text-align: center;
          }
        .border-left-evento{
            border: none;
            text-align: center;
        }
        .title-countdown{
            font-size: 4rem;
        }
        p.int-value{
            text-align: center;
        }
        p.string-value{
            text-align: center;
        }
        .event-container .collage-img{
            margin: 5px;
        }
        .evento_especial_link {
            padding: .5rem;
        }
      }

      /* Estilos específicos para el Swiper */
      #special-event.swiper-container {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
      }
  
      #special-event .swiper-wrapper {
          width: 100%;
          display: flex;
          align-items: stretch; 
      }
  
      #special-event .swiper-slide {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-center;
          align-items: center;
          text-align: center;
      }


</style>
{% endblock extra_css %}

{% block media %}
    <div class="hero-evento-especial">
        {% include 'parallax/parallax.html' %}
    </div>
{% endblock media %}

{% block content %}
<div class="container-fluid bg-gray p-0 m-0">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12 align-content-end">
                <h1 class="titulo-principal">{{ evento_especial.titulo | safe }}</h1>
            </div>
            <div class="col-lg-6 col-12 border-left-evento align-content-start">
                {% autoescape on %}
                    {{ evento_especial.descripcion_corta | safe }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% if evento_especial.eventoespecialgaleriaimagen_set.all.count >= 4 %}
    <div class="container-fluid p-t-3 m-0 event-container bg-event">
        <div class="row justify-content-center mt-5">
            <div class="col-12 d-flex flex-wrap">
                {% for imagen in evento_especial.eventoespecialgaleriaimagen_set.all %}
                    <a href="{{ imagen.imagen.archivo.url }}" class="fancybox">
                        <img src="{{ imagen.imagen.archivo.url }}" alt="{{ evento_especial.titulo }}" class="img-fluid collage-img" style="width: {{ imagen.imagen.archivo.width }}px; height: {{ imagen.imagen.archivo.height }}px;">
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12">
                <small class="d-block text-center mt-3">Fes clic a les imatges per veure la galeria completa</small>
            </div>
        </div>
    </div>
{% endif %}



{% if evento_especial.eventofichero %}
    <div class="container-fluid bg-gray p-0 m-0">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 align-content-end">
                    <p class="titulo-principal-pdf"><span class="text-black">Descarrega el programa d{% if evento_especial.titulo|lower|slice:"0:1" in "aeiou" %}'{{ evento_especial.titulo | safe }}{% else %}e {{ evento_especial.titulo | safe }}{% endif %}</span></p>
                </div>
                <div class="col-lg-6 col-12 border-left-evento align-content-start">
                    <a href="{{ evento_especial.eventofichero.fichero.archivo.url }}" class="link" target="_blank">
                        Descarregar PDF
                    </a>
                </div>
                
            </div>
        </div>
    </div>
{% endif %}



{% if evento_especial.has_ended %}
    <div class="container-fluid bg-gray p-0 m-0 py-5">
        <div class="jumbotron jumbotron-fluid bg-light text-center">
            <div class="container">
            <h3 class="titulo-principal text-center">{{evento_especial.titulo}} ha finalitzat!</h3>
            <p class="lead">Gràcies per participar.</p>
            </div>
        </div>
    </div>
{% elif evento_especial.is_now %}
    <div class="container-fluid bg-gray p-0 m-0 py-5">
        <div class="container mt-3">
            <div class="row" id="countdown">
                <div class="col-12 text-center py-3">
                    <h2 class="title-countdown" >Encara / Només falten</h2>
                </div>
                <div class="col-12 col-lg-3 col-md-6" >
                    <div class="container">
                        <p class="int-value"><span id="days"></span></p>
                        <p class="string-value">dies</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="container">
                        <p class="int-value"><span id="hours"></span></p>
                        <p class="string-value">hores</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 ">
                    <div class="container">
                        <p class="int-value"><span id="minutes"></span></p>
                        <p class="string-value">minuts</p>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="container">
                        <p class="int-value"><span id="seconds"></span></p>
                        <p class="string-value">segons</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% else %}

    <div class="container-fluid bg-gray p-0 m-0 py-5">
        <div class="jumbotron jumbotron-fluid bg-light text-center">
            <div class="container">
            <h1 class="titulo-principal text-center">{{evento_especial.titulo}} ha començat!</h1>
            <p class="lead">Gaudeix de l'event que has estat esperant.</p>
            </div>
        </div>
    </div>

{% endif %}




{% if not  evento_especial.has_ended %}
    <div class="container-fluid bg-gray p-0 m-0 pb-5">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="link-div">
                    <a href="https://entradas.codetickets.com/entradas/aj-cabrera-de-mar" target="_blank" class="link">Obtén les teves entrades aquí!</a>
                </div>              
            </div>
        <div>
    </div>
{% endif %}




{% endblock content %}

{% block asides %}

    {% if tren and autopista and bus and aeroport %}
        {% include "como_llegar/como_llegar.html" %}
    {% endif %}

    {% if evento_especial.agendas  %}
        {% include 'eventos_especiales/agenda_selection.html' %}
    {% endif %}

    {% if evento_especial.eventomensaje_set.all %}
    <div class="swiper-container" id="special-event">
        <div class="p-3 m-3">
            <h1 class="h1 text-center" style="color:{{ evento_especial.color |safe }};">Missatges del Nostre Equip Municipal</h1>
        </div>
        <div class="swiper-wrapper">
            {% for evento_mensaje in evento_especial.eventomensaje_set.all %}
                <div class="swiper-slide mx-lg-2 p-lg-2">
                    <div class="card h-100">
                        <div class="card-body">
                            {% if evento_mensaje.mensaje.autor.foto %}
                                <img src="{{ evento_mensaje.mensaje.autor.foto.url }}" alt="{{ evento_mensaje.mensaje.autor.nombre }}" class="card-img-top rounded-circle mx-auto d-block" style="width: 100px; height: 100px; object-fit: cover;">
                                <p class="text-muted text-center text-black-50"><h5 style="color:{{ evento_especial.color |safe }};">{{ evento_mensaje.mensaje.autor.nombre }}</h5></p>
                                <p class="text-center mt-2"><small class="text-muted">{{ evento_mensaje.mensaje.autor.cargo }}</small></p>
                            {% endif %}
                            {% if evento_mensaje.mensaje.titulo %}
                                <h5 class="card-title text-center mt-3 h3" style="color:{{ evento_especial.color |safe }};">{{ evento_mensaje.mensaje.titulo }}</h5>
                            {% endif %}
                            <p class="card-text">
                                {% autoescape on %}
                                    {{ evento_mensaje.mensaje.contenido | safe }}
                                {% endautoescape %}
                            </p>
                            {% if evento_mensaje.mensaje.mensaje_despedida %}
                                <p class="text-muted text-right"><small style="color:{{ evento_especial.color |safe }};">{{ evento_mensaje.mensaje.mensaje_despedida }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Añadir controles de navegación si hay más de un mensaje -->
        {% if evento_especial.eventomensaje_set.all.count > 1 %}
            <div class="swiper-button-prev custom-prev"></div>
            <div class="swiper-button-next custom-next"></div>
        {% endif %}
    </div>
{% endif %}




    {% if evento_especial.mostrar_ahorro %}
        <aside class="container-fluid m-0 p-0">
                {% if evento_especial.medida_economica %}
                    <div class="jumbotron jumbotron-fluid m-0" style="background: black;">
                            <div class="container">
                                <h3 class="display-4 text-center text-capitalize m-2 p-2 text-white">{{ evento_especial.medida_economica.titulo_html }}
                                    <a href="javascript:void(0);" tabindex="0" class="btn btn-lg btn-link text-white" role="button" data-toggle="popover" data-trigger="focus" title="Detall de la mesura" data-content="{% autoescape off %}{{ evento_especial.medida_economica.descripcion | safe }} {% endautoescape %}">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </h3>

                                <div class="container text-center mt-5">
                                    <h2 class="mb-4 text-white">Ajust de Pressupost</h2>
                                    <div class="display-4 display-3-md display-2-lg" style="color:{{ evento_especial.color |safe }};">
                                        {% if evento_especial.medida_economica.impacto_economico < 0 %}
                                            <span>-</span>
                                        {% else %}
                                            <span>+</span>
                                        {% endif %}
                                        <span class="font-weight-bolder" id="savingsCounter" data-target="{{ evento_especial.medida_economica.impacto_economico|floatformat:'2' }}">€0</span>
                                    </div>
                                </div>                          
                            </div>
                        </div>
                {% endif %}
        </aside>
    {% endif %}



{% endblock asides %}



{% block extra_script %}
<script>
    // Elimina la función randomSize() ja que no és necessària
    
    // Afegeix aquesta funció per obtenir la mida aleatòria de les imatges
    function getRandomSize(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    // Obtingu les imatges i estableix la mida aleatòria per a cadascuna
    var images = document.querySelectorAll('.collage-img');
    for (var i = 0; i < images.length; i++) {
        var width = getRandomSize(350, 1024);
        var height = getRandomSize(200, 700);
        images[i].style.width = width + 'px';
        images[i].style.height = height + 'px';
    }
    
    // Funció per actualitzar el compte enrere
    function updateCountdown() {

        // Obtingu la data de l'esdeveniment especial i la data actual
        var eventDate = new Date("{{ evento_especial.fecha_evento|date:'Y-m-d' }}");
        var currentDate = new Date();
        // Calcula la diferència en mil·lisegons entre les dues dates
        var difference = eventDate.getTime() - currentDate.getTime();

        if (difference <= 0) {
            // Si el temps restant és 0 o negatiu, mostra un missatge o realitza alguna acció
            document.getElementById("countdown").innerHTML = "¡L'esdeveniment ha començat!";
            // Atura el compte enrere si ja ha arribat a 0
            clearInterval(countdownInterval);
            return;
        }

        // Calcula els dies, hores, minuts i segons restants
        var days = Math.floor(difference / (1000 * 60 * 60 * 24));
        var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((difference % (1000 * 60)) / 1000);

        // Actualitza els elements HTML amb els valors calculats
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;
    }

    // Espera que s'hagi carregat completament l'HTML
    document.addEventListener("DOMContentLoaded", function() {
        // Crida a la funció updateCountdown() inicialment per mostrar el compte enrere
        let countdownElement = document.getElementById("countdown")
        if(countdownElement){
            updateCountdown();

            // Actualitza el compte enrere cada segon
            var countdownInterval = setInterval(updateCountdown, 1000);
    
            // Atura el compte enrere si ja ha arribat a 0
            if (document.getElementById("countdown").innerHTML === "¡L'esdeveniment ha començat!") {
                clearInterval(countdownInterval);
            }
        }

    });

    document.addEventListener('DOMContentLoaded', function() {
        // Inicialitza el FancyBox per a tots els elements amb la classe "fancybox"
        Fancybox.bind('.fancybox', {
            // Opcions de configuració del FancyBox
            groupAll: true,
        });
        const customTitle = document.querySelector('.custom-title');

        // Canvia el text del títol
        if(customTitle){
            customTitle.textContent = 'Activitats principals';
        }
    });

    $(function () {
        $('[data-toggle="popover"]').popover()
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const counterElement = document.getElementById('savingsCounter');
        if (!counterElement) return;
    
        const targetValue = counterElement.getAttribute('data-target').replace(',', '.');
        const target = Math.abs(parseFloat(targetValue)); // Siempre trabajar con el valor absoluto
        let savings = 0;
        const increment = target / 100; 
        let hasStartedCounting = false;
    
        const startCounting = () => {
            const timer = setInterval(() => {
                savings += increment;
                if (savings >= target) {
                    clearInterval(timer);
                    savings = target; // Asegurar que el valor final sea exactamente el target
                }
                counterElement.textContent = `${savings.toFixed(2).replace('.', ',')}€`;
            }, 30);
        };
    
        window.addEventListener('scroll', () => {
            const rect = counterElement.getBoundingClientRect();
            if (rect.top < window.innerHeight && !hasStartedCounting) {
                hasStartedCounting = true;
                startCounting();
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        var eventoEspecialSwiper = new Swiper('#special-event', {
            loop: true,
            slidesPerView: 2,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                374: {
                    slidesPerView: 1,
                },
                767: {
                    slidesPerView: 1,
                },
                // Configuración para tablets
                991: {
                    slidesPerView: 1,
                },
            },
            // Otras opciones de configuración...
        });
    });

</script>
{% endblock extra_script %}