{% load i18n %}
{% if tren and autopista and bus and aeroport %}
    <aside class="container-fluid py-3">
        <div class="col-12 p-3">
            <h3 class="text-center h3 py-5">{% blocktrans %}Com Arribar a Cabrera de Mar{% endblocktrans %}</h3>
        </div>

        <div class="col-12">
            <div class="row justify-content-center">
                {% if tren %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                        <div class="p-3 comarribar-container">
                            <p class="text-center">
                                <a class="" target="_blank" href="{{ tren.enlace }}" rel="noopener">
                                    <i class="fas fa-train fa-4x" style="color: {% if evento_especial %}{{ evento_especial.color }}{% else %}{{ header.color_fondo_header }}{% endif %};">
                                    </i>
                                </a>
                            </p>
                            {% autoescape on %}
                                <div class="text-center">
                                    {{ tren.descripcion | safe }}
                                </div>
                            {% endautoescape %}
                            <p class="text-center">
                                <a class="btn btn-light" target="_blank" href="{{ tren.enlace }}" rel="noopener">
                                    {% blocktrans %}Horaris de tren{% endblocktrans %}
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
                {% if autopista %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                        <div class="p-3 comarribar-container">
                            <p class="text-center">
                                <a class="" target="_blank" href="{{ autopista.enlace }}" rel="noopener">
                                    <i class="fas fa-car fa-4x" style="color: {% if evento_especial %}{{ evento_especial.color }}{% else %}{{ header.color_fondo_header }}{% endif %};">

                                    </i>
                                </a>
                            </p>
                            {% autoescape on %}
                                <div class="text-center">
                                    {{ autopista.descripcion | safe }}
                                </div>
                            {% endautoescape %}
                            <p class="text-center">
                                <a class="btn btn-light" target="_blank" href="{{ autopista.enlace }}" rel="noopener">
                                    {% blocktrans %}Busca la millor Ruta{% endblocktrans %}
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
                {% if bus %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                    <div class="p-3 comarribar-container">
                        <p class="text-center">
                            <a class="" target="_blank" href="{{ bus.enlace }}" rel="noopener">
                                <i class="fas fa-bus fa-4x" style="color: {% if evento_especial %}{{ evento_especial.color }}{% else %}{{ header.color_fondo_header }}{% endif %};">
                                </i>
                            </a>
                        </p>
                        {% autoescape on %}
                            <div class="text-center">
                                {{ bus.descripcion | safe }}
                            </div>
                        {% endautoescape %}
                        <p class="text-center">
                            <a class="btn btn-light" target="_blank" href="{{ bus.enlace }}" rel="noopener">
                                {% blocktrans %}Horaris de Bus{% endblocktrans %}
                            </a>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% if aeroport %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                    <div class="p-3 comarribar-container">
                        <p class="text-center">
                            <a class="" target="_blank" href="{{ aeroport.enlace }}" rel="noopener">
                                <i class="fas fa-plane-arrival fa-4x" style="color: {% if evento_especial %}{{ evento_especial.color }}{% else %}{{ header.color_fondo_header }}{% endif %};">
                                </i>
                            </a>
                        </p>
                        {% autoescape on %}
                            <div class="text-center">
                                {{ aeroport.descripcion | safe }}
                            </div>
                        {% endautoescape %}
                        <p class="text-center">
                            <a class="btn btn-light" target="_blank" href="{{ aeroport.enlace_principal }}" rel="noopener">
                                {% blocktrans %}Aeroport del Prat{% endblocktrans %}
                            </a>
                        </p>
                        <p class="text-center">
                            <a class="btn btn-light" target="_blank" href="{{ aeroport.enlace_secundario }}" rel="noopener" >
                                {% blocktrans %}Aeroport de Girona{% endblocktrans %}
                            </a>
                        </p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </aside>
{% endif %}