{% extends 'core/base.html' %}
{% load static %}
{% block meta_description %}
    <meta name="Description" content="Cabrera de Mar - 404 pàgina no trobada">
{% endblock meta_description %}

{% block meta_keywords %}
    <meta name="Keywords" content="Cabrera de Mar, gaudeix, 404, pàgina no trobada, error">
{% endblock meta_keywords %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Error 404: Pàgina no trobada</h1>
            <p class="lead">Ho sentim, la pàgina que estàs buscant no existeix.</p>
        </div>
    </div>
{% endblock %}
