<div class="container p-5">
    <div class="row">
        <div class="col-md-12">
            <div class="footer-images row">
                {% for empresa in footer.empresas.all %}
                    <div class="footer-image px-2 py-1">
                        <img src="{{ empresa.imagen.url }}" alt="{{ empresa.titulo }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-3" style="background-color: #3EBFAB;">
    <div class="container">
        <div class="footer-container">
            <div class="footer-item">
                <img src="{{ footer.footerinformacion.imagen.url }}" alt="{{ Gaudeix }}" width="157" height="57">
            </div>
            <div class="footer-item pb-1">
                <p>{{ footer.footerinformacion.direccion }}</p>
            </div>
            <div class="footer-item">
                <p class="mb-1"><a href="tel:{{ footer.footerinformacion.telefono }}">{{ footer.footerinformacion.telefono }}</a></p>
            </div>
            <div class="footer-item">
                <p class="mb-1"><a href="mailto:{{ footer.footerinformacion.correo_contacto }}">{{ footer.footerinformacion.correo_contacto }}</a></p>
            </div>
            {% for legal in footer.footerinformacion.paginas_legales.all %}
                <div class="footer-item">
                    {% if legal.tipo == 'privacitat' %}
                    <p class="mb-1"><a href="{% url 'legal:privacitat' %}">{{ legal.tipo }}</a></p>
                    {% elif legal.tipo == 'avis_legal' %}
                    <p class="mb-1"><a href="{% url 'legal:avis_legal' %}">{{ legal.tipo }}</a></p>
                    {% elif legal.tipo == 'cookies' %}
                    <p class="mb-1"><a href="{% url 'legal:politica_cookies' %}">{{ legal.tipo }}</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        
        
        </div>
    </div>
</div>
