{% load i18n %}
<div class="container-fluid p-0 m-0">
    <div>
        {% include 'header/headerFooter.html' %}
        {% include 'api/teenvio_form.html' %}
        <div class="row p-0 m-0">
            <div class="col-md-12">
                <div class="footer-images row justify-content-around p-0 m-0 py-3">
                    {% for empresa in footer.empresas.all %}
                        <div class="footer-image px-2 py-1">
                            {% if empresa.enlace %}
                              <a href="{{ empresa.enlace }}" target="_blank" title="{{ empresa.titulo }}">
                                <img src="{{ empresa.imagen.url }}" alt="{{ empresa.titulo }}">
                              </a>
                              {% else %}
                              <img src="{{ empresa.imagen.url }}" alt="{{ empresa.titulo }}">
                            {% endif %}
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 m-0 py-3" style="background-color: #3EBFAB;">
        <div class="row m-0 p-0 justify-content-around">
          <div class="footer-container">
            <div class="footer-item">
              <a href="{% url 'core:home'  %}">
                <img src="{{ footer.footerinformacion.imagen.url }}" alt="{{ Gaudeix }}" width="157" height="57">
              </a>
            </div>
            <div class="footer-item pb-1">
              <p>{{ footer.footerinformacion.direccion }}</p>
            </div>
            <div class="footer-item">
              <p class="mb-1"><a href="tel:{{ footer.footerinformacion.telefono }}">{{ footer.footerinformacion.telefono }}</a></p>
            </div>
            <div class="footer-item">
              <p class="mb-1"><a href="mailto:{{ footer.footerinformacion.correo_contacto }}">{{ footer.footerinformacion.correo_contacto }}</a></p>
            </div>
            {% for legal in footer.footerinformacion.paginas_legales.all %}
            <div class="footer-item">
              {% if legal.tipo == 'privacitat' %}
              <p class="mb-1"><a href="{% url 'paginas_estaticas:privacitat' %}">{{ legal.tipo }}</a></p>
              {% elif legal.tipo == 'avis_legal' %}
              <p class="mb-1"><a href="{% url 'paginas_estaticas:avis_legal' %}">{{ legal.titulo }}</a></p>
              {% elif legal.tipo == 'cookies' %}
              <p class="mb-1"><a href="{% url 'paginas_estaticas:politica_cookies' %}">{{ legal.tipo }}</a></p>
              {% endif %}
            </div>
            {% endfor %}
            <div class="footer-item">
              {% if diversidad %}
                <p class="mb-1"><a href="{% url 'paginas_estaticas:igualtat' %}">{% blocktrans %}diversitat e inclusió{% endblocktrans %}</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      </div>
