{% extends "core/base.html" %}

{% block meta_description %}
  {% if categoria.metadescripcion %}
    <meta name="Description" content="{{ categoria.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ categoria.metadescripcion | safe | striptags }}">
  {% else %}
    {% if categoria.descripcion %}
      <meta name="Description" content="{{ categoria.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ categoria.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}
  {% if ruta.tags.all %}
    <meta name="Keywords" content="{% for tag in categoria.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}
{% block title %}
    {% autoescape off %}
        {{ categoria.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

<!-- CSS personalizado -->
{% block extra_css %}
<style>
    .noticia-container {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  
    .noticia-titulo {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .noticia-fecha {
      color: #666;
      margin-bottom: 10px;
    }
  
    .noticia-contenido {
      margin-bottom: 20px;
    }
    .banner-container {
      position: relative;
    }
    
    .banner-img {
      width: 100%;
      object-fit: cover;
      max-height: 600px;
    }
    
    .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .banner-title {
      color: #31C6F8;
      font-size: 36px;
      font-weight: bold;
    }
    .img-noticia{
      width: 100%;
      max-height: 324px;
      object-fit: cover;
    }

  </style>
{% endblock extra_css %}
{% load static %}
{% block content %}
<section class="mx-0 px-0 pb-5 container-fluid">
  <div class="text-center">
    <div class="container-fluid p-0 m-0 banner-container">
      <img src="{% static 'core/img/sample/cabrera-team.jpg' %}" alt="Cabrera de Mar notícies" class="banner-img">
      <div class="banner-content">
        <h1 class="banner-title text-center">Descobreix l'últim de Cabrera de Mar</h1>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row">
      {% for noticia in noticias|dictsortreversed:"fecha" %}
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 py-3">
        <div>
          {% if noticia.imagen_url %}
          <div class="image-container">
            <img src="{{ noticia.imagen_url }}" alt="Imagen de la noticia" class="img-fluid img-noticia">
          </div>
          {% endif %}
        </div>
        <div>
          <h2 class="noticia-titulo">{{ noticia.titulo }}</h2>
          <p class="noticia-fecha">
            <span class="text-dark">Publicació:</span> {{ noticia.fecha }}
          </p>
          <p class="noticia-contenido">{{ noticia.contenido }}</p>
          <p>
            <a href="https://www.cabrerademar.cat/actualitat/noticies" target="_blank">Saber més</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
