{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="pb-5 px-0 container-fluid">
    <div class="text-center">
        <div class="banner">
            <div class="banner-text">
              <h1 class="main-title">
                {% autoescape on %}
                  {{post.titulo | truncatewords_html:5 |striptags |safe }}
                {% endautoescape %}

              </h1>
              <h2 class="sub-title">
                {% autoescape on %}
                
                {% endautoescape %}
                {{post.descripcion |striptags |truncatewords_html:10 | safe }}
              </h2>
            </div>
            <div class="banner-highlight">#gaudeixCabrera</div>
          </div>
          
    </div>


    <div class="pb-5">
        <h1 class="text-center p-3 display-2">
          {% autoescape on %}
            {{ post.titulo }}
          {% endautoescape %}

        </h1>
    </div>

  <div class="container-fuild p-5 content-agenda-detail-container">
    <div class="container p-2">
    <div class="row">
        
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-6">
            
            <p>{{ post.descripcion | safe }}</p>
                     
            <div class="social-share-buttons">
                <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fab fa-facebook-f fa-2x px-2"></i>
                </a>
                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ agenda.titulo }}" target="_blank">
                  <i class="fab fa-twitter fa-2x px-2"></i>
                </a>
                <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                  <i class="fab fa-instagram fa-2x px-2"></i>
                </a>
            </div>
          </div>
          <div class="col-md-6">
            
            {% with imagen=post.postimagen %}
              {% if imagen %}
                <img src="{{ imagen.imagen.archivo.url }}" alt="{{ agenda.titulo }}" class="img-fluid">
              {% endif %}
            {% endwith %}
          </div>
        </div>
    </div>
      </div>
      
  </div>
</section>
{% comment %} 
{% if visites.postfichero %}
    <aside class="mx-0 px-0 pb-5 container-fluid">
        <div class="row p-0 m-0">
            <div class="col-md-12 p-0 m-0">
                <a href="{{ visites.postfichero.fichero.archivo.url }}" class="btn btn-primary btn-lg btn-block" download>
                    <i class="fas fa-file-pdf"></i> Descargar PDF
                </a>
            </div>
        </div>
    </aside>
{% endif %} {% endcomment %}

{% if ultimos %}
<aside class="container-fluid">
    <div class="container mt-5 p-3">
        <h4>També et pot interessar...</h4>
        <div class="row row-inline-cards justify-content-center">
            {% for objeto in ultimos %}
            <div class="col-md-4 col-lg-3 col-6">
                <div class="card mb-3 card-inline flex-fill h-100">
                    {% with imagen=objeto.postgaleriaimagen_set.first %}
                        {% if imagen %}
                        <div class="image-container">
                            <img src="{{ imagen.imagen.archivo.url }}" alt="{{ agenda.titulo }}" class="img-fluid img-inline">
                        </div>
                        {% endif %}
                    {% endwith %}
                    <div class="card-body">
                        <h5 class="card-title">{{ objeto.titulo }}</h5>
                        <p class="card-text">{% if objeto.descripcion_corta|wordcount > 10 %}{{ objeto.descripcion_corta|truncatewords:10 }}{% else %}{{ objeto.descripcion_corta }}{% endif %}</p>
                        <div class="event-details">
                            <p class="event-date-time">
                                <i class="fas fa-calendar-alt"></i> <span class="event-date">{{ objeto.fecha }}</span> - <i class="fas fa-clock"></i> <span class="event-time">{{ objeto.hora }}</span>
                            </p>
                        </div>
                        <a href="{{ objeto.get_absolute_url }}" class="btn btn-primary">Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</aside>
{% endif %}

{% if posts %}
    {% include 'blog/post/ultimas_entradas.html' %}
{% endif %}







{% endblock %}
