{% extends 'core/base.html' %}

{% block extra_css %}
<style>
  /* Estilos adicionales para hacerla responsive */
  .card {
    margin-bottom: 20px;
  }

  .categoria-especial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  .categoria-especial:hover {
    background-color: #333;
  }

  .categoria-especial img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .caption {
    margin-top: auto;
  }

  .row-inline-cards {
    gap: 20px;
  }

  .card-inline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .image-container {
    height: 200px;
    overflow: hidden;
  }

  .image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .card-inline .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card-inline .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .event-details {
    margin-top: auto;
  }

  .event-date-time {
    font-size: 14px;
  }

  .event-date {
    font-weight: bold;
    margin-right: 5px;
  }

  .event-time {
    margin-left: 5px;
  }

</style>
{% endblock %}


{% block content %}

  {% if carrusel %}
    <div class="container-fluid m-0 p-0">
      {% include 'carrusel/carrusel.html' %}
    </div>
  {% endif %}


<div class="container pt-5">
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ subblog.titulo }}</h2>
          {% if subblog.subblogimagen.imagen %}
            <img src="{{ subblog.subblogimagen.imagen.archivo.url }}" class="img-fluid" alt="Imagen">
          {% endif %}
          <p class="card-text">{{ subblog.contenido | safe }}</p>
        </div>
      </div>
    </div>
    {% if ultimos %}
    <div class="col-3">
      <h4>També et pot interessar…</h4>
      <div class="row row-inline-cards justify-content-center">
        {% for objeto in ultimos %}
        <div class="col-12">
            <div class="card mb-3 card-inline flex-fill h-100">
                {% with imagen=objeto.postgaleriaimagen_set.first %}
                    {% if imagen %}
                    <div class="image-container">
                        <img src="{{ imagen.imagen.archivo.url }}" alt="{{ agenda.titulo }}" class="img-fluid img-inline">
                    </div>
                    {% endif %}
                {% endwith %}
                <div class="card-body">
                    <h5 class="card-title">{{ objeto.titulo }}</h5>
                    <p class="card-text">{% if objeto.descripcion_corta|wordcount > 10 %}{{ objeto.descripcion_corta|truncatewords:10 }}{% else %}{{ objeto.descripcion_corta }}{% endif %}</p>
                    <div class="event-details">
                        <p class="event-date-time">
                            <i class="fas fa-calendar-alt"></i> <span class="event-date">{{ objeto.fecha }}</span> - <i class="fas fa-clock"></i> <span class="event-time">{{ objeto.hora }}</span>
                        </p>
                    </div>
                    <a href="{{ objeto.get_absolute_url }}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}

  </div>
  <div class="row mt-4">
    {% for categoria in categorias %}
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="categoria-especial mx-auto text-center" style="background-color: {{ categoria.color }};">
          <a href="{% url 'blog:categoria' categoria.slug %}" class="text-white d-block">
            {% if categoria.categoriabannerimagen.imagen %}
              <img src="{{ categoria.categoriabannerimagen.imagen.archivo.url }}" alt="{{ categoria.titulo }}" class="img-fluid align-middle">
            {% endif %}
            <div class="caption">
              <h3>{{ categoria.titulo }}</h3>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
