{% if categoria.tipo == 'normal' %}
    {% include 'blog/categoria_normal.html' %}
{% elif categoria.tipo == 'lloc' %}
    {% include 'blog/categorias/lloc.html' %}
{% elif categoria.tipo == 'agenda' %}
    {% include 'blog/agenda_portada.html' %}
{% elif categoria.tipo == 'visitas_guiadas' %}
    {% include 'blog/visitas_guiadas.html' %}
{% elif categoria.tipo == 'noticies' %}
    {% include 'blog/noticies.html' %}
{% elif categoria.tipo == 'senderisme' %}
    {% include 'blog/categorias/senderisme.html' %}
{% endif %}