{% if coleccion_destacados %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <h4 class="related-activities-title text-center h2">Destacats</h4>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for agenda in coleccion_destacados.coleccion.all %}
            <div class="swiper-slide">
                <a href="
                    {% if agenda.agenda %} 
                        {% url 'agenda:detalle_agenda' slug=agenda.slug %}
                    {% elif agenda.visitaguiada %}
                        {% url 'agenda:visites-guiades' slug=agenda.slug %}
                    {% elif agenda.mappoint %}
                        {% url 'map:mapa' slug=agenda.slug %}
                    {% else %}
                        {{ agenda.get_absolute_url }}
                    {% endif %}" 
                class="related-activity-link">
                    
                    <div class="card related-activity-card mb-3 h-100">
                        {% with imagen=agenda.postgaleriaimagen_set.first %}
                        {% if imagen %}
                        <div class="image-container">
                            <img src="{{ imagen.imagen.archivo.url }}" alt="{{ agenda.titulo }}" class="img-fluid">
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h5 class="card-title related-activity-title">{{ agenda.titulo }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
    </div>
</section>

{% endif %}

{% block extra_script %}
<script>
    function initSwiper() {
        let swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 4, // Número de tarjetas por slide
            spaceBetween: 10, // Espacio entre tarjetas
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                374:{
                    slidesPerView: 2,
                },

                767: {
                    slidesPerView: 3,
                },

                // Configuración para tablets
                991: {
                    slidesPerView: 4,
                },
            },
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        initSwiper();
    });
</script>
{% endblock extra_script %}
