{% block extra_css %}
<style>
    .swiper-container {
        width: 100%;
        padding: 1.5rem;
    }
    
    .swiper-slide {
        width: 100%;
    }

    .related-activities-title {
        margin-bottom: 1rem;
    }

    .related-activity-link {
        text-decoration: none;
    }

    .related-activity-card {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .related-activity-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        margin-bottom: 0.5rem;
    }

    .image-container img {
        width: 100%;
        height: auto;
        height: 275px;
        object-fit: contain;
    }

    #destacats {
        position: relative;
        overflow: hidden;
    }

    .custom-prev,
    .custom-next {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .custom-prev {
        left: 10px;
    }

    .custom-next {
        right: 10px;
    }

    .custom-prev-icon,
    .custom-next-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .custom-prev:hover,
    .custom-next:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        color: #FFF;
    }

    .swiper-container .card.related-activity-card.mb-3.h-100 {
        max-height: 350px;
        overflow: hidden;
    }


    @media (max-width: 767px) {
        .swiper-container {
            padding: 0;
        }

        .swiper-slide {
            width: 50%;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .swiper-container .swiper-container {
            padding: 0;
        }

        .swiper-container .swiper-slide {
            width: 33.33%;
        }
    }
</style>
{% endblock extra_css %}

{% if coleccion_posts %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <h4 class="related-activities-title text-center h2">Properes activitats per a gaudir al màxim!</h4>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for agenda in coleccion_posts.coleccion.all %}
            <div class="swiper-slide">
                <a href="
                    {% if agenda.agenda %} 
                        {% url 'agenda:detalle_agenda' slug=agenda.slug %}
                    {% elif agenda.visitaguiada %}
                        {% url 'agenda:visites-guiades' slug=agenda.slug %}
                    {% elif agenda.mappoint %}
                        {% url 'map:mapa' slug=agenda.slug %}
                    {% else %}
                        {{ agenda.get_absolute_url }}
                    {% endif %}" 
                class="related-activity-link">
                    
                    <div class="card related-activity-card mb-3 h-100">
                        {% with imagen=agenda.postgaleriaimagen_set.first %}
                        {% if imagen %}
                        <div class="image-container">
                            <img src="{{ imagen.imagen.archivo.url }}" alt="{{ agenda.titulo }}" class="img-fluid">
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h5 class="card-title related-activity-title">{{ agenda.titulo }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
    </div>
</section>

{% endif %}

{% block extra_script %}
<script>
    function initSwiper() {
        let swiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 4, // Número de tarjetas por slide
            spaceBetween: 10, // Espacio entre tarjetas
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                374:{
                    slidesPerView: 2,
                },

                767: {
                    slidesPerView: 3,
                },

                // Configuración para tablets
                991: {
                    slidesPerView: 4,
                },
            },
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        initSwiper();
    });
</script>
{% endblock extra_script %}
