{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>Cabrera de Mar</title>
    <!-- Agrega aquí tus etiquetas de estilo CSS, enlaces a archivos estáticos, etc. -->
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/sample.css' %}">
</head>
<body>
    <!-- Agrega aquí el contenido común a todas las páginas -->

        <header>
            {% include 'topbar/topbar.html' %}
            {% include 'header/header.html' %}
        </header>

    <main>
        <!-- Contenido específico de cada página se insertará aquí -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Pie de página -->
    </footer>

    <!-- Agrega aquí tus scripts JavaScript u otros recursos -->
    <script src="{% static 'core/js/main.js' %}"></script>

</body>
</html>
