{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>Cabrera de Mar</title>
    <!-- Agrega aquí tus etiquetas de estilo CSS, enlaces a archivos estáticos, etc. -->
    {% load static %}
    
    <!--metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="GaudeixCabreradeMar" name="author">
    <meta name="Description" content="Cabrera de Mar">
    <meta name="Keywords" content="">
    <meta name="robots" content="all">
    <meta name="revisit-after" content="30 days">
    <meta name="copyright" content="Copyright © - GaudeixCabreradeMar">
    <!--Fin de los metas-->

    <link rel="preload" type="text/css" href="{% static 'core/css/fonts.css' %}">

    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'core/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="icon" href="{% static 'core/img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'core/img/favicon/favicon.ico' %}" type="image/x-icon">
    <!--FI FAVICON-->
    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/sample.css' %}">
    {% block extra_css %}
        
    {% endblock extra_css %}

    
</head>
<body>
    <!-- Agrega aquí el contenido común a todas las páginas -->

        <header>
            
            {% include 'header/header.html' %}
        </header>
        {% if portada  %}
            {% comment %} {% include 'parallax/parallax.html' %} {% endcomment %}
            {% include 'portada-video/portada-video.html' %}
            
            {% include 'blog/categoria_especial.html' %}
        {% endif %}
    <main class="container-fluid p-0 m-0">
        <!-- Contenido específico de cada página se insertará aquí -->
        {% block content %}
        {% endblock %}
    </main>
    {% if coleccion_posts  %}

        {% include 'destacados/destacados.html' %}

    {% endif %}

    {% if portada %}
        {% include 'map/map.html' %}
    {% endif %}



    <footer class= "container-fluid p-0 m-0 pt-5">
        <!-- Pie de página -->
        
        {% include 'footer/footer.html' %}
    </footer>

    <!-- Agrega aquí tus scripts JavaScript u otros recursos -->
    {% if portada %}
        <script src="{% static 'core/js/mapa.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7t0HCgOTtsO3whwMzARtjbO-cvkPIyyQ&callback=initMap" async defer></script>
        <script src="{% static 'core/js/video-home.js' %}"></script>
    {% endif %}

    <script src="{% static 'core/js/main.js' %}"></script>

    {% block extra_script %}
    {% endblock extra_script %}
    
</body>
</html>
