<!DOCTYPE html>
<html>
<head>
    <title>Cabrera de Mar</title>
    <!-- Agrega aquí tus etiquetas de estilo CSS, enlaces a archivos estáticos, etc. -->
    {% load static %}
</head>
<body>
    <!-- Agrega aquí el contenido común a todas las páginas -->
    <header>
        <!-- Encabezado -->
    </header>

    <nav>
        <!-- Menú de navegación -->
    </nav>

    <main>
        <!-- Contenido específico de cada página se insertará aquí -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Pie de página -->
    </footer>

    <!-- Agrega aquí tus scripts JavaScript u otros recursos -->
</body>
</html>
