{% if subcategoria.subcategoriagaleriaimagen_set.count > 1 %}
    <section class="container-fluid px-0 py-0">
        <div id="categoria-carrusel-{{ subcategoria.slug }}" class="carousel slide categoria-carrusel" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for imagen in subcategoria.subcategoriagaleriaimagen_set.all %}
                    <li data-target="#categoria-carrusel-{{ subcategoria.slug }}" data-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner text-center">
                {% for imagen in subcategoria.subcategoriagaleriaimagen_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        {% if imagen.imagen and imagen.imagen.archivo %}
                            <a href="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" class="fancybox" data-fancybox="categoria-{{ subcategoria.slug }}">
                                <picture>
                                    <source srcset="{{ imagen.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                    <source srcset="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                    <source srcset="{{ imagen.imagen.large_thumbnail.url |urlencode }}" media="(min-width: 992px)">
                                    <img src="" 
                                        data-src="{{ imagen.image.large_thumbnail.url }}"
                                        alt="{{ imagen.image.titulo }}"
                                        title="{{ imagen.image.titulo }}"
                                        class="img-fluid align-middle lazy-load-img">
                                </picture>
                                <img src="{{ imagen.imagen.archivo.url }}" title="{{ imagen.imagen.titulo }}" alt="{{ imagen.imagen.titulo }}" class="img-fluid img-cat-banner">
                            </a>
                        {% else %}
                            <p>Aquesta imatge no està disponible.</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#categoria-carrusel-{{ subcategoria.slug }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#categoria-carrusel-{{ subcategoria.slug }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Següent</span>
            </a>
        </div>
        <div class="col-12">
            <small class="text-center">Feu clic a les imatges per veure la galeria completa</small>
        </div>
    </section>
{% else %}
    {% if subcategoria.subcategoriagaleriaimagen_set.first.imagen and subcategoria.subcategoriagaleriaimagen_set.first.imagen.archivo %}
        <div class="text-center">
            <img src="{{ subcategoria.subcategoriagaleriaimagen_set.first.imagen.archivo.url }}" alt="{{ subcategoria.subcategoriagaleriaimagen_set.first.imagen.titulo }}"
                class="img-fluid img-cat-banner" title="{{ subcategoria.subcategoriagaleriaimagen_set.first.imagen.titulo }}">
        </div>
    {% else %}
        {% if subcategoria.subcategoriabannerimagen.imagen %}
            <img src="{{ subcategoria.subcategoriabannerimagen.imagen.archivo.url }}" alt="{{  subcategoria.subcategoriabannerimagen.imagen.titulo }}"
            class="img-fluid img-cat-banner" title="{{  subcategoria.subcategoriabannerimagen.imagen.titulo }}">
        {% endif %}

    {% endif %}
{% endif %}
