{% load  static  %}

<section class="container-fluid p-0 m-0 pt-3 bg-light">
    <div class="col-12 p-3">
        <h1 class="h1 text-center">Et proposem els millors plans a Cabrera de Mar!</h1>
        <p class="lead text-center">Escull amb qui vols venir i et presentem un munt d'opcions per gaudir al màxim.</p>
    </div>
    <div class="col-12">
        <div class="row categoria-especial-container py-5">
            {% for categoria in categorias_especiales %}
            <div class="col-especial-subBlog p-1" data-color="{{ categoria.color }}">
                <div class="categoria-especial mx-auto text-center" style="background-color: {{ categoria.color }}">
                    <a href="{% url 'blog:categoria' slug=categoria.slug %}" class="text-white d-block">
                        <img src="{{ categoria.categoriabannerimagen.imagen.archivo.url }}" alt="{{ categoria.titulo }}" class="img-fluid align-middle">
                        <div class="caption">
                            <h3>{{ categoria.titulo }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


