{% if categoria.tipo == 'normal' %}
    {% include 'blog/categorias/categoria_normal.html' %}
{% elif categoria.tipo == 'lloc' %}
    {% include 'blog/categorias/lloc.html' %}
{% elif categoria.tipo == 'agenda' %}
    {% include 'blog/categorias/agenda_utils/agenda_portada.html' %}
{% elif categoria.tipo == 'visitas_guiadas' %}
    {% include 'blog/categorias/visitas_guiadas.html' %}
{% elif categoria.tipo == 'noticies' %}
    {% include 'blog/noticias/noticies.html' %}
{% elif categoria.tipo == 'senderisme' %}
    {% include 'blog/categorias/senderisme.html' %}
{% elif categoria.tipo == 'festes_i_tradicions' %}
    {% include 'blog/categorias/festes-i-tradicions.html' %}
{% elif categoria.tipo == 'allotjament' %}
    {% include "blog/categorias/categoria_alojamiento.html" %}
{% elif categoria.tipo == 'restaurant' %}
    {% include "blog/categorias/categoria_restaurante.html" %}
{% elif categoria.tipo == 'turisme_sostenible' %}
    {% include "blog/categorias/categoria_turismo_sostenible.html" %}
{% endif %}