{% extends 'core/base.html' %}

{% block meta_description %}
  {% if categoria.metadescripcion %}
    <meta name="Description" content="{{ categoria.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ categoria.metadescripcion | safe | striptags }}">
  {% else %}
    {% if categoria.descripcion %}
      <meta name="Description" content="{{ categoria.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ categoria.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}
  {% if categoria.tags.all %}
    <meta name="Keywords" content="{% for tag in categoria.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ categoria.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
<style>
    .carousel-control-prev{
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }
    
    .carousel-control-next {
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.9;
    }


    .carousel-inner.text-center {
        text-align: center;
    }


    .img-cat-banner{
        max-height: 50vh !important;
        width: 100%;
        object-fit: cover;
    }


</style>
{% endblock extra_css %}

{% block media %}
    {% include 'blog/categorias/carrusel_categorias.html' %}
{% endblock media %}

{% block content %}
<section class="mx-0 px-0 py-5 container-fluid">
    <div class="container">
        <div class="categoria-container">
            <h2 class="h1 text-center">{{ categoria.titulo }}</h2>
            <p class="categoria-subtitulo lead text-center">{{ categoria.subtitulo }}</p>
            <p class="categoria-descripcion">{{ categoria.descripcion | safe }}</p>

            <div class="container py-3">
                {% comment %} Inicio del bloque de tipos de rutas asignadas senderismo {% endcomment %}
                    <div class="col-12 py-2">
                        <h3 class="py-2 h3">Rutes personalitzades de Cabrera de Mar:</h3>
                        <div class="row row-inline-cards justify-content-center">
                            {% for subcat in categoria.subcategorias.all %}
                                <div class="col-12 col-md-6 col-lg-6 p-2">
                                    <a href="{% url 'blog:subcategoria' slug=subcat.slug %}" class="related-activity-link my-1">
                                        <article class="card related-activity-card mb-3 h-100">
                                                {% if subcat.subcategoriabannerimagen %}
                                                    <div class="image-container">
                                                        <img src="{{ subcat.subcategoriabannerimagen.imagen.medium_thumbnail.url}}" alt="{{ subcat.subcategoriabannerimagen.archivo.titulo}}" class="img-fluid lazy-load-img" loading="lazy" style="height: 350px;">
                                                    </div>
                                                {% else %}
                                                    {% if subcat.subcategoriagaleriaimagen_set.first.imagen %}
                                                        <div class="image-container">
                                                            <img src="{{ subcat.subcategoriagaleriaimagen_set.first.imagen.medium_thumbnail.url}}" alt="{{ subcat.subcategoriagaleriaimagen_set.first.imagen.archivo.titulo}}" class="img-fluid lazy-load-img" loading="lazy" style="height: 350px;">
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="card-body text-center">
                                                    <h5 class="card-title related-activity-title">{{ subcat.titulo }}</h5>
                                                    <p class="card-text related-activity-description">
                                                        {% autoescape on %}
                                                            {{ subcat.descripcion|striptags|truncatewords:30|safe }}
                                                        {% endautoescape %}
                                                    </p>
                                                    <p>
                                                        <span class="text-primary text-left mt-auto url-link">Saber més</span>
                                                    </p>
                                                </div>
                                        </article>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        </div>

                {% comment %} Fin del bloque de tipos de rutas asignadas senderismo {% endcomment %}



                {% comment %} Inicio del bloque de rutas asignadas senderismo {% endcomment %}
                <div class="col-12 py-2">

                    <h3 class="py-2 h3">Rutes principals:</h3>
                    <div class="row row-inline-cards justify-content-center">
                        {% for post in rutes %}
                            <div class="col-12 col-md-6 col-lg-6 p-2">
                                <a href="{% url 'agenda:ruta' slug=post.slug %}" class="related-activity-link my-1">
                                    <article class="card related-activity-card mb-3 h-100">
                                                {% if post.postimagen.imagen %}
                                                    <div class="image-container">
                                                        <img src="{{ post.postimagen.imagen.archivo.url }}" loading="lazy" class="img-fluid lazy-load-img" alt="{{ post.titulo }}">
                                                    </div>
                                                {% endif %}
                                                <div class="card-body text-center">
                                                    <h5 class="card-title related-activity-title">{{ post.titulo }}</h5>
                                                    <p class="card-text related-activity-description">
                                                        {% autoescape on %}
                                                            {{ post.descripcion|striptags|truncatewords:30|safe }}
                                                        {% endautoescape %}
                                                    </p>
                                                    <p>
                                                        <span class="text-primary text-left mt-auto url-link">Saber més</span>
                                                    </p>
                                                </div>
                                    </article>
                                </a>
                            </div>
                        {% empty %}
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">No hi ha rutes disponibles.</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                {% comment %} Fin del bloque de rutas asignadas senderismo {% endcomment %}

            </div>
        </div>
            
            
            
        </div>
    </div>

</section>
{% endblock %}

{% block asides %}

    {% if categorias %}
        <div class="container">
            <div class="col-12">
                <h2 class="h2 text-center">
                    Descobreix els Tresors de Cabrera de Mar
                </h2>
            </div>
        </div>
        {% include 'blog/selecciones/categorias_seleccion.html' %}
    {% endif %}

    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}
    
{% endblock asides %}