{% extends 'core/base.html' %}
{% load custom_filters %}
{% load i18n %}
{% block meta_description %}
  {% if categoria.metadescripcion %}
    <meta name="Description" content="{{ categoria.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ categoria.metadescripcion | safe | striptags }}">
  {% else %}
    {% if categoria.descripcion %}
      <meta name="Description" content="{{ categoria.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ categoria.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}
  {% if categoria.tags.all %}
    <meta name="Keywords" content="{% for tag in categoria.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ categoria.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
<style>

    .categoria-titulo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .categoria-subtitulo {
        color: #666;
        margin-bottom: 10px;
    }

    .categoria-descripcion {
        margin-bottom: 20px;
    }
    .carousel-control-prev{
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }
    
    .carousel-control-next {
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.9;
    }


    .carousel-inner.text-center {
        text-align: center;
    }
    .img-cat-banner{
        max-height: 50vh !important;
        width: 100%;
        object-fit: cover;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 5%;
        opacity: 0.6;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        opacity: 1;
    }

    .img-cat-banner, .visita-guiada-card img {
        max-height: 50vh;
        width: 100%;
        object-fit: cover;
    }

    .adults {
        background-color: #add8e6; /* Color para albergs */
    }
    
    .nens {
        background-color: #90ee90; /* Color para allotjaments turístics */
    }
    .otro {
        background-color: #f0e68c; /* Color para hoteles */
    }
    @media (max-width: 768px) {
        .hashtag {
            font-size: 20px;
            text-align: center;
        }

        #categoria-carrusel-visites-guiades, .img-cat-banner, .visita-guiada-card img {
            height: 100%;
        }
    }
</style>
{% endblock extra_css %}


{% block media %}
    {% include 'blog/categorias/carrusel_categorias.html' %}
{% endblock media %}

{% block content %}
<div class="container-fluid px-0 py-0">


    <div class="container pt-5">
        <h1>{{visita.titulo}}</h1>
        <div class="row">
            <div class="col-12">
                <p class="card-text">
                    {% autoescape on %}
                    {{ categoria.descripcion | safe }}
                    {% endautoescape %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pb-3 pt-5">
                <h2 class="titulo-destacat">{{ categoria.subtitulo }}</h2>
            </div>              
            {% if categoria.tipo == 'visitas_guiadas' %}

                {% for visita in visitas_guiadas %}
                <a href="{% url 'agenda:visites-guiades' slug=visita.slug %}" class="related-activity-link my-1">
                    <div class="card related-activity-card mb-3 h-100">
                        <div class="tipo-visita {% if visita.publico_recomendado == 'nens' %}nens{% elif visita.publico_recomendado == 'adults' %}adults{% else %}otro{% endif %}" style="display: flex; align-items: center; flex-wrap: wrap; padding:1rem;">

                            {% if visita.publico_recomendado == 'nens' %}
                                <i class="fas fa-child" style="margin-right: 5px;"></i>
                            {% elif visita.publico_recomendado == 'adults' %}
                                <i class="fas fa-user" style="margin-right: 5px;"></i>
                            {% else %}
                                <i class="fas fa-users" style="margin-right: 5px;"></i>
                            {% endif %}
                            {{ visita.get_publico_recomendado_display }}

                            <span style="margin: 0 10px;">|</span>
                            <span class="duracion-visita" style="margin-right: 5px;">
                                <i class="fas fa-clock"></i>
                                {{ visita.duracion|format_duration }}
                            </span>

                            {% if visita.fecha_inicio <= visita.fecha_fin %}
                                <span style="margin: 0 10px;">|</span>
                                <i class="fas fa-calendar-alt" style="margin-right: 5px;"></i>{{ visita.fecha_inicio|date:"d M, Y" }} - {{ visita.fecha_fin|date:"d M, Y" }}
                            {% endif %}
                            {% if visita.mapa and visita.mapa.titulo %}
                                <span style="margin-left: 10px;">|</span>
                                <span style="margin-right: 5px;margin-left: 5px;">
                                    <i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i>
                                    {{ visita.mapa.titulo }}
                                </span>
                            {% endif %}

                        </div>

                        <div class="row p-3">
                            {% if visita.postimagen.imagen %}
                                {% with imagen=visita.postimagen.imagen %}
                                    <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                                        <img src="{{ imagen.archivo.url }}" alt="Imagen de la visita"
                                            class="img-fluid w-100 h-auto border-0" style="object-fit: cover; max-height: 300px;">
                                    </div>
                                {% endwith %}
                            {% else %}
                                {% if visita.postgaleriaimagen_set.exists %}
                                    {% with imagen=visita.postgaleriaimagen_set.first %}
                                        {% if imagen %}
                                            <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                                                <img src="{{ imagen.imagen.archivo.url }}" alt="Imagen de la visita"
                                                    class="img-fluid w-100 h-auto border-0" style="object-fit: cover; max-height: 300px;">
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endif %}
                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <div class="card-body" style="padding: 20px;">
                                    <h2 class="card-title">{{ visita.titulo }}</h2>
                                    <div class="card-text">
                                        {% autoescape on %}
                                            {{ visita.descripcion |truncatewords_html:50 | safe }}
                                        {% endautoescape %}
                                    </div>
                                    <!-- Afegeix aquí altres detalls rellevants per a la carta -->
                                    <p>
                                        <span class="text-primary text-left mt-auto url-link">{% blocktrans %}Saber més{% endblocktrans %}<i class="fas fa-arrow-right"></i></span>
                                    </p>
                                        
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block asides %}
    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}

{% endblock asides %}