{% extends 'core/base.html' %}
{% load custom_filters %}
{% load i18n %}
{% block meta_description %}
  {% if categoria.metadescripcion %}
    <meta name="Description" content="{{ categoria.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ categoria.metadescripcion | safe | striptags }}">
  {% else %}
    {% if categoria.descripcion %}
      <meta name="Description" content="{{ categoria.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ categoria.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}
  {% if categoria.tags.all %}
    <meta name="Keywords" content="{% for tag in categoria.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
  {% endif %}
{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ categoria.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
<style>
    .categoria-titulo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .categoria-subtitulo {
        color: #666;
        margin-bottom: 10px;
    }

    .categoria-descripcion {
        margin-bottom: 20px;
    }
    .carousel-control-prev{
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }
    
    .carousel-control-next {
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.9;
    }


    .carousel-inner.text-center {
        text-align: center;
    }
    .img-cat-banner{
        max-height: 50vh !important;
        width: 100%;
        object-fit: cover;
    }

    .visita-guiada-card {
        margin-bottom: 20px;
        position: relative;
    }

    .visita-guiada-card .tipo-visita {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 10px;
        margin: 0;
        color: #fff;
        font-weight: bold;
        background-color: #17a2b8;
        width: 100%;
    }

    .visita-guiada-card.flex-row .tipo-visita {
        background-color: #28a745;
    }

    .visita-guiada-card .tipo-visita i {
        margin-right: 5px;
    }

    .visita-guiada-card .card-body {
        padding: 20px;
    }

    .hashtag {
        font-size: 2.5rem;
        color: #17a2b8;
        font-weight: bold;
        text-align: left;
    }

    .visita-guiada-card {
        margin-bottom: 20px;
        position: relative;
    }

    .visita-guiada-card .tipo-visita {
        padding: 5px 10px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    .visita-guiada-card .tipo-visita-agenda {
        background-color: #17a2b8;
    }

    .visita-guiada-card .tipo-visita-guiada {
        background-color: #28a745;
    }

    .visita-guiada-card .tipo-visita-otro {
        background-color: #6c757d;
    }
    .duracion-visita {
        padding-left: 10px; /* Ajusta el valor según tus necesidades */
    }
    .visita-guiada-link {
        color: #17a2b8;
        opacity: 0.7;
        transition: color 0.3s;
    }
    
    .visita-guiada-link:focus,
    .visita-guiada-link:hover {
        color: #17a2b8;
        opacity: 1;
        text-decoration: underline;
    }
    #categoria-carrusel-visites-guiades {
        height: 50vh;
    }
    @media (max-width: 768px) {
        .hashtag {
            font-size: 1.5rem;
            text-align: center;
        }
        #categoria-carrusel-visites-guiades {
            height: 100%;
        }
    }
</style>
{% endblock extra_css %}

{% block media %}
    {% include 'blog/categorias/carrusel_categorias.html' %}
{% endblock media %}

{% block content %}
<div class="container-fluid px-0 py-0">


    <div class="container pt-5">
        <h1>{% blocktrans %}Explora Cabrera de Mar: Descobreix els seus racons amb les nostres rutes temàtiques{% endblocktrans %}</h1>
        <div class="row">
            <div class="col-12">
                <p class="card-text">
                    {% autoescape on %}
                    {{ categoria.descripcion | safe }}
                    {% endautoescape %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 pb-3 pt-5">
                <h2 class="titulo-destacat">{% blocktrans %}Descobreix les nostres increïbles visites guiades!{% endblocktrans %}</h2>
              </div>              
            {% if categoria.tipo == 'visitas_guiadas' %}
            {% for visita in visitas_guiadas %}
            <a href="{% url 'agenda:visites-guiades' slug=visita.slug %}" class="card visita-guiada-card pt-3 col-12">
                <div class="">
                    <div class="tipo-visita {% if visita.publico_recomendado == 'nens' %}tipo-visita-agenda{% elif visita.publico_recomendado == 'adults' %}tipo-visita-guiada{% else %}tipo-visita-otro{% endif %}">
                        {% if visita.publico_recomendado == 'nens' %}
                        <i class="fas fa-child"></i>
                        {% elif visita.publico_recomendado == 'adults' %}
                        <i class="fas fa-user"></i>
                        {% else %}
                        <i class="fas fa-users"></i>
                        {% endif %}
                        {{ visita.get_publico_recomendado_display }}
                        <span class="duracion-visita">
                            <i class="fas fa-clock"></i>
                            {{ visita.duracion|format_duration }}
                        </span>
                        
                    </div>

                    <div class="row p-3">
                        {% if visita.postimagen.imagen %}
                            {% with imagen=visita.postimagen.imagen %}
                                <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                                    <img src="{{ imagen.archivo.url }}" alt="Imagen de la visita"
                                        class="img-fluid w-100 h-auto border-0" style="object-fit: cover; max-height: 300px;">
                                </div>
                            {% endwith %}
                        {% else %}
                            {% if visita.postgaleriaimagen_set.exists %}
                                {% with imagen=visita.postgaleriaimagen_set.first %}
                                    {% if imagen %}
                                        <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                                            <img src="{{ imagen.imagen.archivo.url }}" alt="Imagen de la visita"
                                                class="img-fluid w-100 h-auto border-0" style="object-fit: cover; max-height: 300px;">
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <div class="card-body" style="padding: 20px;">
                                <h2 class="card-title">{{ visita.titulo }}</h2>
                                <div class="card-text">
                                    {% autoescape on %}
                                        {{ visita.descripcion |truncatewords_html:50 | safe }}
                                    {% endautoescape %}
                                </div>
                                <!-- Afegeix aquí altres detalls rellevants per a la carta -->
                                <p>
                                    <span class="text-primary text-left mt-auto url-link">{% blocktrans %}Saber més{% endblocktrans %}<i class="fas fa-arrow-right"></i></span>
                                </p>
                                    
                            
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block asides %}
    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}

{% endblock asides %}