/* default styles */

a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}
/* end default */
/* Header inicio */
nav#navbar {
  padding: 1rem;
}
header nav .navbar-brand img{
    height: 2.5rem;
}
header a {
  font-size: 1.2rem;
}
#navbar {
    transition: top 0.3s ease-in-out;
  }

header ul.navbar-nav.ml-auto {
    text-transform: capitalize;
}

header .dropdown-submenu {
  position: relative;
}

header .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  background-color: #f8f9fa;
}

.topbar-link{
  font-size: 1rem;
  text-decoration: underline !important;
}

@media (max-width: 991px) {
  /* Muestra el botón de hamburguesa en pantallas pequeñas */
  header .navbar-toggler {
      display: block;
  }

  /* Ajusta los submenús para que se muestren de manera vertical en pantallas pequeñas */
  header .dropdown-submenu .dropdown-menu {
      position: static;
      float: none;
      width: 100%;
      margin-left: 0;
      left: 0;
      background-color: #f8f9fa;
  }

  /* Estilos adicionales para el menú en modo móvil */
  header .navbar-nav .dropdown-menu {
      position: static;
      float: none;
  }
}

@media (max-width: 1366px) {
  /* Muestra el botón de hamburguesa en pantallas pequeñas a medianas */
  header .navbar-toggler {
      display: block;
  }

  /* Estilos adicionales para el menú en modo móvil a tablet */
  header .navbar-nav .dropdown-menu {
      position: static;
      float: none;
  }
}



/* Custom */
.btn-custom {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-custom:hover {
  background-color: #e9ecef;
  border-color: #e9ecef;
}


/* end Custom */

  /* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #ffffff; /* Color de fondo */
  border: none; /* Borde */
  border-radius: 0; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.dropdown-menu a {
  color: #000000; /* Color del texto */
  font-weight: bold; /* Grosor de la fuente */
  padding: 10px 20px; /* Espaciado interno */
  display: block; /* Mostrar como bloque */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease; /* Transición suave */
}

.dropdown-menu a:hover {
  background-color: #ffffff; /* Color de fondo al pasar el ratón */
}
.text-header-link:hover, .text-header-link:active, .text-header-link:focus{
  color: rgba(230, 230, 230) !important;
}
.enlace-externo-link:hover, .enlace-externo-link:active, .enlace-externo-link:focus{
  color: rgba(255, 255, 255) !important;
}

@media (max-width: 767px) {
  .dropdown-menu {
    background-color: #ffffff; /* Color de fondo */
  }
}

/* Estilo para el último elemento del menú desplegable */



/* fin header */

/* video home */

.video-hero{
  height: 87vh;
  position: relative;
}

.fullscreen-video-background {
  background: #000;
  position: relative;
  width: 100%;
  z-index: -99;
	overflow: hidden;
	height: 100%;
}
.fullscreen-video-background video{
  width: 100%;
}
	._pattern-overlay { 
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.3;
		bottom: 0;
		z-index: 2;
	}
	
	#_buffering-background {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background: #222;
		z-index: 1;
	}
	
	#_youtube-iframe-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: absolute;
		height: 100%;
  }
  #_youtube-iframe {
    position: absolute;
    pointer-events: none;
    margin: 0 auto;
    height: 300vh; 
    width: 120vw;
  }

#video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s;
}
#videos-container-home  video{
  width: 100%;
}

#videos-container-home.video-ended video {
  display: none;
}

#videos-container-home .video-fade {
  opacity: 0;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
}

#videos-container-home .video-fade.active {
  opacity: 1;
}

.ytp-endscreen-content {
  display: none !important;
}
.ytp-ce-element.ytp-ce-video.ytp-ce-large-round  {
  display: none !important;
}

@media (max-width: 768px) {
  .video-hero {
    height: 40vh !important;
  }
  .fullscreen-video-background{
    height: 73%;
  }
  .container-social{
    width: 100% !important;
    border-top-left-radius: 0px !important;
  }
  .parallax-flecha{
    top: calc(70vh - 20px);
  }

}
@media (max-width: 361px) {

  .parallax-flecha {
    top: calc(20vh - 30px);
  }

  .collage-card-body-categorias-seleccion {
    padding: 0.5rem;
  }

  .collage-image-container-categorias-seleccion img {
    height: -webkit-fill-available;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .video-hero {
    height: 40vh !important;
  }

  .parallax-flecha.parallax-mobile {
    top: calc(70vh - 20px) !important;
  }

  .container-social.parallax-mobile{
    bottom: 0 !important;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .hero-evento-especial .parallax-container{
    height: 85vh;
  }

  .hero-agenda-especial .parallax-container{
    height: 75vh;
  }

  .hero-evento-especial .parallax-content {
    top: 25%;
  }

  .hero-agenda-especial .parallax-content{
    bottom: 0%;
    top: 50%;
  }
  
  .hero-agenda-especial .parallax-flecha{
    top: calc(55vh - 20px);
  }

  .hero-evento-especial .container-social, .hero-agenda-especial .container-social {
    bottom: 0%;
  }

  .hero-evento-especial .parallax-flecha {
    top: calc(50vh - 20px);
  }


}
/* img lazy */

/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative;
  display: block;
  overflow: hidden;
}

/* Estilo para la imagen dentro del contenedor */
.lazy-load-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajustar la imagen para cubrir el contenedor */
}

/* Opcional: agregar un estilo para la imagen de carga provisional */
.lazy-load-img.loading {
  /* Estilos para mostrar una imagen de carga provisional, como un spinner o un fondo de color */
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Opcional: agregar un estilo para la imagen una vez cargada */
.lazy-load-img.loaded {
  /* Estilos adicionales para la imagen una vez que ha sido cargada */
  transition: opacity 0.3s ease-in-out; /* Agregar transición para suavizar el cambio */
}

/* Opcional: Si deseas que la imagen tenga esquinas redondeadas */
.lazy-load-img.rounded {
  border-radius: 10px; /* Ajustar el valor según el grado de redondez deseado */
}


/* end img lazy */
/* end video home */
/* banner  */
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #3EBFAB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .main-title {
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .sub-title {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  
  .banner-highlight {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #E76500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  @media (max-width: 768px) {
    .main-title {
      font-size: 24px;
    }
    .sub-title {
      font-size: 18px;
    }
    .banner-highlight {
      font-size: 36px;
    }
  }
  
/* fin de banner */

/* calendar  */
.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 50%;
  margin: 0.25rem;
}

.event-day {
  background-color: #3ebfab;
  color: white;
}
.past-day{
  background-color: gray;
}
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}
.finalizado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.related-activity-card {
  height: 100%;
}

.related-activity-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* end calendar */
/* Parallax */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 90vh; /* Ajusta la altura según tus necesidades */
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Agregamos esta línea */
}


.parallax-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.parallax-content h2 {
    font-size: 3rem !important;
    font-weight: bold;
}


.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Ajusta el color de texto según tu diseño */
}

.parallax-content h2 {
    font-size: 32px; /* Ajusta el tamaño de fuente según tu diseño */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajusta el sombreado de texto según tu diseño */
}


.parallax-flecha {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}
.parallax-flecha img{
    height: 64px;
    width: 64px;
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    25% {
        transform: translateX(-50%) translateY(-10px);
    }
    50% {
        transform: translateX(-50%) translateY(0);
    }
    75% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* End parallax */

@media (max-width: 1024px) {
  .parallax {
      background-attachment: scroll; /* Desactiva el efecto parallax */
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .parallax-container {
      height: auto; /* Permite que el contenedor crezca con el contenido */
      min-height: 50vh; /* Asegura una altura mínima en orientación horizontal */
  }
  .parallax {
      position: fixed; /* Intenta mantener el efecto parallax, pero podría necesitar ajustes basados en el comportamiento específico deseado */
      /* Resto de propiedades necesarias para ajustar la visualización */
  }
  .parallax-content {
      /* Ajustes adicionales si es necesario para asegurar que el contenido se muestre correctamente */
  }
}


/* Redes sociales */

.container-social{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: wrap;
    width: auto !important;
    justify-content: space-around;
    padding: 20px;
    background: #000000;
    border-top-left-radius: 20px;
}
.list-group{
    display: flex;
    flex-direction: row;
    padding: 0;
}

.container-social .list-group .list-group-item{
    background-color: unset;
    border: none;
}
.container-social .list-group .list-group-item a{
    border: none;
}

@media (max-width: 768px) and (max-width: 991px) {
  .video-hero {
    height: 40vh !important;
  }
  .fullscreen-video-background{
    height: 73%;
  }
  .container-social{
    width: 100% !important;
    bottom: 10%;
    border-top-left-radius: 0px !important;
  }
  .parallax-flecha{
    top: calc(25vh - 20px);
  }
  .parallax-flecha.parallax-mobile {
    top: calc(70vh - 20px) !important;
  }
  .container-social.parallax-mobile{
    bottom: 0 !important;
  }
  .container-social .list-group-item img {
    width: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .video-hero {
    height: 40vh !important;
  }
}
/* end redes sociales */



/* inicio subBlog especiales */
.categoria-especial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    align-items: stretch;
    margin: 0;
   
}





.categoria-especial {
    text-align: center;
    padding: 1rem;
    height: 100%; /* Asegura que los elementos ocupen toda la altura del contenedor */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total del elemento */
}

.categoria-especial img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.categoria-especial h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

section.categoria-especial-container .col-especial-subBlog{
    width: 100%;
}


.categoria-especial .img-fluid.align-middle{
    height: 75px;
}

.col-especial-subBlog {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.col-especial-subBlog:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}


.agenda-special-category .especial-agenda{
    max-height: 35px;
}
.agenda-special-category {
    background-color: #fff;
}
.content-agenda-detail-container{
    background-color: rgba(0,0,0,0.01);
}

/* fin subBlog especiales */

/* agenda ultimos */

.image-container {
    height: 200px; /* Ajusta la altura deseada */
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* .image-container-agenda{
  height:400px !important;
} */

.img-fluid {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: cover !important;
  }
  
  .image-container .img-fluid {
    max-height: 200px !important;
    object-fit: cover !important;
    width: 100% !important;
  }
  .image-container {
    position: relative;
  }
  
  .card-inline {
    position: relative;
    overflow: hidden;
  }
  
  .card-inline .event-datetime {
    font-weight: bold;
    line-height: 1;
  }
  
  /* Estilos responsive */
@media (max-width: 767px) {

  .related-activity-details-agenda{
    display: none !important;
  }
  .card-overlay {
    opacity: 0.5;
  }

  .card-header:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
/* fin de agenda ultimos */

/* aside pdf */
.agenda-pdf-link {
  padding: 0;
  margin-bottom: 0;
}

.agenda-pdf-link .btn {
  font-size: 1.2rem;
  border-radius: 0;
}

.agenda-pdf-link .btn i {
  margin-right: 0.5rem;
}

.agenda-pdf-link .btn:hover {
  background-color: #F8F9FA;
  color: #343A40;
}

.agenda-pdf-link .btn:focus {
  box-shadow: none;
}

@media (max-width: 767px) {
  .agenda-pdf-link .btn {
    font-size: 1rem;
  }
}

/* end aside pdf */
/* aside entradas */

.jumbotron-zen {
  padding: 2rem 1rem;
  margin-bottom: 0;
  background-color: #f8f9fa;
  text-align: center;
}

.display-4-zen {
  font-size: 2.5rem;
  font-weight: bold;
}

.lead-zen {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn-primary-zen {
  background-color: #3EBFAB;
  color: #fff;
  border-color: #3EBFAB;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.btn-primary-zen:hover {
  background-color: #31a79e;
  border-color: #31a79e;
}

.container-zen {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .display-4-zen {
    font-size: 3rem;
  }

  .lead-zen {
    font-size: 1.5rem;
  }
}


/* fin aside entradas */


/* tablas */
table.table-custom tr.odd {
  background-color: #f2f2f2; /* Color de fondo para filas impares */
}

table.table-custom tr.even {
  background-color: #ffffff; /* Color de fondo para filas pares */
}

/* end tablas */
/* banner agenda */



.banner-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-icons span {
  position: absolute;
  color: #FFF;
  font-size: 48px;
}

.banner-icons span:nth-child(1) {
  top: 20px;
  left: 20px;
}

.banner-icons span:nth-child(2) {
  top: 20%;
  left: 30%;
}

.banner-icons span:nth-child(3) {
  top: 40%;
  left: 50%;
}

.banner-icons span:nth-child(4) {
  top: 60%;
  left: 70%;
}

.banner-icons span:nth-child(5) {
  top: 70%;
  left: 20%;
}

.banner-icons span:nth-child(6) {
  top: 30%;
  left: 70%;
}

.banner-icons span:nth-child(7) {
  top: 50%;
  left: 40%;
}

.banner-icons span:nth-child(8) {
  top: 80%;
  left: 30%;
}

.banner-icons span:nth-child(9) {
  top: 60%;
  left: 10%;
}

.banner-icons span:nth-child(10) {
  top: 40%;
  left: 80%;
}


.parallax-container-banner-agenda{
  height: 50vh;
}
.banner-icons,
.banner-content {
  position: relative;
  z-index: 1;
}

.banner-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-icons span {
  position: absolute;
  color: #fff;
  font-size: 48px;
}

.banner-icons span:nth-child(1) {
  top: 20px;
  left: 20px;
}

.banner-icons span:nth-child(2) {
  top: 20%;
  left: 30%;
}

.banner-icons span:nth-child(3) {
  top: 18%;
  left: 86%;
}

.banner-icons span:nth-child(4) {
  top: 60%;
  left: 70%;
}

.banner-icons span:nth-child(5) {
  top: 70%;
  left: 20%;
}

.banner-icons span:nth-child(6) {
  top: 30%;
  left: 70%;
}

.banner-icons span:nth-child(7) {
  top: 65%;
  left: 62%;
}

.banner-icons span:nth-child(8) {
  top: 80%;
  left: 30%;
}

.banner-icons span:nth-child(9) {
  top: 60%;
  left: 10%;
}

.banner-icons span:nth-child(10) {
  top: 40%;
  left: 80%;
}

.banner-content {
  z-index: -1;
  transform: translateY(-25vh) translateZ(0px) scale(1);
  padding-left:30px;
  padding-right:30px;
  text-align:center;
}

.banner-title {
  color: #FFF;
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

/* Continuar con las posiciones de los demás iconos */

.banner-content {
  text-align: center;
  z-index: 1;
}

.banner-title {
  color: #FFF;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}


@media (max-width: 767px) {

  .parallax-container-banner-agenda {
    height: 45vh;
  }

  .parallax-container-banner-agenda .parallax-content {
    top: 25%;
  }

  .parallax-container-banner-agenda  .parallax-flecha {
    top: calc(25vh - 20px);
  }


  .parallax-container-banner-agenda .banner-icons {
    display: none;
  }
  .parallax-container-banner-agenda .container-social{
    bottom: 0%;
  }

  .social-share-buttons{
    text-align: center;
  }

  .agenda-img-container{
    padding-top: 25px;
  }
}



/* fin banner agenda  */

/* Swipper  */

.swiper-container {
  width: 100%;
  padding: 1.5rem;
}

.swiper-slide {
  width: 100%;
}

.related-activities-title {
  margin-bottom: 1rem;
}

.related-activity-link {
  text-decoration: none;
}

.related-activity-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.related-activity-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.image-container img {
  width: 100%;
  height: auto;
  height: 275px;
  object-fit: contain;
}

#destacats {
  position: relative;
  overflow: hidden;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  color: #3EBFAB;
  font-weight: bolder;
}

.swiper-container .card.related-activity-card.mb-3.h-100 {
  max-height: 350px;
  overflow: hidden;
}

.swiper-container .swiper-slide {
  height: auto !important;
}

.swiper-container-collage-categorias-seleccion .swiper-slide {
  min-height: 150px;
}



.swiper-container .agenda-relacionada-container {
  max-height: 500px !important;
}

.swiper-slide .coleccion_destacados {
  position: relative;
}

.swiper-container .coleccion_destacados .evento-economic-measure {
  position: absolute; /* Posición absoluta para la franja */
  top: -10px; /* Alineado a la parte superior del card */
  left: 0; /* Alineado a la izquierda del card */
  width: 100%; /* Ancho completo del card */
  background-color: #3EBFAB; /* Color de fondo corporativo */
  color: #fff; /* Texto en blanco */
  padding: 5px 10px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-size: 0.9em; /* Tamaño del texto */
  border-top: 3px solid #FFB516; /* Borde superior decorativo */
  transform: skew(-10deg); /* Inclinación discreta */
  z-index: 100;
}


.swiper-container .coleccion_destacados .evento-economic-measure .evento-economic-measure small {
  display: block; /* Ocupar el ancho completo de la franja */
}


@media (max-width: 767px) {
  .swiper-container {
      padding: 0;
  }

  .swiper-slide {
      width: 50%;
  }

 #special-event .swiper-button-prev {
    top: var(--swiper-navigation-top-offset,30%);
 }
 #special-event .swiper-button-next {
    top: var(--swiper-navigation-top-offset,30%);
 }
 
}

@media (min-width: 768px) and (max-width: 991px) {
  .swiper-container .swiper-container {
      padding: 0;
  }

  .swiper-container .swiper-slide {
      width: 33.33%;
  }
}

.collage-container-categorias-seleccion {
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
}

.collage-card-categorias-seleccion {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 350px; /* Tamaño estandar para las cards */
  height: 250px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.collage-card-categorias-seleccion:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.collage-card-body-categorias-seleccion {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Oscurecer la imagen con su color */
  color: #FFF;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.collage-card-categorias-seleccion:hover .collage-card-body-categorias-seleccion {
  opacity: 1;
}

.collage-card-title-categorias-seleccion {
  margin-bottom: 0.5rem;
  text-align: center;
}

.collage-image-container-categorias-seleccion img {
  width: 100%;
  height: auto;
  max-height: 350px; /* Tamaño máximo de la imagen */
  object-fit: cover;
}

.collage-swiper-button-next-categorias-seleccion::after,
.collage-swiper-rtl-categorias-seleccion .collage-swiper-button-prev-categorias-seleccion::after,
.collage-swiper-button-prev-categorias-seleccion::after,
.collage-swiper-rtl-categorias-seleccion .collage-swiper-button-next-categorias-seleccion::after {
  color: #FFF;
}

@media (max-width: 767px) {
  .collage-card-body-categorias-seleccion {
    opacity: 1;
  }
}


/* end Swipper */


/* agenda detalle */

.agenda-pdf-link {
    background-color: #31C6F8 !important;
}
/* fin de agenda detalle */

/* Mapa portada */
.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .map-legend {
    position: absolute;
    bottom: 1rem !important;
    left: 3rem !important;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .legend-label {
    font-size: 14px;
  }
  #accordion .btn:focus {
    outline: none;
  }
  

/*
 * Property styles in unhighlighted state.
*/
/* Estilos básicos para el contenido del marcador. */
.property {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  font-size: 14px;
  gap: 15px;
  height: 30px; /* Tamaño inicial del marcador */
  justify-content: center;
  padding: 4px;
  position: relative;
  transition: all 0.3s ease-out;
  width: 30px; /* Tamaño inicial del marcador */
  cursor: pointer; /* Hace que el cursor cambie a mano al pasar por encima */
}

.property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  transform: translate(-50%, -50%) scale(0); /* Inicia la transformación escalando a 0 para ocultarlo. */
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Suaviza la transformación y la opacidad. */
  width: 0;
  z-index: 1;
  opacity: 0; /* Inicia con opacidad 0 para ocultarlo completamente. */
}

.property.highlight::after {
  transform: translate(-50%, -50%) scale(1); /* Escala a su tamaño normal para mostrarlo. */
  opacity: 1; /* Ajusta la opacidad a 1 para hacerlo completamente visible. */
}


.property .icon {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.property .icon i {
  font-size: 20px; /* Tamaño del icono */
}

.property .details {
  display: none; /* Ocultar detalles por defecto */
}

.property.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  flex-direction: column;
  height: auto; /* Altura automática cuando se expande */
  padding: 15px;
  width: 250px; /* Ancho del detalle expandido */
  z-index: 2; /* Asegurar que se muestre por encima de otros elementos */
}

.property.highlight::after {
  display: block; /* Mostrar el triángulo cuando está destacado */
}

.property.highlight .details {
  display: flex; /* Mostrar detalles cuando está destacado */
  flex-direction: column;
}
.info-window-link {
  z-index: 1000; /* Ajusta según sea necesario para asegurar visibilidad */
  cursor: pointer; /* Asegura que se muestre el cursor de enlace */
}
.info-window-link a {
  pointer-events: auto; /* Asegura que los eventos del mouse sean capturados */
}


.property img {
  max-width: 100%; /* Asegurar que la imagen no desborde el contenedor */
  height: auto;
  border-radius: 8px; /* Opcional: bordes redondeados para la imagen */
}
/* Ajusta este estilo para cambiar el aspecto de los iconos según el tipo de propiedad. */
.fa-landmark { color: #6C757D; } /* Ejemplo para patrimonio. */
.fa-archway{ color: #FFC107; } /* Ejemplo para jacimientos. */
.fa-umbrella-beach { color: #007BFF; } /* Ejemplo para playas. */
.fa-info-circle { color: #17A2B8; } /* Ejemplo para información. */
.fa-thumbtack { color: #69920C; }
/* Añade más reglas según los tipos de icono que tengas. */


/* fin mapa portada */






/* Inicio footer */
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 1.5rem;
  }

  footer .nav-link:hover{
    text-decoration: underline !important;
  }

  .footer-container .footer-item {
    padding: 0 5px 0px 5px;
  }

  .footer-container .footer-item a {
    color: #ffffff;
    margin: 0;
    padding: 0;
  }

  .footer-container .footer-item a:hover {
    color: #e0ecec;
  }

  .footer-container .footer-item p {
    color: #d1e5e6;
    margin: 0;
    padding: 0;
  }
  footer .input-group{
    text-align: center;
    justify-content: center;
  }
  footer input#email {
    max-width: 25rem;
  }

  /* Media query para tablets pequeñas */
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-container{
      flex-direction: column;
    }
  }
  
  @media (max-width: 767px) {
    .footer-container {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
/* fin footer */
/* cookie */
/* Estilos para el mensaje de cookies */
.cookies-message-container {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Asegura que el mensaje esté siempre encima de otros elementos */
}

.cookies-message {
  max-width: 50%;
  margin: 0 auto;
}

.cookies-message p {
  margin-bottom: 10px;
}

.cookies-message a {
  color: #31C6F8;
  text-decoration: underline;
}

/* Estilos para el botón de aceptar cookies */
#accept-cookies-btn {
  background-color: #31C6F8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#accept-cookies-btn:hover {
  background-color: #0056b3;
}

.fixed-cookie-message {
  position: fixed;
}
@media (max-width: 767px) {
  .cookies-message {
    max-width: 100%;
  }
}
/* end cookie */



/* generic media query for >= 300px  */

@media screen and (max-width: 300px) {
  .titulo-principal, .titulo-principal-pdf{
    font-size: 2.5rem !important;
  }

  .parallax-content {
    top: 30% !important;
  }

  .container-social {
    bottom: 0% !important;
  }

  .parallax-flecha {
    top: calc(65vh - 20px) !important;
  }

}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .w-sm-100 {
      width: 100% !important;
  }

  .w-sm-75 {
      width: 75% !important;
  }

  .w-sm-50 {
      width: 50% !important;
  }

  .w-sm-25 {
      width: 25% !important;
  }

  .h-sm-100 {
      height: 100% !important;
  }

  .h-sm-75 {
      height: 75% !important;
  }

  .h-sm-50 {
      height: 50% !important;
  }

  .h-sm-25 {
      height: 25% !important;
  }
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .w-md-100 {
      width: 100% !important;
  }

  .w-md-75 {
      width: 75% !important;
  }

  .w-md-50 {
      width: 50% !important;
  }

  .w-md-25 {
      width: 25% !important;
  }

  .h-md-100 {
      height: 100% !important;
  }

  .h-md-75 {
      height: 75% !important;
  }

  .h-md-50 {
      height: 50% !important;
  }

  .h-md-25 {
      height: 25% !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .w-lg-100 {
      width: 100% !important;
  }

  .w-lg-75 {
      width: 75% !important;
  }

  .w-lg-50 {
      width: 50% !important;
  }

  .w-lg-25 {
      width: 25% !important;
  }

  .h-lg-100 {
      height: 100% !important;
  }

  .h-lg-75 {
      height: 75% !important;
  }

  .h-lg-50 {
      height: 50% !important;
  }

  .h-lg-25 {
      height: 25% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .w-xl-100 {
      width: 100% !important;
  }

  .w-xl-75 {
      width: 75% !important;
  }

  .w-xl-50 {
      width: 50% !important;
  }

  .w-xl-25 {
      width: 25% !important;
  }

  .h-xl-100 {
      height: 100% !important;
  }

  .h-xl-75 {
      height: 75% !important;
  }

  .h-xl-50 {
      height: 50% !important;
  }

  .h-xl-25 {
      height: 25% !important;
  }
}

/* end generic */

/* personalización */
.super_destacado_container_image_parallax {
  background-size: cover;
  height: 70vh;
  object-fit: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 991px) {
  .super_destacado_container_image_parallax {
      height: 40vh;
      background-attachment: scroll;
  }
}

/* Estilos específicos para tablets en orientación horizontal */
@media screen and (min-width: 992px) and (max-width: 1366px) {
  .super_destacado_container_image_parallax {
    height: 50vh;
    background-attachment: scroll;
  }
}



/* end personalización */

/* freebox */

#freebox-subblog-home .card .img-container {
  max-height: 250px;
  overflow: hidden;
}
#freebox-subblog-home .card .nav-link-freebox:hover {
  text-decoration: underline !important;
}
/* end freebox */

/*  modal */
#notificacionEmailModal .modal-footer{
  border-top: none !important;
}
#notificacionEmailModal .modal-header{
  border-bottom: none !important;
}
#notificacionEmailModal .modal-body{
  font-size: 1.5rem;
}
#notificacionEmailModal .modal-footer button{
  background-color: #4CAA66;
  width: 200px;
  border: none;
  box-shadow: 0px 6px 10px -5px rgba(76,170,102);
}


/* Estilo base para modal-dialog */
.modal-dialog.modal-dialog-centered {
  max-width: calc(70% - 30px);
}

/* Para pantallas medianas (md) */
@media (max-width: 768px) {
  .modal-dialog.modal-dialog-centered {
    max-width: calc(80% - 30px);
  }
  .categoria-especial-container{
    grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    padding: 0;
    margin: 0;
  }
  .categoria-especial-container .caption{
    display: none;
  }
  .categoria-especial .img-fluid.align-middle {
    height: 95px;
  }
}

/* Para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .modal-dialog.modal-dialog-centered {
    max-width: calc(80% - 30px);
  }
}

/* Para dispositivos móviles */
@media (max-width: 480px) {
  .modal-dialog.modal-dialog-centered {
    max-width: calc(90% - 30px);
  }

}
@media (max-width: 480px) {
  .modal-dialog.modal-dialog-centered {
    max-width: calc(100% - 30px);
  }

}

/* end modal */

/* ckeditor */
iframe {
  width: 100% !important; /* Asegura que el iframe tome el ancho completo del contenedor */
  height: auto; /* Ajusta la altura automáticamente basado en el aspect ratio */
}
/* end ckeditor */

.carousel-item {
  transition: opacity 0.6s ease-in-out;
}



