/* default styles */
a {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}
/* end default */
/* Header inicio */
nav#navbar {
  padding: 1rem;
}
header nav .navbar-brand img{
    height: 2.5rem;
}
header a {
  font-size: 1.2rem;
}
#navbar {
    transition: top 0.3s ease-in-out;
  }

header ul.navbar-nav.ml-auto {
    text-transform: capitalize;
}

/* Custom */
.btn-custom {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-custom:hover {
  background-color: #e9ecef;
  border-color: #e9ecef;
}


/* end Custom */

  /* Estilo para el menú desplegable */
.dropdown-menu {
  background-color: #ffffff; /* Color de fondo */
  border: none; /* Borde */
  border-radius: 0; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.dropdown-menu a {
  color: #000000; /* Color del texto */
  font-weight: bold; /* Grosor de la fuente */
  padding: 10px 20px; /* Espaciado interno */
  display: block; /* Mostrar como bloque */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease; /* Transición suave */
}

.dropdown-menu a:hover {
  background-color: #f8f8f8; /* Color de fondo al pasar el ratón */
}
@media (max-width: 767px) {
  .dropdown-menu {
    background-color: #ffffff; /* Color de fondo */
  }
}

/* Estilo para el último elemento del menú desplegable */



/* fin header */

/* video home */
#videos-container-home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000; 
}
#video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s;
}
#videos-container-home  video{
  width: 100%;
}

#videos-container-home.video-ended video {
  display: none;
}

#videos-container-home .video-fade {
  opacity: 0;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
}

#videos-container-home .video-fade.active {
  opacity: 1;
}

@media (max-width: 768px) {
  #videos-container-home {
    height: 30vh !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #videos-container-home {
    height: 30vh !important;
  }
}



/* end video home */
/* banner  */
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #3EBFAB;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .main-title {
    font-size: 5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .sub-title {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  
  .banner-highlight {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #E76500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  @media (max-width: 768px) {
    .main-title {
      font-size: 24px;
    }
    .sub-title {
      font-size: 18px;
    }
    .banner-highlight {
      font-size: 36px;
    }
  }
  
/* fin de banner */

/* calendar  */
.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
  border-radius: 50%;
  margin: 0.25rem;
  cursor: pointer;
}

.event-day {
  background-color: blue;
  color: white;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}
/* end calendar */
/* Parallax */
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 90vh; /* Ajusta la altura según tus necesidades */
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Agregamos esta línea */
}


.parallax-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.parallax-content h2 {
    font-size: 3rem !important;
    font-weight: bold;
}


.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Ajusta el color de texto según tu diseño */
}

.parallax-content h2 {
    font-size: 32px; /* Ajusta el tamaño de fuente según tu diseño */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajusta el sombreado de texto según tu diseño */
}


.parallax-flecha {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}
.parallax-flecha img{
    height: 64px;
    width: 64px;
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    25% {
        transform: translateX(-50%) translateY(-10px);
    }
    50% {
        transform: translateX(-50%) translateY(0);
    }
    75% {
        transform: translateX(-50%) translateY(-10px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* End parallax */

/* Redes sociales */

.container-social{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: wrap;
    width: 190px;
    justify-content: space-around;
    padding: 20px;
    background: #000000;
    border-top-left-radius: 20px;
}
.list-group{
    display: flex;
    flex-direction: row;
}

.container-social .list-group .list-group-item{
    background-color: unset;
    border: none;
}
.container-social .list-group .list-group-item a{
    border: none;
}

/* end redes sociales */



/* inicio subBlog especiales */
.categoria-especial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: center;
    align-items: center;
    align-items: stretch;
    grid-auto-rows: 150px;
    padding: 1rem;
    margin: 0;
   
}





.categoria-especial {
    text-align: center;
    padding: 1rem;
    height: 100%; /* Asegura que los elementos ocupen toda la altura del contenedor */
    box-sizing: border-box; /* Incluye el relleno en el tamaño total del elemento */
}

.categoria-especial img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.categoria-especial h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

section.categoria-especial-container .col-especial-subBlog{
    width: 100%;
}


.categoria-especial .img-fluid.align-middle{
    height: 75px;
}

.agenda-special-category .especial-agenda{
    max-height: 35px;
}
.agenda-special-category {
    background-color: #fff;
}
.content-agenda-detail-container{
    background-color: rgba(0,0,0,0.01);
}

/* fin subBlog especiales */

/* agenda ultimos */

aside .image-container {
    height: 200px; /* Ajusta la altura deseada */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  aside .img-fluid {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: cover !important;
  }
  
  aside .image-container .img-fluid {
    max-height: 200px !important;
    object-fit: cover !important;
    width: 100% !important;
  }
  .image-container {
    position: relative;
  }
  
  .card-inline {
    position: relative;
    overflow: hidden;
  }
  
  .card-inline .event-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E76500;
    color: #FFF;
    text-align: center;
    padding: 5px;
  }
  
  .card-inline .event-datetime {
    font-weight: bold;
    line-height: 1;
  }
  
  

/* fin de agenda ultimos */

/* aside entradas */
aside.entrades.bg-yellow {
    background-color: #FFB516; /* Color corporativo amarillo */
}

aside.entrades .card {
    border-radius: 10px;
}

aside.entrades .card h4 {
    font-size: 24px;
}

aside.entrades .card p {
    font-size: 16px;
}

aside.entrades .card a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
}

aside.entrades .card a i {
    margin-right: 5px;
}





/* fin aside entradas */



/* agenda detalle */

.agenda-pdf-link {
    background-color: #31C6F8 !important;
}
/* fin de agenda detalle */

/* Mapa portada */
.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .map-legend {
    position: absolute;
    bottom: 1rem !important;
    left: 3rem !important;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .legend-label {
    font-size: 14px;
  }
  #accordion .btn:focus {
    outline: none;
  }
  


/* fin mapa portada */






/* Inicio footer */
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 1.5rem;
  }

  .footer-container .footer-item {
    padding: 0 5px 0px 5px;
  }

  .footer-container .footer-item a {
    color: #d1e5e6;
    margin: 0;
    padding: 0;
  }

  .footer-container .footer-item a:hover {
    color: #e0ecec;
  }

  .footer-container .footer-item p {
    color: #d1e5e6;
    margin: 0;
    padding: 0;
  }
  footer .input-group{
    text-align: center;
    justify-content: center;
  }
  footer input#email {
    max-width: 25rem;
  }
  /* Media query para tablets pequeñas */
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-container{
      flex-direction: column;
    }
  }
  
  @media (max-width: 767px) {
    .footer-container {
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
/* fin footer */