{% extends 'core/base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="description" content="Consulta les nostres polítiques de cookies per conèixer com utilitzem i gestionem les galetes al nostre lloc web. Entén la nostra pràctica de privadesa i com et podem oferir una millor experiència de navegació.">
    <meta property="og:description" content="Consulta les nostres polítiques de cookies per conèixer com utilitzem i gestionem les galetes al nostre lloc web. Entén la nostra pràctica de privadesa i com et podem oferir una millor experiència de navegació.">
{% endblock meta_description %}


{% block meta_keywords %}
    <meta name="keywords" content="política de cookies, gestió de galetes, privadesa en línia, dades de navegació, consentiment de cookies">
{% endblock meta_keywords %}


{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ legal.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}



{% block extra_css %}
<style>
    .banner-container {
        position: relative;
      }
      
      .banner-img {
        width: 100%;
      }
      
      .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .banner-title {
        color: #31C6F8;
        font-size: 36px;
        font-weight: bold;
      }
      
</style>
{% endblock extra_css %}




{% block content %}

<div class="container-fluid p-0 m-0">
    <div class="container-fluid p-0 m-0 banner-container">
        <img src="{% static 'core/img/sample/oficina-turisme-header.png' %}" alt="Polítiques de cookies" class="banner-img">
        <div class="banner-content">
          <h1 class="banner-title text-center">Polítiques de cookies</h1>
        </div>
      </div>
    <div class="container pt-5">
        {% autoescape on %}
            {{ legal.contenido | safe}}
        {% endautoescape %}
    </div>

</div>
    <!-- Agrega aquí cualquier otro contenido específico de la página legal -->
{% endblock %}