{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block meta_description %}
    <meta name="description" content="Descobreix el nostre punt d'informació turística a Cabrera de Mar, on t'oferim assistència personalitzada sobre rutes, esdeveniments, i tot el que necessites saber sobre el nostre encantador poble. Vine i obtingues la millor informació local.">
    <meta property="og:description" content="Descobreix el nostre punt d'informació turística a Cabrera de Mar, on t'oferim assistència personalitzada sobre rutes, esdeveniments, i tot el que necessites saber sobre el nostre encantador poble. Vine i obtingues la millor informació local.">
{% endblock meta_description %}

{% block meta_keywords %}
    <meta name="keywords" content="punt d'informació turística, assistència personalitzada, rutes locals, esdeveniments a Cabrera de Mar, informació local, turisme a Cabrera de Mar">
{% endblock meta_keywords %}

{% block title %}
    {% autoescape off %}
        {{ punt.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}

<style>
    .banner-container {
        position: relative;
      }
      
      .banner-img {
        width: 100%;
      }
      
      .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .banner-title {
        color: #ffffff;
        font-size: 36px;
        font-weight: bold;
      }
      
      .punto-info-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      .punto-info-description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      
      .punto-info-contact {
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
      }
      
      .punto-info-contact li {
        margin-bottom: 10px;
      }
      
      .punto-info-contact li i {
        margin-right: 5px;
      }
      
      .punto-info-banner {
        width: 100%;
        height: auto;
      }
      .card {
        border: none;
        border-radius: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .card-body {
        padding: 20px;
      }
      
      .card-title {
        font-size: 24px;
        font-weight: bold;
      }
      
      .card-text {
        margin-bottom: 20px;
      }
      
      .list-group-item {
        border: none;
        padding: 8px 0;
      }
      
      .list-group-item i {
        margin-right: 10px;
      }
      
      .list-group-item a {
        color: #000;
        text-decoration: none;
      }
      
      .list-group-item a:hover {
        text-decoration: underline;
      }
      .fas {
        color: #31C3FC;
      }

</style>
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="container-fluid p-0 m-0 banner-container">
            <img src="{% static 'core/img/sample/directori-interes-header.png' %}" alt="{% blocktrans %}Punt d'informació{% endblocktrans %}" class="banner-img">
            <div class="banner-content">
              <h1 class="banner-title text-center">{% blocktrans %}Punt d'informació{% endblocktrans %}</h1>
            </div>
          </div>
          

          <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="card-title punto-info-title">
                          {% autoescape on %}
                            {{ punt.titulo | safe }}
                          {% endautoescape %}
                        </h2>
                        <div class="card-text punto-info-description">
                            {% autoescape on %}
                            {{ punt.descripcion | safe }}
                            {% endautoescape %}
                        </div>                        

                        <div class="punto-info-contact">
                            <div class="punto-info-contact-item">
                              <i class="fas fa-phone"></i>
                              <a href="tel:{{ punt.telefono }}">{{ punt.telefono }}</a>
                            </div>
                            <div class="punto-info-contact-item">
                              <i class="fas fa-envelope"></i>
                              <a href="mailto:{{ punt.correo }}">{{ punt.correo }}</a>
                            </div>
                            <div class="punto-info-contact-item">
                              <i class="fas fa-map-marker-alt"></i>
                              {{ punt.direccion }}
                            </div>
                        </div>
                        <div id="map" style="width: 100%; height: 500px;"></div>
                      </div>
                    </div>
                  </div>
                  
              <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                <img src="{{ punt.banner.url }}" alt="Banner Punt d'informació" class="punto-info-banner">
              </div>
            </div>
          </div>
          
    </div>
{% endblock %}



{% block extra_script %}
<script>
    {% if punt.mapa.latitud and punt.mapa.longitud %}

      let map;
      const parser = new DOMParser();

      function truncateDescription(description, wordCount) {
          // Convertir la descripción en un array de palabras
          const words = description.split(' ');
      
          // Verificar si la descripción ya tiene menos de `wordCount` palabras
          if (words.length <= wordCount) {
          return description;
          }
      
          // Obtener las primeras `wordCount` palabras y unirlas nuevamente en una cadena
          const truncatedWords = words.slice(0, wordCount);
          const truncatedDescription = truncatedWords.join(' ');
      
          // Agregar puntos suspensivos al final de la descripción truncada
          const finalDescription = truncatedDescription + '...';
      
          return finalDescription;
      }

      async function initMap() {

        const mapContainer = document.getElementById('map');
        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
          "marker",
        );
        const latitudInicio = parseFloat('{{ punt.mapa.latitud|stringformat:".6f" }}'.replace(',', '.'));
        const longitudInicio = parseFloat('{{ punt.mapa.longitud|stringformat:".6f" }}'.replace(',', '.'));
    
        const map = new Map(mapContainer, {
            center: { lat: latitudInicio, lng: longitudInicio },
            zoom: 14,
            mapTypeId: 'satellite',
            mapId: "4504f8b37365c3d0"
        });

        let point = {
          latitud: latitudInicio,
          longitud: longitudInicio,
          titulo: "{{ punt.mapa.titulo }}",
          imagen: '{% if punt.mapa.postimagen.imagen.small_thumbnail.url %} {{ punt.mapa.postimagen.imagen.small_thumbnail.url|stringformat:"s"}}{% endif %}',
          descripcion: truncateDescription(`{% autoescape on %}{{punt.mapa.descripcion|safe}}{% endautoescape %}`, 20),
          url_externo: '{% if punt.mapa.enlace_google_maps %}{{ punt.mapa.enlace_google_maps }}{% endif %}',
        }


        const marker = new AdvancedMarkerElement({
            position: { lat: latitudInicio, lng: longitudInicio },
            map: map,
            title: '{{ punt.mapa.titulo }}',
            content: buildContent(point)
        });

        marker.addListener('click', ({ domEvent, latLng }) => {
          map.panTo(new google.maps.LatLng({ lat: latLng.lat(), lng: latLng.lng() }));
          map.panBy(0, -180);
          toggleHighlight(marker, point);
        });


        }
        
        function loadGoogleMapsAPI(callback) {
            var script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA7t0HCgOTtsO3whwMzARtjbO-cvkPIyyQ&callback=' + callback;
            script.defer = true;
            script.async = true;
            document.head.appendChild(script);
        }

        loadGoogleMapsAPI('initMap');


        function toggleHighlight(markerView, property) {
          if (markerView.content.classList.contains("highlight")) {
            markerView.content.classList.remove("highlight");
            markerView.zIndex = null;
          } else {
            markerView.content.classList.add("highlight");
            markerView.zIndex = 1;
          }
        }

        function buildContent(property) {
          // Crea el contenedor principal para el contenido del marcador.
          const baseURL = `${window.location.protocol}//${window.location.host}`;
        
          const googleMapsIcon = '<i class="fas fa-map-marked-alt px-1" aria-hidden="true"></i>';
          const internalLinkIcon = '<i class="fas fa-link px-1" aria-hidden="true"></i>';
          
          const content = document.createElement("div");
          content.className = "property";
        
        
          // Crea el contenido HTML dinámico.
          content.innerHTML = `
            <div class="icon">
                <i class="fa-solid fa-thumbtack" aria-hidden="true" style="color: #69920C;"></i>
            </div>
            <div class="details">
                <div class="address address text-center text-uppercase text-primary h6">${property.titulo}</div>
                <div class="description">${property.descripcion}</div>
                <div class="features">
                    <div>
                        <i class="fas fa-camera fa-lg mb-2" aria-hidden="true" title="image"></i>
                        <span class="fa-sr-only">image</span>
                        <img src="${property.imagen}" alt="${property.titulo}" style="width: 100%; height: 200px; object-fit: cover;">
                    </div>
                        <div class="row justify-content-center">
                          ${property.url_externo ? `<div class="info-window-link py-2">${googleMapsIcon}<a class="link-opacity-100" href="${property.url_externo}" 
                          target="_blank" rel="noopener noreferrer">Google Maps</a></div>` : ''}
                        </div>
                    </div>
                    
                </div>
            </div>
          `;
          setTimeout(() => {
            const links = content.querySelectorAll('a');
            links.forEach(link => {
                link.addEventListener('click', (e) => {
                    e.stopPropagation(); // Previene la propagación del evento
                    // Opcionalmente, maneja el clic aquí, por ejemplo, abriendo el enlace en una nueva pestaña
                    // Esto podría no ser necesario si ya estás usando target="_blank" en tus enlaces
                    console.log("click inside");
                });
            });
        }, 0);
          return content;
        }


      {% endif %}

    </script>
{% endblock extra_script %}
