{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
{% block meta_description %}
    <meta name="description" content="Descobreix el nostre punt d'informació turística a Cabrera de Mar, on t'oferim assistència personalitzada sobre rutes, esdeveniments, i tot el que necessites saber sobre el nostre encantador poble. Vine i obtingues la millor informació local.">
    <meta property="og:description" content="Descobreix el nostre punt d'informació turística a Cabrera de Mar, on t'oferim assistència personalitzada sobre rutes, esdeveniments, i tot el que necessites saber sobre el nostre encantador poble. Vine i obtingues la millor informació local.">
{% endblock meta_description %}

{% block meta_keywords %}
    <meta name="keywords" content="punt d'informació turística, assistència personalitzada, rutes locals, esdeveniments a Cabrera de Mar, informació local, turisme a Cabrera de Mar">
{% endblock meta_keywords %}

{% block title %}
    {% autoescape off %}
        {{ punt.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}

<style>
    .banner-container {
        position: relative;
      }
      
      .banner-img {
        width: 100%;
      }
      
      .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .banner-title {
        color: #ffffff;
        font-size: 36px;
        font-weight: bold;
      }
      
      .punto-info-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      .punto-info-description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      
      .punto-info-contact {
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
      }
      
      .punto-info-contact li {
        margin-bottom: 10px;
      }
      
      .punto-info-contact li i {
        margin-right: 5px;
      }
      
      .punto-info-banner {
        width: 100%;
        height: auto;
      }
      .card {
        border: none;
        border-radius: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      
      .card-body {
        padding: 20px;
      }
      
      .card-title {
        font-size: 24px;
        font-weight: bold;
      }
      
      .card-text {
        margin-bottom: 20px;
      }
      
      .list-group-item {
        border: none;
        padding: 8px 0;
      }
      
      .list-group-item i {
        margin-right: 10px;
      }
      
      .list-group-item a {
        color: #000;
        text-decoration: none;
      }
      
      .list-group-item a:hover {
        text-decoration: underline;
      }
      .fas {
        color: #31C3FC;
      }

</style>
{% endblock extra_css %}

{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="container-fluid p-0 m-0 banner-container">
            <img src="{% static 'core/img/sample/directori-interes-header.png' %}" alt="{% blocktrans %}Punt d'informació{% endblocktrans %}" class="banner-img">
            <div class="banner-content">
              <h1 class="banner-title text-center">{% blocktrans %}Punt d'informació{% endblocktrans %}</h1>
            </div>
          </div>
          

          <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="card-title punto-info-title">
                          {% autoescape on %}
                            {{ punt.titulo | safe }}
                          {% endautoescape %}
                        </h2>
                        <div class="card-text punto-info-description">
                            {% autoescape on %}
                            {{ punt.descripcion | safe }}
                            {% endautoescape %}
                        </div>                        

                        <div class="punto-info-contact">
                            <div class="punto-info-contact-item">
                              <i class="fas fa-phone"></i>
                              <a href="tel:{{ punt.telefono }}">{{ punt.telefono }}</a>
                            </div>
                            <div class="punto-info-contact-item">
                              <i class="fas fa-envelope"></i>
                              <a href="mailto:{{ punt.correo }}">{{ punt.correo }}</a>
                            </div>
                            <div class="punto-info-contact-item">
                              <i class="fas fa-map-marker-alt"></i>
                              {{ punt.direccion }}
                            </div>
                        </div>
                        <div id="map" style="width: 100%; height: 500px;"></div>
                      </div>
                    </div>
                  </div>
                  
              <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                <img src="{{ punt.banner.url }}" alt="Banner Punt d'informació" class="punto-info-banner">
              </div>
            </div>
          </div>
          
    </div>
{% endblock %}



{% block extra_script %}
<script>
    {% if punt.mapa.latitud and punt.mapa.longitud %}
        function truncateDescription(description, wordCount) {
            // Convertir la descripción en un array de palabras
            const words = description.split(' ');
        
            // Verificar si la descripción ya tiene menos de `wordCount` palabras
            if (words.length <= wordCount) {
            return description;
            }
        
            // Obtener las primeras `wordCount` palabras y unirlas nuevamente en una cadena
            const truncatedWords = words.slice(0, wordCount);
            const truncatedDescription = truncatedWords.join(' ');
        
            // Agregar puntos suspensivos al final de la descripción truncada
            const finalDescription = truncatedDescription + '...';
        
            return finalDescription;
        }

        function initMap() {
            const mapContainer = document.getElementById('map');
            const latitudInicio = parseFloat('{{ punt.mapa.latitud|stringformat:".6f" }}'.replace(',', '.'));
            const longitudInicio = parseFloat('{{ punt.mapa.longitud|stringformat:".6f" }}'.replace(',', '.'));
        
            const map = new google.maps.Map(mapContainer, {
                center: { lat: latitudInicio, lng: longitudInicio },
                zoom: 14
            });
            const marker = new google.maps.Marker({
                position: { lat: latitudInicio, lng: longitudInicio },
                map: map,
                title: '{{ punt.mapa.titulo }}',
                animation: google.maps.Animation.BOUNCE
            });
            let image = "";
            let enlace_google_maps = '';

            {% if punt.mapa %}
              image = '{{ punt.mapa.postimagen.imagen.archivo.url }}';
            {% endif %}
            {% if punt.mapa.enlace_google_maps %}
            enlace_google_maps = '{{ punt.mapa.enlace_google_maps }}'; 
            {% endif %}
            let description = truncateDescription(`{% autoescape on %}{{punt.mapa.descripcion|safe}}{% endautoescape %}`, 20);
            const content = `
                <div class="info-window">
                    <h4 class="info-window-title text-center">{{map.titulo}}</h4>
                    <p class="info-window-image"><img src="${image}" alt="{{punt.map.titulo}}" style="width: 100%; height: 150px; object-fit: cover;"></p>
                    <p class="info-window-description">${description}</p>
                    ${enlace_google_maps ? `<p class="info-window-link"><a href="{{ punt.mapa.enlace_google_maps }}" target="_blank" rel="noopener noreferrer" class="text-danger">{% blocktrans %}Veure més a Google Maps{% endblocktrans %}</a></p>` : ''}
                </div>
            `;

            const infoWindow = new google.maps.InfoWindow({
                content: content
            });

            marker.addListener('click', function() {
                infoWindow.open(map, marker);
            });
        }
        
        function loadGoogleMapsAPI(callback) {
            var script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA7t0HCgOTtsO3whwMzARtjbO-cvkPIyyQ&callback=' + callback;
            script.defer = true;
            script.async = true;
            document.head.appendChild(script);
        }

        loadGoogleMapsAPI('initMap');

      {% endif %}

    </script>
{% endblock extra_script %}
