{% block extra_css %}
<style>
    .swiper-container {
        width: 100%;
        padding: 1.5rem;
    }
    
    .swiper-slide {
        width: 100%;
    }

    .related-activities-title {
        margin-bottom: 1rem;
    }

    .related-activity-link {
        text-decoration: none;
    }

    .related-activity-card {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .related-activity-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        margin-bottom: 0.5rem;
    }

    .image-container img {
        width: 100%;
        height: auto;
        height: 275px;
        object-fit: contain;
    }

    #destacats {
        position: relative;
        overflow: hidden;
    }

    .custom-prev,
    .custom-next {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .custom-prev {
        left: 10px;
    }

    .custom-next {
        right: 10px;
    }

    .custom-prev-icon,
    .custom-next-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .custom-prev:hover,
    .custom-next:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        color: #FFF;
    }

    .card.related-activity-card.mb-3.h-100 {
        max-height: 350px;
        overflow: hidden;
    }


    @media (max-width: 767px) {
        .swiper-container {
            padding: 0;
        }

        .swiper-slide {
            width: 50%;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .swiper-container {
            padding: 0;
        }

        .swiper-slide {
            width: 33.33%;
        }
    }
</style>
{% endblock extra_css %}

{% if coleccion_posts %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <p class="related-activities-title lead px-5 text-left">Coneix els llocs que no t'hauries de perdre si visites Cabrera de Mar: el castell Burriac,
             la Necròpolis ibers, l'antiga ciutat d'Ilturo, la parròquia de Sant Feliu o les platges Cabrera.
              Aquests són només alguns dels llocs més emblemàtics del nostre municipi,
               on cada racó us farà viure una experiència única i inoblidable.
        </p>
    </div>
    <div class="col-12">
        <div class="row categoria-especial-container py-5">
            {% for categoria in categorias %}
            <div class="col-especial-subBlog p-1">
                <div class="categoria-especial mx-auto text-center" style="background-color: {{ categoria.color }}">
                    <a href="{% url 'blog:categoria' slug=categoria.slug %}" class="text-white d-block">
                        <img src="{{ categoria.categoriabannerimagen.imagen.archivo.url }}" alt="{{ categoria.titulo }}" class="img-fluid align-middle">
                        <div class="caption">
                            <h3>{{ categoria.titulo }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endif %}

{% block extra_script %}
<script>
    function initSwiper() {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 4, // Número de tarjetas por slide
            spaceBetween: 10, // Espacio entre tarjetas
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                374:{
                    slidesPerView: 2,
                },

                767: {
                    slidesPerView: 3,
                },

                // Configuración para tablets
                991: {
                    slidesPerView: 4,
                },
            },
        });
    }

    window.onload = initSwiper;
</script>
{% endblock extra_script %}
