{% block extra_css %}
<style>
    .collage-container-categorias-seleccion {
        width: 100%;
        padding: 1.5rem;
        overflow: hidden;
    }

    .collage-card-categorias-seleccion {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        width: 350px; /* Tamaño estandar para las cards */
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
    }

    .collage-card-categorias-seleccion:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3px);
    }

    .collage-card-body-categorias-seleccion {
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Oscurecer la imagen con su color */
        color: #FFF;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .collage-card-categorias-seleccion:hover .collage-card-body-categorias-seleccion {
        opacity: 1;
    }

    .collage-card-title-categorias-seleccion {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .collage-image-container-categorias-seleccion img {
        width: 100%;
        height: auto;
        max-height: 350px; /* Tamaño máximo de la imagen */
        object-fit: cover;
    }
    .custom-prev-2,
    .custom-next-2 {
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .custom-prev-2 {
        left: 10px;
    }

    .custom-next-2 {
        right: 10px;
    }

    .custom-prev-icon-2,
    .custom-next-icon-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .custom-prev-2:hover,
    .custom-next-2:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .collage-swiper-button-next-categorias-seleccion::after,
    .collage-swiper-rtl-categorias-seleccion .collage-swiper-button-prev-categorias-seleccion::after,
    .collage-swiper-button-prev-categorias-seleccion::after,
    .collage-swiper-rtl-categorias-seleccion .collage-swiper-button-next-categorias-seleccion::after {
        color: #FFF;
    }
</style>
{% endblock extra_css %}

{% if coleccion_posts %}
<section class="container-fluid py-3" id="collage-container-categorias-seleccion">
    <div class="py-3">
        <p class="collage-title-categorias-seleccion lead px-5 text-left">Coneix els llocs que no t'hauries de perdre si visites Cabrera de Mar: el castell Burriac, la Necròpolis ibers, l'antiga ciutat d'Ilturo, la parròquia de Sant Feliu o les platges Cabrera. Aquests són només alguns dels llocs més emblemàtics del nostre municipi, on cada racó us farà viure una experiència única i inoblidable.</p>
    </div>
    <div class="col-12">
        <div class="collage-container-categorias-seleccion py-5 swiper-container swiper-container-collage-categorias-seleccion">
            <div class="swiper-wrapper">
                {% for categoria in categorias %}
                <div class="swiper-slide collage-card-categorias-seleccion">
                    <a href="{% url 'blog:categoria' slug=categoria.slug %}" class="text-white d-block collage-link-categorias-seleccion">
                        <div class="collage-image-container-categorias-seleccion">
                            <img src="{{ categoria.categoriagaleriaimagen_set.first.imagen.archivo.url }}" alt="{{ categoria.titulo }}" class="img-fluid align-middle">
                        </div>
                        <div class="collage-card-body-categorias-seleccion">
                            <h3 class="collage-card-title-categorias-seleccion">{{ categoria.titulo }}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev custom-prev-2"></div>
            <div class="swiper-button-next custom-next-2"></div>
        </div>
    </div>
</section>
{% endif %}

{% block extra_script %}
<script>
    function initCollageSwiperCategoriasSeleccion() {
        let collageSwiperCategoriasSeleccion = new Swiper('.swiper-container-collage-categorias-seleccion', {
            loop: true,
            slidesPerView: 2, // Número de tarjetas por slide
            spaceBetween: 20, // Espacio entre tarjetas
            navigation: {
                nextEl: '.custom-next-2',
                prevEl: '.custom-prev-2',
            },
            breakpoints: {
                // Configuración para dispositivos móviles
                374: {
                    slidesPerView: 1,
                },
                767: {
                    slidesPerView: 3,
                },
                // Configuración para tablets
                991: {
                    slidesPerView: 4,
                },
            },
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        initCollageSwiperCategoriasSeleccion();
    });
</script>
{% endblock extra_script %}
