{% extends "core/base.html" %}
{% load static %}

{% block meta_description %}
  {% if compra_y_descubre.metadescripcion %}
    <meta name="Description" content="{{ compra_y_descubre.metadescripcion | safe | striptags }}">
    <meta property="og:description" content="{{ compra_y_descubre.metadescripcion | safe | striptags }}">
  {% else %}
    {% if compra_y_descubre.descripcion %}
      <meta name="Description" content="{{ compra_y_descubre.descripcion | safe | striptags | truncatewords_html:150 }}">
      <meta property="og:description" content="{{ compra_y_descubre.descripcion | striptags | truncatewords_html:150 | safe }}">
    {% endif %}
  {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}

    {% if compra_y_descubre.tags.all %}
        <meta name="Keywords" content="{% for tag in compra_y_descubre.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    {% endif %}

{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ compra_y_descubre.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
    <style>
        
        .event-container .banner-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 0px;
            border-radius: 5px;

        }
        
        .titulo-principal, .inside-primary-color strong {
            color: {{ compra_y_descubre.primary_color }};
        }

        .secondary-color{
            color: {{ compra_y_descubre.secondary_color }};
        }
        .primary-color{
            color: {{ compra_y_descubre.primary_color }};
        }

        .container-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 columnas con igual ancho */
            gap: 20px; /* Espacio entre las columnas y filas */
            align-items: center; /* Centra verticalmente los elementos en cada fila */
            justify-items: center;
          }
        
        .paso-container p{
            color: {{ compra_y_descubre.primary_color }};
            font-weight: 700;
        }
        .paso-img{
            max-height: 300px;
            object-fit: cover!important;
        }

        .link {
            display: inline-block;
            padding: 30px 50px;
            font-weight: bold;
            color: {{ compra_y_descubre.primary_color | safe }};
            background-color: #f9f9f9;
            border: 2px solid {{ compra_y_descubre.primary_color | safe }};
            border-radius: 30px;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        p.int-value{
            color: {{ compra_y_descubre.primary_color | safe }}; /* Color primario */
            font-weight: bold;
            font-size: 6.5rem;
        }
        p.string-value{
            font-weight: bold;
            font-size: 3.5rem;
        }

        .link:hover {
            background-color: {{ compra_y_descubre.primary_color | safe }};
            color: white !important;
        }
        
        .title-countdown{
            font-size: 6.5rem;
        }
        
        .header-text{
            font-size: 2rem;
        }

        /* Establecer una sola columna para tabletas y dispositivos móviles */
        @media (max-width: 768px) {
            .container-grid {
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }
        }
        .title-countdown{
            font-size: 6.5rem;
          }
    
          @media screen and (max-width: 768px) {
            .titulo-principal {
                font-size: 4rem;
                margin-bottom: 35px;
                text-align: center;
              }
            .border-left-evento{
                border: none;
                text-align: center;
            }
            .title-countdown{
                font-size: 4rem;
            }
            p.int-value{
                text-align: center;
            }
            p.string-value{
                text-align: center;
            }
            .event-container .collage-img{
                margin: 5px;
            }
            .evento_especial_link {
                padding: .5rem;
            }
          }
    </style>
{% endblock extra_css %}

{% block content %}

{% if compra_y_descubre.compradescubreimagen %}
    <div class="container-fluid  event-container bg-event">
        <div class="col-12 p-0 m-0">
                <a href="{{ compra_y_descubre.compradescubreimagen.imagen.archivo.url }}" class="fancybox">
                    <img src="{{ compra_y_descubre.compradescubreimagen.imagen.archivo.url }}" alt="{{ compra_y_descubre.titulo }}" class="img-fluid banner-img">
                </a>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12">
                <small class="d-block">Fes clic al banner per veure a pantalla completa</small>
            </div>
        </div>
    </div>
{% endif %}

{% if compra_y_descubre.titulo %}
    <div class="container-fluid bg-gray pt-2 pt-sm-2 pt-md-3 pt-lg-3 pt-xl-4 m-0">
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 align-content-end">
                    <h1 class="titulo-principal">{{ compra_y_descubre.titulo | safe }}</h1>
                </div>
                <div class="col-lg-6 col-12 border-left-evento align-content-start inside-primary-color">
                    {% autoescape on %}
                        {{ compra_y_descubre.descripcion_corta | safe }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% if compra_y_descubre.compadescubrepasosimagen_set.all.count >= 0 %}
    <div class="container pt-3  event-container">
        <div class="col-12 pt-3">
            <h2 class="titulo-principal text-center h2">Vols participar?</h2>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12 container-grid">
                {% for imagen in compra_y_descubre.compadescubrepasosimagen_set.all %}
                    <div class="paso-container">
                        <img src="{{ imagen.imagen.archivo.url }}" alt="{{ compra_y_descubre.titulo }}" class="paso-img">
                        <h3 class="h3 text-center secondary-color">
                            {{ imagen.titulo }}
                        </h3>
                        <p class="text-center primary-color">
                            {{ imagen.descripcion |safe}}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 pt-3">
            <p class="small text-center">Participar és molt fàcil, només has de comprar als teus negocis de confiança i omplir la butlleta.</p>
        </div>
    </div>
{% endif %}

{% if compra_y_descubre.descripcion_larga %}
    <div class="container-fluid bg-light pt-2 pt-sm-2 pt-md-3 pt-lg-3 pt-xl-4 m-0">
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12 border-left-evento align-content-start inside-primary-color">
                    {% autoescape on %}
                        {{ compra_y_descubre.descripcion_larga | safe }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="container-fluid bg-gray py-2 py-sm-2 py-md-3 py-lg-4 py-xl-5 m-0 py-3">
    <div class="container-fluid mt-3">
        <div class="col-12 py-3">
            <h2 class="text-center h2 primary-color">
                Vols Tenir Més Informació per participar?
            </h2>
        </div>
        <div class="col-12 justify-content-center py-2 py-sm-2 py-md-3 py-lg-4 py-xl-5 m-0 py-3">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6">
                    <div class="col-12">
                        <p class="header-text">
                            Si ets <span class="secondary-color h1">comerciant</span>, adhereix el teu negoci a la campanya…
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        {% if compra_y_descubre.comerciante %}
                            <a href="{{ compra_y_descubre.comerciante }}" class="link text-center" target="_blank">Adhereix-te</a>
                        {% else %}
                            <a href="https://xarxabarris.cat/" class="link text-center" target="_blank">Adhereix-te</a>
                        {% endif %}
                    </div>
                </div>

                <div class="col-12 col-md-12 col-sm-12 col-lg-6 col-xl-6">
                    <div class="col-12">
                        <p class="header-text">
                            Si vols <span class="secondary-color h1">participar</span>, completa el registre a xarxabarris.cat
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        {% if compra_y_descubre.participante %}
                            <a href="{{ compra_y_descubre.participante }}" class="link" target="_blank">Participa</a>
                        {% else %}
                            <a href="https://xarxabarris.cat/" class="link" target="_blank">Participa</a>
                        {% endif %}
                    </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock content %}

{% block asides %}

    {% if compra_y_descubre.has_ended %}
        <div class="container-fluid bg-light p-0 m-0 py-5">
            <div class="jumbotron jumbotron-fluid bg-light text-center">
                <div class="container">
                <p class="lead">Gràcies per participar.</p>
                <p class="lead">L'esdeveniment Compra i descobreix ha finalitzat!</p>
                </div>
            </div>
        </div>
    {% elif compra_y_descubre.is_now %}
        <div class="container-fluid bg-light p-0 m-0 py-5">
            <div class="container mt-3">
                <div class="row" id="countdown">
                    <div class="col-12 text-center py-3">
                        <h2 class="title-countdown" >Encara / Només falten</h2>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6" >
                        <div class="container">
                            <p class="int-value"><span id="days"></span></p>
                            <p class="string-value">dies</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="container">
                            <p class="int-value"><span id="hours"></span></p>
                            <p class="string-value">hores</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="container">
                            <p class="int-value"><span id="minutes"></span></p>
                            <p class="string-value">minuts</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="container">
                            <p class="int-value"><span id="seconds"></span></p>
                            <p class="string-value">segons</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% else %}

        <div class="container-fluid bg-gray p-0 m-0 py-5">
            <div class="jumbotron jumbotron-fluid bg-light text-center">
                <div class="container">
                <h1 class="titulo-principal text-center">{{compra_y_descubre.titulo}} ha començat!</h1>
                <p class="lead">Gaudeix de l'event que has estat esperant.</p>
                </div>
            </div>
        </div>

    {% endif %}


    {% if compra_y_descubre.compradescubrefichero %}
    <aside class="container-fuild  py-0 my-0" style="background-color:{{compra_y_descubre.primary_color}}">
        <div class="col-md-12 col-lg-12 agenda-special-categories p-5">
            <div class="text-center m-0 p-2" style="background-color:{{compra_y_descubre.primary_color}} !important">
                <a href="{{ compra_y_descubre.compradescubrefichero.fichero.archivo.url }}" target="_blank" class="btn btn-outline-dark btn-lg" >
                    <i class="fas fa-file-download"></i>
                    Descàrrega material addicional en PDF
                </a>
            </div>
        </div>
    </aside>
    
    {% endif %}

    {% if compra_y_descubre.entidades %}
        {% include 'compra_y_descubre/negocis_selection.html' %}
    {% endif %}

    {% if compra_y_descubre.sorteo %}
        {% include "compra_y_descubre/link_youtube.html" %}
    {% endif %}

    {% if compra_y_descubre.compradescubregaleriaimagen_set.all %}
        {% include 'compra_y_descubre/galeria_ganadores.html' %}
    {% endif %}




{% endblock asides %}

{% block extra_script %}
<script>
    // Funció per actualitzar el compte enrere
    function updateCountdown() {

        // Obtingu la data de l'esdeveniment especial i la data actual
        var eventDate = new Date("{{ compra_y_descubre.fecha_inicio|date:'Y-m-d' }}");
        var currentDate = new Date();
        // Calcula la diferència en mil·lisegons entre les dues dates
        var difference = eventDate.getTime() - currentDate.getTime();

        if (difference <= 0) {
            // Si el temps restant és 0 o negatiu, mostra un missatge o realitza alguna acció
            document.getElementById("countdown").innerHTML = "¡L'esdeveniment ha començat!";
            // Atura el compte enrere si ja ha arribat a 0
            clearInterval(countdownInterval);
            return;
        }

        // Calcula els dies, hores, minuts i segons restants
        var days = Math.floor(difference / (1000 * 60 * 60 * 24));
        var hours = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((difference % (1000 * 60)) / 1000);

        // Actualitza els elements HTML amb els valors calculats
        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;
    }

    // Espera que s'hagi carregat completament l'HTML
    document.addEventListener("DOMContentLoaded", function() {
        // Crida a la funció updateCountdown() inicialment per mostrar el compte enrere
        let countdownElement = document.getElementById("countdown")
        if(countdownElement){
            updateCountdown();

            // Actualitza el compte enrere cada segon
            var countdownInterval = setInterval(updateCountdown, 1000);
    
            // Atura el compte enrere si ja ha arribat a 0
            if (document.getElementById("countdown").innerHTML === "¡L'esdeveniment ha començat!") {
                clearInterval(countdownInterval);
            }
        }

        const refrescar = document.getElementById("refresh_youtube_link");
        if(refrescar){
            refrescar.addEventListener('click', function(){
                location.reload();
            })
        }

    });

</script>
{% endblock extra_script %}
