{% load i18n %}
{% if compra_y_descubre.entidades %}
<section class="container-fluid py-3" id="destacats">
    <div class="py-4">
        <h4 class="related-activities-title text-center h2 custom-title primary-color">
            {% blocktrans %}Comerços Participants a{% endblocktrans %}
            {{ compra_y_descubre.titulo }} 
            {% blocktrans %}a Cabrera de Mar{% endblocktrans %}
        </h4>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for entidad in compra_y_descubre.entidades.all %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                    <a href="{% if entidad.enllace %}{{ entidad.enllace }}{% endif %}" target="_blank" class="related-activity-link">
                        {{ entidad.nombre }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
