{% load static %}
<div class="container-social {% if user_agent.is_mobile %} parallax-mobile {% endif %}" style="background-color: {{ color_red_social }}">
    <ul class="list-group">
        {% for red_social in redes_sociales %}
        <li class="list-group-item">
            <a href="{{ red_social.link }}" target="_blank" title="{{ red_social.titulo }}">
                <img src="{{ red_social.imagen.url }}" alt="{{ red_social.titulo }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
