{% load i18n %}
{% if coleccion_destacados %}
<section class="container-fluid py-3 bg-light" id="destacats">
    <div class="py-3">
        <h3 class="related-activities-title text-center h2 custom-title">{% blocktrans %}Destacats{% endblocktrans %}</h3>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for evento in coleccion_destacados.eventos_especiales.all %}
                <div class="swiper-slide">
                    <a href="{% url 'eventos_especiales:evento_especial' slug=evento.slug %}" 
                    class="related-activity-link">
                    <div class="coleccion_destacados"> 
                        <div class="card related-activity-card mb-3 h-100">

                            {% if evento.medida_economica %}
                                <div class="evento-economic-measure">
                                   <small><strong>{{ evento.medida_economica.titulo }}</strong></small>
                                </div>
                            {% endif %}

                            {% if evento.imagen_especial %}
                                {% with imagen=evento.imagen_especial %}
                                    {% if imagen %}
                                    <div class="image-container">
                                        <picture>
                                            <img src="{{ imagen.url |urlencode }}" alt="{{ evento.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagen.height }}" loading="lazy">
                                        </picture>
                                    </div>                        
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                    {% with imagen=evento.eventoespecialgaleriaimagen_set.first %}
                                        {% if imagen %}
                                            <div class="image-container">
                                                <picture>
                                                    <source srcset="{{ imagen.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                                    <source srcset="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                                    <img src="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" alt="{{ evento.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagen.imagen.large_thumbnail.height }}" loading="lazy">
                                                </picture>
                                            </div>  
                                        {% endif %}
                                    {% endwith %}
                            {% endif %}
                            <div class="card-body text-center">
                                <h4 class="card-title related-activity-title">{{ evento.titulo }}</h4>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}


            {% for post in coleccion_destacados.coleccion.all %}
            <div class="swiper-slide">
                <a href="
                    {% if post.agenda %} 
                        {% url 'agenda:detalle_agenda' slug=post.slug %}
                    {% elif post.visitaguiada %}
                        {% url 'agenda:visites-guiades' slug=post.slug %}
                    {% elif post.mappoint %}
                        {% url 'map:mapa' slug=post.slug %}
                    {% else %}
                        {{ post.get_absolute_url }}
                    {% endif %}" 
                class="related-activity-link">
                    
                    <div class="card related-activity-card mb-3 h-100">
                        {% with imagen=post.postgaleriaimagen_set.first %}
                        {% if imagen %}
                        <div class="image-container">
                            <picture>
                                <source srcset="{{ imagen.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                <source srcset="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                <img src="{{ imagen.imagen.medium_thumbnail.url |urlencode }}" alt="{{ agenda.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagen.imagen.large_thumbnail.height }}" loading="lazy">
                            </picture>
                        </div>
                        {% else %}
                            {% with imagen_post=post.postimagen %}
                                {% if imagen_post %}
                                    <div class="image-container">
                                        <picture>
                                            <source srcset="{{ imagen_post.imagen.small_thumbnail.url |urlencode }}" media="(max-width: 575px)">
                                            <source srcset="{{ imagen_post.imagen.medium_thumbnail.url |urlencode }}" media="(max-width: 991px)">
                                            <img src="{{ imagen_post.imagen.medium_thumbnail.url |urlencode }}" alt="{{ agenda.titulo }}" class="img-fluid lazy-load-img" width="350" height="{{ imagen_post.imagen.large_thumbnail.height }}" loading="lazy">
                                        </picture>
                                    </div>
                                {% endif %}

                            {% endwith %}                       
                        {% endif %}
                        {% endwith %}
                        <div class="card-body text-center">
                            <h4 class="card-title related-activity-title">{{ post.titulo }}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="swiper-button-prev custom-prev"></div>
        <div class="swiper-button-next custom-next"></div>
    </div>
</section>

{% endif %}
