<!-- Link Externo -->
<li>
    <a href="{{ referencia.externo.enlace }}"
       target="_blank"
       class="block py-2 px-3 text-white dark:text-gray-100 rounded-lg hover:bg-gray-700/50 dark:hover:bg-gray-800/50 md:hover:bg-transparent md:border-0 md:hover:text-gaudeix-primary dark:md:hover:text-gaudeix-accent md:p-2 transition-all duration-200 font-semibold text-sm tracking-wide {{ referencia.externo.estil_del_text }}"
       style="color: {{ referencia.externo.color_letra }} !important;">
        {{ referencia.externo.titulo }}
    </a>
</li>
