{% extends 'core/base.html' %}

{% load static %}
{% load i18n %}

{% block meta_description %}
    {% if map.metadescripcion %}
        <meta name="Description" content="{{ map.metadescripcion | safe | striptags }}">
        <meta property="og:description" content="{{ map.metadescripcion }}">
    {% else %}
        {% if map.contenido %}
            <meta name="Description" content="{{ map.contenido | safe | striptags | truncatewords_html:150 }}">
            <meta property="og:description" content="{{ map.contenido | striptags | truncatewords_html:150 | safe }}">
        {% endif %}
    {% endif %}
{% endblock meta_description%}

{% block meta_keywords %}

    {% if map.tags.all %}
        <meta name="Keywords" content="{% for tag in map.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    {% endif %}

{% endblock meta_keywords %}

{% block canonical %}
  <link rel="canonical" href="{{ canonical_url }}"/>
{% endblock canonical %}

{% block title %}
    {% autoescape off %}
        {{ map.titulo |striptags | safe  }}
    {% endautoescape %}
{% endblock title %}

{% block extra_css %}
<style>
    div#map {
        height: 500px;
    }

    {% if not user_agent.is_mobile %}
        .col-md-5.map-container {
            padding-top: 10%;
        }
    {% endif %}
    .carousel-control-prev{
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }
    
    .carousel-control-next {
        width: 37%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.5;
        z-index: 1;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        opacity: 0.9;
    }


    .carousel-inner.text-center {
        text-align: center;
    }


    .img-cat-banner{
        max-height: 50vh !important;
        width: 100%;
        object-fit: cover;
    }

</style>
{% endblock extra_css %}


{% block media %}

    {% include 'map/map_carrusel.html' %}
    
{% endblock media %}

{% block content %}



<section class="pb-5 px-0 container-fluid">

    <div class="container-fluid content-agenda-detail-container mt-5">

        <div class="container pt-5">
            <div class="row">
                <div class="col-12 justify-content-center">
                    <div class="pb-5">
                        <h1 class="text-center p-3 h1">
                            {% if map.icono == 'station' %}
                                <i class="fas fa-train"></i>
                            {% elif map.icono == 'restaurant' %}
                                <i class="fas fa-utensils"></i>
                            {% elif map.icono == 'library' %}
                                <i class="fas fa-book"></i>
                            {% elif map.icono == 'hotel' %}
                                <i class="fas fa-bed"></i>
                            {% elif map.icono == 'town-hall' %}
                                <i class="fas fa-landmark"></i>
                            {% elif map.icono == 'theater' %}
                                <i class="fas fa-theater-masks"></i>
                            {% elif map.icono == 'sport' %}
                                <i class="fas fa-futbol"></i>
                            {% elif map.icono == 'serveis' %}
                                <i class="fas fa-concierge-bell"></i>
                            {% elif map.icono == 'transports' %}
                                <i class="fas fa-bus"></i>
                            {% elif map.icono == 'aparcaments' %}
                                <i class="fas fa-parking"></i>
                            {% elif map.icono == 'platges' %}
                                <i class="fas fa-umbrella-beach"></i>
                            {% elif map.icono == 'informació' %}
                                <i class="fas fa-info-circle"></i>
                            {% elif map.icono == 'jaciments' %}
                                <i class="fas fa-landmark"></i>
                            {% elif map.icono == 'patrimoni' %}
                                <i class="fas fa-archway"></i>
                            {% elif map.icono == 'flora-i-fauna' %}
                                <i class="fas fa-leaf"></i>
                            {% endif %}
                            {{ map.titulo }}
                        </h1>
                    </div>
                    
                </div>
                <div class="col-md-7">
                    <div class="container p-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    {% autoescape on %}
                                        {{ map.descripcion | safe }}
                                    {% endautoescape %}
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                {% with imagen=map.postimagen %}
                                    {% if imagen and imagen.imagen.archivo.url %}
                                        <div class="fancybox-carousel">
                                            <a href="{{ imagen.imagen.archivo.url }}" class="fancybox" data-fancybox="carousel" data-caption="{{ imagen.titulo }}">
                                            <img src="{{ imagen.imagen.archivo.url }}" alt="{{ imagen.titulo }}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="col-12">
                                            <small class="text-center">Fes clic a les imatges per veure la galeria completa</small>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-md-12 py-2">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-custom">
                                      <thead>
                                        <tr>
                                          <th colspan="2" class="table-header bg-dark text-white">{% blocktrans %}Dades adicionals{% endblocktrans %}</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td class="font-weight-bold"><i class="fas fa-map-marker-alt"></i>{% blocktrans %}Ubicació{% endblocktrans %}:</td>
                                          <td>
                                            <p>
                                              <span class="font-weight-bold" title="{{ map.titulo }}">{{ map.titulo }}</span>{% if map.calle %} - <span>{{ map.calle }}</span>{% endif %},
                                              <span>{{ map.codigo_postal }}</span> <span>{{ map.comunidad_autonoma }}</span>
                                            </p>
                                          </td>
                                        </tr>
                                        {% if map.postfichero and map.postfichero.fichero.archivo.url %}
                                        <tr>
                                          <td colspan="1" style="border-left:0px;">
                                            <i class="fas fa-file-pdf"></i>
                                            <strong>PDF:</strong>
                                            <a href="{{ map.postfichero.fichero.archivo.url }}" class="text-black" title="{{ map.postfichero.fichero.titulo }}" download>
                                              {% blocktrans %}descarregar{% endblocktrans %}
                                            </a>
                                          </td>
                                        </tr>
                                        {% endif %}
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                            <div class="col-md-12 pt-3">
                                <div class="social-share-buttons">
                                    <a href="https://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="fab fa-facebook-f fa-2x px-2"></i>
                                    </a>
                                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ agenda.titulo }}" target="_blank">
                                        <i class="fab fa-twitter fa-2x px-2"></i>
                                    </a>
                                    <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank">
                                        <i class="fab fa-instagram fa-2x px-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 map-container">
                    <div class="row justify-content-center align-content-center" style="height: 100%%;">
                        <div class="col-12 text-center">
                            <small>Punt d'Interès: Desxobreix-ho al Mapa</div>
                        </div>
                        <div id="map" style="width: 100%; height: 500px;"></div>
                        {% if map.contenido_adicional %}
                            <div class="col-12 pt-5">
                                <p>
                                    {% autoescape on %}
                                        {{ map.contenido_adicional | safe }}
                                    {% endautoescape %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    


    </div>
   {% if rutes %}
        <div class="container container-rutes pt-5">

            <h3>Rutes:</h3>
            <div class="row row-inline-cards justify-content-center">
                {% for post in rutes %}
                    <div class="col-12 col-md-6 col-lg-6 p-2">
                        <a href="{% url 'agenda:ruta' slug=post.slug %}" class="related-activity-link my-1">
                            <article class="card related-activity-card mb-3 h-100">
                                    <div class="image-container">
                                        {% if post.postimagen.imagen and  post.postimagen.imagen.archivo.url %}
                                            <img src="{{ post.postimagen.imagen.archivo.url }}" class="img-fluid lazy-load-img" alt="{{ post.titulo }}" loading="lazy" height="350px">
                                        {% endif %}
                                    </div>
                                    <div class="card-body text-center">
                                        <h5 class="card-title related-activity-title">{{ post.titulo }}</h5>
                                        <p class="card-text related-activity-description flex-grow-1">
                                            {% autoescape on %}
                                                {{ post.descripcion|striptags|truncatewords:30|safe }}
                                            {% endautoescape %}
                                            
                                        </p>
                                    <span class="text-primary text-left mt-auto url-link"> Saber més </span>
                            </article>
                        </a>
                    </div>
                    {% empty %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text">No hi ha rutes disponibles.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    {% endif %}
</section>

{% if llocs %}
<aside class="container-fluid">
    <div class="container pt-3 linked-relacions">
        <h3>Altres llocs d'interès</h3>
        <div class="row row-inline-cards justify-content-center">
            {% for post in llocs %}
            <div class="col-12 col-md-6 col-lg-6 p-2">
                <a href="{% url 'map:mapa' slug=post.slug %}" class="related-activity-link my-1">
                    <div class="card related-activity-card mb-3 h-100">
                        {% if post.postimagen.imagen and post.postimagen.imagen.archivo.url %}
                            <div class="image-container">
                                {% if post.postimagen.imagen %}
                                    <img src="{{ post.postimagen.imagen.archivo.url }}" loading="lazy" height="350px" class="img-fluid lazy-load-img" alt="{{ post.titulo }}">
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title related-activity-title">{{ post.titulo }}</h5>
                            <p class="card-text related-activity-description">
                                {% autoescape on %}
                                    {{ post.descripcion |striptags |truncatewords:30 | safe }}
                                {% endautoescape %}
                            </p>
                            <span class="text-primary text-left mt-auto url-link">Veure més</span>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">No hi ha posts disponibles.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

</aside>
{% endif %}


{% comment %} 
<aside class="container-fuild agenda-pdf-link pb-0 mb-0">
    <div class="col-md-12 col-lg-12 agenda-special-categories p-5 mt-5">
        <div class="text-center  m-0 p-2 bg-light agenda-pdf-link">
            <i class="fas fa-file-download fa-2x text-white mr-2"></i>
            <a href="{% url 'agenda:calendario_pdf' %}" class="btn btn-light">Descargar PDF de la Agenda</a>
        </div>
    </div>
</aside> {% endcomment %}

{% endblock %}

{% block asides %}
    {% if ultimos_eventos %}
        {% include 'agenda/selecciones/selector_agendas.html' %}
    {% endif %}
{% endblock asides %}


{% block extra_script %}
<script>

    let map;
    const parser = new DOMParser();

    {% if map.latitud and map.longitud %}
        function truncateDescription(description, wordCount) {
            // Convertir la descripción en un array de palabras
            const words = description.split(' ');
        
            // Verificar si la descripción ya tiene menos de `wordCount` palabras
            if (words.length <= wordCount) {
            return description;
            }
        
            // Obtener las primeras `wordCount` palabras y unirlas nuevamente en una cadena
            const truncatedWords = words.slice(0, wordCount);
            const truncatedDescription = truncatedWords.join(' ');
        
            // Agregar puntos suspensivos al final de la descripción truncada
            const finalDescription = truncatedDescription + '...';
        
            return finalDescription;
        }

        async function initMap() {
            
            const mapContainer = document.getElementById('map');
            const { Map } = await google.maps.importLibrary("maps");
            const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
              "marker",
            );

            const latitudInicio = parseFloat('{{ map.latitud|stringformat:".6f" }}'.replace(',', '.'));
            const longitudInicio = parseFloat('{{ map.longitud|stringformat:".6f" }}'.replace(',', '.'));
        
            let image = '';
            let enlace_google_maps = '';

            {% if map.postimagen.imagen %}
            image = '{{ map.postimagen.imagen.small_thumbnail.url }}';
            {% endif %}
            {% if map.enlace_google_maps %}
            enlace_google_maps = '{{ map.enlace_google_maps }}'; 
            {% endif %}
            let description = truncateDescription(`{% autoescape on %}{{map.descripcion|safe}}{% endautoescape %}`, 20);

            const point ={
                latitud: latitudInicio,
                longitud: longitudInicio,
                titulo: '{{ map.titulo }}',
                imagen: image,
                descripcion: description,
                enlace_google_maps: enlace_google_maps

            }


            const map = new Map(mapContainer, {
                center: { lat: latitudInicio, lng: longitudInicio },
                zoom: 14,
                mapTypeId: 'satellite',
                mapId: "4504f8b37365c3d0"
            });
            const marker = new AdvancedMarkerElement({
                position: { lat: latitudInicio, lng: longitudInicio },
                map: map,
                title: '{{ map.titulo }}',
                content: buildContent(point)
            });



            marker.addListener('click', (e) => {
                toggleHighlight(marker, point);
            });




            function buildContent(property) {
                // Crea el contenedor principal para el contenido del marcador.
                const baseURL = `${window.location.protocol}//${window.location.host}`;
              
                const googleMapsIcon = '<i class="fas fa-map-marked-alt px-1" aria-hidden="true"></i>';
                const internalLinkIcon = '<i class="fas fa-link px-1" aria-hidden="true"></i>';
                
                const content = document.createElement("div");
                content.className = "property";
              
              
                // Crea el contenido HTML dinámico.
                content.innerHTML = `
                  <div class="icon">
                      <i class="fa-solid fa-thumbtack" aria-hidden="true" style="color: #69920C;"></i>
                  </div>
                  <div class="details">
                      <div class="address address text-center text-uppercase text-primary h6">${property.titulo}</div>
                      <div class="description">${property.descripcion}</div>
                      <div class="features">
                          <div>
                              <i class="fas fa-camera fa-lg mb-2" aria-hidden="true" title="image"></i>
                              <span class="fa-sr-only">image</span>
                              <img src="${property.imagen}" alt="${property.titulo}" style="width: 100%; height: 200px; object-fit: cover;">
                          </div>
                              <div class="row justify-content-center">
                                ${property.enlace_google_maps ? `<div class="info-window-link py-2">${googleMapsIcon}<a class="link-opacity-100" href="${property.enlace_google_maps}" 
                                    target="_blank" rel="noopener noreferrer">Google Maps</a></div>` : ''}
                              </div>
                          </div>
                          
                      </div>
                  </div>
                `;
                setTimeout(() => {
                  const links = content.querySelectorAll('a');
                  links.forEach(link => {
                      link.addEventListener('click', (e) => {
                          e.stopPropagation(); // Previene la propagación del evento
                          // Opcionalmente, maneja el clic aquí, por ejemplo, abriendo el enlace en una nueva pestaña
                          // Esto podría no ser necesario si ya estás usando target="_blank" en tus enlaces
                          console.log("click inside");
                      });
                  });
              }, 0);
                return content;
            }

        }

        function toggleHighlight(markerView, property) {
            if (markerView.content.classList.contains("highlight")) {
              markerView.content.classList.remove("highlight");
              markerView.zIndex = null;
            } else {
              markerView.content.classList.add("highlight");
              markerView.zIndex = 1;
            }
        }
        
        function loadGoogleMapsAPI(callback) {
            var script = document.createElement('script');
            script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyA7t0HCgOTtsO3whwMzARtjbO-cvkPIyyQ&callback=' + callback;
            script.defer = true;
            script.async = true;
            document.head.appendChild(script);
        }

        loadGoogleMapsAPI('initMap');

      {% endif %}

    </script>
{% endblock extra_script %}